extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section.top-section--contacts
		.ts-container.container
			.ts-flex
				.ts-flex__left
					h1.ts-heading Контактная информация
					.ts-text-desktop
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					.ts-text-mobile
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut

				.ts-flex__right
					img.ts-pic(src="img/contacts.png" alt="")

	section.contacts-page
		.container
			.contacts-page-block
				.contacts-page-left-block
					.contacts-page-left-block-border
						form.form-main
							.form-main-heading Опишите свои задачи и мы сами предложим решение
							input.inputbox.form-main-input(placeholder="Ваше имя" required)
							input.inputbox.form-main-input.js-phone(placeholder="Телефон" required)
							input.inputbox.form-main-input(placeholder="Email" type="email" required)
							textarea.textarea.form-main-textarea(placeholder="Расскажите вашу задачу" required)
							button.form-main-button СВЯЗАТЬСЯ
				.contacts-page-right-block
					.form-main-heading Связаться со мной
					.contacts-page-grid
						.social-item
							svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
								circle(cx='16' cy='16' r='16' fill='#ABABAB')
								path(d='M7.5246 19.4713C8.68785 19.4713 9.83002 19.2894 10.9124 18.9317C11.4427 18.7508 12.0947 18.9168 12.4184 19.2492L14.5548 20.8619C17.0323 19.5394 18.5585 18.0138 19.8629 15.5548L18.2977 13.4741C17.891 13.068 17.7451 12.4747 17.9199 11.9181C18.2791 10.83 18.4616 9.6884 18.4616 8.52465C18.4615 7.68395 19.1455 7 19.9861 7H23.4754C24.3161 7 25 7.68395 25 8.5246C25 18.1607 17.1606 26 7.5246 26C6.68395 26 6 25.316 6 24.4754V20.9959C6.00005 20.1553 6.684 19.4713 7.5246 19.4713Z' fill='white')
							.social-item__group Телефон
								a.black(href='tel:+79852119040') +7 985 211 90 40
						.social-item
							svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M16 32C24.8387 32 32 24.8387 32 16C32 7.16133 24.8387 0 16 0C7.16133 0 0 7.16133 0 16C0 24.8387 7.16133 32 16 32ZM7.32133 15.6533L22.748 9.70533C23.464 9.44667 24.0893 9.88 23.8573 10.9627L23.8587 10.9613L21.232 23.336C21.0373 24.2133 20.516 24.4267 19.7867 24.0133L15.7867 21.0653L13.8573 22.924C13.644 23.1373 13.464 23.3173 13.0507 23.3173L13.3347 19.2467L20.748 12.5493C21.0707 12.2653 20.676 12.1053 20.2507 12.388L11.0893 18.156L7.14 16.924C6.28267 16.652 6.264 16.0667 7.32133 15.6533Z' fill='#ABABAB')
							.social-item__group Telegram
								a(href='http://t.me/vavilov') t.me/vavilov
						.social-item
							svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M16.004 0H15.996C7.174 0 0 7.176 0 16C0 19.5 1.128 22.744 3.046 25.378L1.052 31.322L7.202 29.356C9.732 31.032 12.75 32 16.004 32C24.826 32 32 24.822 32 16C32 7.178 24.826 0 16.004 0ZM25.314 22.594C24.928 23.684 23.396 24.588 22.174 24.852C21.338 25.03 20.246 25.172 16.57 23.648C11.868 21.7 8.84 16.922 8.604 16.612C8.378 16.302 6.704 14.082 6.704 11.786C6.704 9.49 7.87 8.372 8.34 7.892C8.726 7.498 9.364 7.318 9.976 7.318C10.174 7.318 10.352 7.328 10.512 7.336C10.982 7.356 11.218 7.384 11.528 8.126C11.914 9.056 12.854 11.352 12.966 11.588C13.08 11.824 13.194 12.144 13.034 12.454C12.884 12.774 12.752 12.916 12.516 13.188C12.28 13.46 12.056 13.668 11.82 13.96C11.604 14.214 11.36 14.486 11.632 14.956C11.904 15.416 12.844 16.95 14.228 18.182C16.014 19.772 17.462 20.28 17.98 20.496C18.366 20.656 18.826 20.618 19.108 20.318C19.466 19.932 19.908 19.292 20.358 18.662C20.678 18.21 21.082 18.154 21.506 18.314C21.938 18.464 24.224 19.594 24.694 19.828C25.164 20.064 25.474 20.176 25.588 20.374C25.7 20.572 25.7 21.502 25.314 22.594Z' fill='#ABABAB')
							.social-item__group What’sAPP
								a.black(href='tel:+79852119040') +7 985 211 90 40
						.social-item
							svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
								circle(cx='16' cy='16' r='16' fill='#ABABAB')
								path(d='M6.84563 9H24.1544C24.4386 9 24.7047 9.06558 24.9454 9.17361L17.5672 16.0919L15.459 17.9919L6.05488 9.17346C6.29552 9.0655 6.56151 9 6.84563 9Z' fill='white')
								path(d='M18.872 16.4999L25.8153 9.98942C25.9303 10.215 26 10.4644 26 10.7306V22.2691C26 22.5355 25.9301 22.7849 25.815 23.0106L18.872 16.4999Z' fill='white')
								path(d='M5.18498 9.98921C5.06985 10.2149 5 10.4643 5 10.7307V22.2691C5 22.5354 5.06977 22.7848 5.18482 23.0104L12.1281 16.4999L5.18498 9.98921Z' fill='white')
								path(d='M15.8939 19.2156L18.0019 17.3159L24.945 23.8265C24.7043 23.9345 24.4384 24 24.1542 24H6.84549C6.56129 24 6.29513 23.9344 6.05445 23.8264L12.9979 17.3158L15.0239 19.2156C15.144 19.3283 15.3015 19.3847 15.4589 19.3847C15.6163 19.3847 15.7737 19.3283 15.8939 19.2156Z' fill='white')
							.social-item__group E-mail
								a(href='mailto:mail@vavilov.com') mail@vavilov.com
					.form-main-heading Присоединяйтесь к сообществам
					.social-item
						svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M32 16C32 7.16479 24.8352 0 16 0C7.16479 0 0 7.16479 0 16C0 24.8352 7.16479 32 16 32C16.094 32 16.1875 31.998 16.2812 31.9963V19.541H12.8438V15.5349H16.2812V12.5869C16.2812 9.16797 18.3684 7.30713 21.4182 7.30713C22.8787 7.30713 24.134 7.41602 24.5 7.4646V11.0378H22.397C20.7378 11.0378 20.4165 11.8264 20.4165 12.9834V15.5349H24.3838L23.8667 19.541H20.4165V31.3818C27.1042 29.4646 32 23.3032 32 16Z' fill='#828282')
						.social-item__group Facebook
							a(href='http://facebook.com/vavilov') facebook.com/vavilov
					.social-item
						img(src="img/contacts/inst-colored.png")
						.social-item__group Instagram
							a(href='http://instagram.com/vavilov') instagram.com/vavilov