extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.for_company
		.for_company__title_block
			.container.for_company__title_block--flex
				.for_company__title_block--left
					.for_company__title_block--heading Информация о компании
					.for_company__title_block--subtitle Дженерал Лэджер наводит порядок в финансах,#[br(class="dbr")] делает процессы прозрачными и понятными
					.for_company__title_block--description.desktop #[span(style="width:30px; display: inline-block;")]Мы хотим, чтобы растущий бизнес мог максимально быстро самореализоваться и расти дальше, чтобы зрелый бизнес не потерял свои позиции и уверенно смотрел в будущее. Нам #[br(class="dbr")]важно, чтобы финансовые процессы в российском бизнесе #[br(class="dbr")]вышли из тени и стали инструментом управления, чтобы руководители компаний получили реальную основу для #[br(class="dbr")]принятия решений. 
					.for_company__title_block--description.desktop #[span(style="width:30px; display: inline-block;")]Мы помогаем компаниям увидеть полную финансовую картину своего бизнеса, включая прошлые периоды, текущее состояние, возможные перспективы. Мы даём гибкий инструмент, позволяющий руководителю, предотвратить нежелательные потери и повысить устойчивость бизнеса.
				img(src="images/for_informations_banner.png", alt="banner").for_company__title_block--banner
				.for_company__title_block--description.mobile Мы хотим, чтобы растущий бизнес мог максимально быстро самореализоваться и расти дальше, чтобы зрелый бизнес не потерял свои позиции и уверенно смотрел в будущее. Нам #[br(class="dbr")]важно, чтобы финансовые процессы в российском бизнесе #[br(class="dbr")]вышли из тени и стали инструментом управления, чтобы руководители компаний получили реальную основу для #[br(class="dbr")]принятия решений. 
				.for_company__title_block--description.mobile Мы помогаем компаниям увидеть полную финансовую картину своего бизнеса, включая прошлые периоды, текущее состояние, возможные перспективы. Мы даём гибкий инструмент, позволяющий руководителю, предотвратить нежелательные потери и повысить устойчивость бизнеса.
		.team_block
			.team_block--heading Команда
			.container.team_block--flex
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user1.png", alt="user")
					.team_block--name Владимир Вавилов
					.team_block--subname Руководитель проекта
					.team_block--wrapper
						.team_block--description Профессиональный финансовый директор
						.team_block--description 12-ти летний опыт работы в #[br(class="dbr")]крупных российских холдингах на ТОП-позициях
						.team_block--description Более 50 реализованных проектов в области финансов и автоматизации#[br(class="tbr")] бизнес-процессов
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user2.png", alt="user")
					.team_block--name Олег Дранко
					.team_block--subname Специалист по управлению корпоративными финансами
					.team_block--wrapper
						.team_block--description Доктор технических наук, доцент
						.team_block--description 25-летний практический опыт разработки и реализации#[br(class="dbr")] проектов по корпоративным финансам России и СНГ
						.team_block--description Более 180 реализованных проектов в области управления корпоративными финансами
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user3.jpg", alt="user")
					.team_block--name Инна Шатохина
					.team_block--subname Специалист по бухгалтерскому, налоговому, управленческому учету
					.team_block--wrapper
						.team_block--description Опыт работы в крупных производственных холдингах 20 #[br(class="dbr")]лет на позициях главный бухгалтер, финансовый директор
						.team_block--description Эксперт в области налогообложения
						.team_block--description Более 10 реализованных проектов в области оптимизации холдинговых структур
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user4.jpg", alt="user").castom_width
					.team_block--name Мария Царькова
					.team_block--subname Дипломированный юрист
					.team_block--wrapper
						.team_block--description Стаж профессиональной деятельности 14 лет
						.team_block--description Опыт успешной реализации проектов по реструктуризации холдингов и долговых обязательств
						.team_block--description Эксперт в большинстве#[br(class="dbr")] областей судебной практики
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user5.png", alt="user")
					.team_block--name Анастасия Пилипенко
					.team_block--subname Специалист по #[br(class="dbr")]корпоративным финансам
					.team_block--wrapper
						.team_block--description 10-ти летний опыт работы в крупных производственных холдингах
						.team_block--description Финансовый менеджмент #[br(class="dbr")]портфеля проектов на сумму#[br(class="dbr")] более 1,5 млрд. руб.
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user6.png", alt="user")
					.team_block--name Алла Семенова
					.team_block--subname Специалист по управленческому #[br(class="dbr")]учету, методолог
					.team_block--wrapper
						.team_block--description Высококвалифицированный экономист, главный бухгалтер
						.team_block--description Разработка методологии и постановка управленческого #[br(class="dbr")]учета на 15-ти промышленных предприятиях
						.team_block--description Трансформация финансовой отчетности в более 100 компаниях
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user7.png", alt="user")
					.team_block--name Сергей Игнатов
					.team_block--subname Системный архитектор, архитектор программного обеспечения
					.team_block--wrapper
						.team_block--description 20-ти летний опыт в информационных технологиях
						.team_block--description 10-ти летний опыт автоматизации в холдинговых структурах: разработка, внедрение и сопровождение проектов по управленческому учету, системам бюджетирования, казначейства, контроллинга
				.team_block--item
					.team_block--overlay
					.team_block--user
						img(src="images/user8.png", alt="user")
					.team_block--name Александр Сидов
					.team_block--subname Специалист по технической #[br(class="dbr")]поддержке и безопасности данных
					.team_block--wrapper
						.team_block--description 15 лет опыта работы по защите информации в банковской сфере
						.team_block--description 20-ти летний опыт разработки программного обеспечения B2B сектора
		.client_block
			.container
				.client_block--heading Наши клиенты
				.client_block--content
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client1.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client2.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client3.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client4.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client5.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client6.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client7.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item
							img(src="/bitrix/templates/images/client8.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item.bot_item
							img(src="/bitrix/templates/images/client9.png", alt="client")
					.client_block--item_wrapper.active
						.client_block--item.bot_item
							img(src="/bitrix/templates/images/client10.svg", alt="client")
					.client_block--item_wrapper.active
						.client_block--item.bot_item
							img(src="/bitrix/templates/images/client11.png", alt="client")
					.client_block--item_wrapper.active
						.client_block--item.bot_item
							img(src="/bitrix/templates/images/client12.svg", alt="client")
				.client_block--btn.active
					img(src="/bitrix/templates/img/arrow_btn.svg", alt="btn")
		.container
				.oc-slider-wrap
					.oc-slider
						.oc-slide
							.oc-slide-inner
								.oc-slide-pic
									img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
								.oc-slide-content
									.oc-slide-quote
										| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
										a.js-modal-comments-open  читать весь отзыв
									.oc-slide-row
										a.oc-slide-row-logo(href="")
											img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
										.oc-slide-row-info
											.oc-slide-row-info__fio Алексей Баранов
											.oc-slide-row-info__position Финансовый директор
						.oc-slide
							.oc-slide-inner
								.oc-slide-pic
									img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
								.oc-slide-content
									.oc-slide-quote
										| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
										a.js-modal-comments-open  читать весь отзыв
									.oc-slide-row
										a.oc-slide-row-logo(href="")
											img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
										.oc-slide-row-info
											.oc-slide-row-info__fio Алексей Баранов
											.oc-slide-row-info__position Финансовый директор
						.oc-slide
							.oc-slide-inner
								.oc-slide-pic
									img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
								.oc-slide-content
									.oc-slide-quote
										| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
										a.js-modal-comments-open  читать весь отзыв
									.oc-slide-row
										a.oc-slide-row-logo(href="")
											img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
										.oc-slide-row-info
											.oc-slide-row-info__fio Алексей Баранов
											.oc-slide-row-info__position Финансовый директор

		.oc-slider-controls
			#modal-full-comment.modal-custom.modal-full-comment
				.modal-fc-slider
					.modal-fc-slide
						.modal-fc-top
							.modal-fc-top__logo
								img(src="/bitrix/templates/GL/images/anderida.png", alt="")
							.modal-fc-top__text ANDERIDA
								br
								|  FINANCIAL GROUP
						.modal-fc-main
							.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
							.modal-fc-video-wrap
								.video-yt.js-video-yt.video-yt--h100.video-yt-btn
										.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
											img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
								.modal-fc-vid-name Алексей Тараповский
								.modal-fc-vid-positio Управляющий партнер, председатель правления
							.modal-fc-text
								p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
								p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
								p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
								p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

								ul.customized-ul-wrap
									li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
									li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
									li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
									li Определить структуру запасов, НМА и ОС компании по сумме.
									li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

								p Эта информация помогла компании оценить своё текущее положение дел, оценить
									br.dbr
									|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
									br.dbr
									|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

					.modal-fc-slide
						.modal-fc-top
							.modal-fc-top__logo
								img(src="/bitrix/templates/GL/images/anderida.png", alt="")
							.modal-fc-top__text ANDERIDA
								br
								|  FINANCIAL GROUP
						.modal-fc-main
							.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
							.modal-fc-video-wrap
								.video-yt.js-video-yt.video-yt--h100.video-yt-btn
										.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
											img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
								.modal-fc-vid-name Алексей Тараповский
								.modal-fc-vid-positio Управляющий партнер, председатель правления
							.modal-fc-text
								p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
								p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
								p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
								p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

								ul.customized-ul-wrap
									li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
									li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
									li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
									li Определить структуру запасов, НМА и ОС компании по сумме.
									li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

								p Эта информация помогла компании оценить своё текущее положение дел, оценить
									br.dbr
									|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
									br.dbr
									|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

					.modal-fc-slide
						.modal-fc-top
							.modal-fc-top__logo
								img(src="images/anderida.png", alt="")
							.modal-fc-top__text ANDERIDA
								br
								|  FINANCIAL GROUP
						.modal-fc-main
							.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
							.modal-fc-video-wrap
								.video-yt.js-video-yt.video-yt--h100.video-yt-btn
										.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
											img(src="images/com-mod-pic.jpg")
								.modal-fc-vid-name Алексей Тараповский
								.modal-fc-vid-positio Управляющий партнер, председатель правления
							.modal-fc-text
								p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
								p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
								p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
								p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

								ul.customized-ul-wrap
									li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
									li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
									li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
									li Определить структуру запасов, НМА и ОС компании по сумме.
									li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

								p Эта информация помогла компании оценить своё текущее положение дел, оценить
									br.dbr
									|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
									br.dbr
									|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

				.modal-fc-slider-nav
					.modal-fc-slider-nav__prev
						span Предыдущий отзыв
					.modal-fc-slider-nav__dots
					.modal-fc-slider-nav__next
						span Следующий отзыв



