extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section
		.ts-container.container
			.ts-flex
				.ts-flex__left
					h1.ts-heading Консолидированная отчетность для банка

					.ts-text-desktop
						p Для получения кредита и контроля ковенант
						p От недели и 100 000 руб.
					.ts-text-mobile
						p Для получения кредита и контроля ковенант. От недели и 100 000 руб.
					a.btn.btn--white.btn--with-right-arrow.ts-btn.ts-btn-desktop(href="") СКАЧАТЬ ПРЕЗЕНТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>

				.ts-flex__right
					img.ts-pic(src="img/ts.png" alt="")
					a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile(href="") СКАЧАТЬ ПРЕЗЕНТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>
	.result-section
		.rs-container.container
			h2.default-h2 Что вы получите в результате
			.rs-block-mobile-digit-1 1
			.rs-block
				.rs-block-row.rs-block-row-1
					.rs-block-row__left.rs-block-row__left--text.customized-ul-wrap
						.rs-block-digit.rs-block-digit-1 1
						.rs-block-title Консолидированную финансовую отчетность с детализацией до проводок
						ul.rs-block-ul
							li.rs-block-li Консолидированный финансовый отчет РСБУ по форме №1, форме №2 и форме №4
							li.rs-block-li Консолидированный управленческий баланс, отчет о доходах и расходах, отчет о движении денежных средств по всей группе компаний
					.rs-block-row__right
						.rs-multi-pic-flex
							a.rs-multi-pic-flex-item.rs-multi-pic-flex-item--orange(href="/images/form-1.png" data-fancybox="gallery-1" )
								.rs-multi-pic-flex-item-inner
									.rs-multi-pic-flex-item-text Форма № 1
									.rs-multi-pic-flex-item-img-wrap
										img(src="/images/form-1.png" alt="")
							a.rs-multi-pic-flex-item.rs-multi-pic-flex-item--orange(href="/images/form-2.png" data-fancybox="gallery-1" )
								.rs-multi-pic-flex-item-inner
									.rs-multi-pic-flex-item-text Форма № 2
									.rs-multi-pic-flex-item-img-wrap
										img(src="/images/form-2.png" alt="")
							a.rs-multi-pic-flex-item.rs-multi-pic-flex-item--orange(href="/images/form-3.png" data-fancybox="gallery-1" )
								.rs-multi-pic-flex-item-inner
									.rs-multi-pic-flex-item-text Форма № 4
									.rs-multi-pic-flex-item-img-wrap
										img(src="/images/form-3.png" alt="")
							a.rs-multi-pic-flex-item.rs-multi-pic-flex-item--blue(href="/images/form-4.png" data-fancybox="gallery-1" )
								.rs-multi-pic-flex-item-inner
									.rs-multi-pic-flex-item-text Balance
									.rs-multi-pic-flex-item-img-wrap
										img(src="/images/form-4.png" alt="")
							a.rs-multi-pic-flex-item.rs-multi-pic-flex-item--blue(href="/images/form-5.png" data-fancybox="gallery-1" )
								.rs-multi-pic-flex-item-inner
									.rs-multi-pic-flex-item-text P&L
									.rs-multi-pic-flex-item-img-wrap
										img(src="/images/form-5.png" alt="")
							a.rs-multi-pic-flex-item.rs-multi-pic-flex-item--blue(href="/images/form-6.png" data-fancybox="gallery-1" )
								.rs-multi-pic-flex-item-inner
									.rs-multi-pic-flex-item-text CashFlow
									.rs-multi-pic-flex-item-img-wrap
										img(src="/images/form-6.png" alt="")

				.rs-block-row.rs-block-row-2
					.rs-block-row__left
						a.rs-one-pic-wrap(href="/images/rs-left-pic.png" data-fancybox="gallery-2" )
							.rs-one-pic-wrap-inner
								img.rs-one-pic(src="/images/rs-left-pic.png" alt="")
					.rs-block-row__right.rs-block-row__right--text.customized-ul-wrap
						.rs-block-digit.rs-block-digit-2 2
						.rs-block-title Финансовый анализ и интерпретацию
						ul.rs-block-ul
							li.rs-block-li Презентация с обоснованием каждой&nbsp;цифры, ответы на вопросы
							li.rs-block-li Консультацию по подаче отчетности в банк&nbsp;для получения лучших условий кредита
							li.rs-block-li Расчет финансовых показателей - финансовый анализ и интерпретация

	section.we-will-suit-you-section
		.wwsy-container.container
			h2.default-h2 Мы идеально подойдем Вам, если:
			.wwsy-block
				.wwsy-block-item
					.wwsy-block-item__pic
						img(src="https://via.placeholder.com/110/2c2e85" alt="")
					.wwsy-block-item__text У вас группа или холдинг из&nbsp;2-15 юрлиц
				.wwsy-block-item
					.wwsy-block-item__pic
						img(src="https://via.placeholder.com/110/2c2e85" alt="")
					.wwsy-block-item__text Нужно сделать срочно, на этой или след. неделе
				.wwsy-block-item
					.wwsy-block-item__pic
						img(src="https://via.placeholder.com/110/2c2e85" alt="")
					.wwsy-block-item__text Нужна отчетность для кредита, ковенант
				.wwsy-block-item
					.wwsy-block-item__pic
						img(src="https://via.placeholder.com/110/2c2e85" alt="")
					.wwsy-block-item__text Нужны только отчеты, без&nbsp;внедрения софта
			.wwsy-block-mobile-counter
				.wwsy-block-mobile-counter__current.js-wwsy-block-mobile-counter__current 1
				.wwsy-block-mobile-counter__slash /
				.wwsy-block-mobile-counter__max 4
	section.how-we-work-section
		.hww-container.container
			h2.default-h2 Как мы готовим вашу отчетность
			.hww-block-mobile-tabs
				.hww-block-mobile-tab.hww-block-mobile-tab--active ШАГ 1
				.hww-block-mobile-tab ШАГ 2
				.hww-block-mobile-tab ШАГ 3
				.hww-block-mobile-tab ШАГ 4
			.hww-block
				.hww-block-item.hww-block-item--active.hww-block-item--active-visible
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="https://via.placeholder.com/364x220" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 1
							.hww-block-item-duration 30-60 мин.
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Бесплатная консультация
						.hww-block-item-desc Уточняем желаемый результат, чтобы сделать правильно с первого раза:
						ul
							li Какая отчетность нужна - в фискальных или регламентированных формах (РСБУ), в какой детализации, для какого банка, для каких целей, по какому количеству компаний
							li Финансовые коэффициенты и интерпретация по ним
							li Какая детализация нужна для управленческой отчетности
							li Когда нужно сделать

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="https://via.placeholder.com/364x220" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 2
							.hww-block-item-duration 1-8 часов
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Подписываем договор
						.hww-block-item-desc В договоре фиксируем:

						ul
							li Неразглашение конфиденциальных данных
							li Условия работы, результат, сроки
							li Нашу ответственность за результат и гарантии качества
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="https://via.placeholder.com/364x220" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 3
							.hww-block-item-duration 5-7 дней
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Присылаем готовые отчеты в таблицах
						.hww-block-item-desc От Вас нужна только выгрузка из главной книги Вашей учетной платформы. Дальше мы делаем элиминацию внутренних оборотов:

						ul
							li Определяем нестыковки в учете разных компаний Вашей&nbsp;группы
							li Приводим к единой учетной политике данные Ваших&nbsp;компаний
							li Создаем набор сводных таблиц в Excel
							li Присылаем через неделю готовую отчетность
							li Отвечаем на Ваши вопросы
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="https://via.placeholder.com/364x344	" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 4
							.hww-block-item-duration 7-14 дней
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Вы отправляете отчеты в банк
						.hww-block-item-desc Вы отправляете отчеты в банк и получаете кредит, или подтверждаете ковенанты. При необходимости - сделаем снова.
			.hww-block-mobile-unwrap
				span Развернуть
	section.why-choose-us-section
		.wcu-container.container
			h2.default-h2.wcu-h2 Почему лучше заказать у нас
			.wcu-block-wrap
				.wcu-block
					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/horseshoe.svg" alt="")
						.wcu-block-item__title Помогли привлечь 570 млн руб. кредитных средств
						.wcu-block-item__text
							p Для групп компаний и холдингов из 2&#8209;15 юрлиц
							p Знаем, в каком виде банку нужна финансовая отчетност
							p Оцениваем риск невозврата кредита, исходя из состояния бизнеса
							p Помогаем получить лучшие условия кредитования
					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/horseshoe.svg" alt="")
						.wcu-block-item__title
							| В 5 раз дешевле,
							br
							|  в 10 раз быстрее
						.wcu-block-item__text
							p Без проектирования, разработки и внедрения дополнительного софта
							p Работаем с компаниями любого размера и оборота
							p Гарантируем 100% безопасность Ваших&nbsp;данных
							p Обрабатываем 1.000.000 операций в выгрузке из 1С за неделю
							p Готовим отчетность без участия Ваших сотрудников
					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/horseshoe.svg" alt="")
						.wcu-block-item__title Устраняем разногласия в учетной политике
						.wcu-block-item__text
							p Показываем, где и на какие суммы есть разногласия в учете
							p Приводим к единому виду данные из компаний с разными политиками учета
							p Детализируем отчетность таблиц до отдельных проводок
							p Объясняем каждую цифру финансовых показателе
	section.solution-package-section
		.sp-container.container
			h2.default-h2 Что входит в&nbsp;комплект решений
			.sp-block-wrap
				.sp-block
					.sp-block-item
						.sp-block-item-pic.sp-block-item-pic--orange
							.sp-block-item-pic-inner
								img(src="/images/form-1.png" alt="")
						.sp-block-item-content
							.sp-block-item-content__title Финансовые отчеты РСБУ
							.sp-block-item-content__text Консолидированный финансовый отчет по форме №1, №2 и №4 - по группе в целом и отдельным компаниям

					.sp-block-item
						.sp-block-item-pic.sp-block-item-pic--blue
							.sp-block-item-pic-inner
								img(src="/images/form-4.png" alt="")
						.sp-block-item-content
							.sp-block-item-content__title Управленческая отчетность
							.sp-block-item-content__text Консолидированный упр. баланс, доходы и расходы, движение денег -&nbsp;по группе в целом и отдельным компаниям
					.sp-block-item
						.sp-block-item-pic.sp-block-item-pic--orange
							.sp-block-item-pic-inner
								img(src="/images/rs-left-pic.png" alt="")
						.sp-block-item-content
							.sp-block-item-content__title Фин. анализ и интерпретация
							.sp-block-item-content__text Расчет финансовых показателей (R&#8209;анализ), обоснование цифр, ответы на вопросы, помощь с отчетами в банк
				.wwsy-block-mobile-counter.sp-block-mobile-counter
					.wwsy-block-mobile-counter__current.js-sp-block-mobile-counter__current 1
					.wwsy-block-mobile-counter__slash /
					.wwsy-block-mobile-counter__max 3
	section.cost-and-terms-section
		.cat-container.container
			.cat-block
				.cat-block-top
					.cat-block-top-left
						.cat-block-title Стоимость и сроки
						.cat-block-left-row
							.cat-block-icon-with-text
								.cat-block-iwt-pic
									img(src="img/cat-icon.svg" alt="")
								.cat-block-iwt-text
									.cat-block-iwt-text__line-1 от 100 000 ₽
									.cat-block-iwt-text__line-2 за период учета в 12 мес.
							.cat-block-icon-with-text
								.cat-block-iwt-pic
									img(src="img/cat-icon.svg" alt="")
								.cat-block-iwt-text
									.cat-block-iwt-text__line-1 от 7 раб. дней
									.cat-block-iwt-text__line-2 для подготовки отчетности за год

					.cat-block-top-right
						.cat-block-title Бесплатная консультация
						.cat-block-icon-with-text.cat-block-icon-with-text--right
							.cat-block-iwt-pic
								img(src="img/cat-icon.svg" alt="")
							.cat-block-iwt-text
								.cat-block-iwt-text__line-1 +7 (495) 211 90 40
								a.cat-block-iwt-text__line-2(href="mailto:info@gl.finance") info@gl.finance
				.cat-block-bottom
					.cat-block-bottom__text Точную стоимость и сроки сообщим в течение 2-3 часов после консультации
					a.cat-block-bottom__presentation(href="") Скачать презентацию

	section.our-clients-section
		.oc-container.container
			h2.default-h2 Наши клиенты и их истории
			.oc-slider-wrap
				.oc-slider
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a(href="")  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a(href="")  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a(href="")  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор

				.oc-slider-controls

	section.answers-section
		.ans-container.container
			h2.default-h2 Ответы на часто задаваемые вопросы
			.ans-block
				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Мы уже подавали отчетность в банк, но нам отказали. Вы можете подготовить такую отчетность, чтобы одобрили кредит?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text У меня нет фин. директора, сможете сделать мне отчетность?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Я плохо разбираюсь в Excel, поможете?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text А что, если у нас разные политики учета по внутренним и внешним контрагентам?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Мы используем разные системы учета, не только 1С Бухгалтерия, сможете?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Мы используем разные системы учета, не только 1С Бухгалтерия, сможете?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text А если нужна отчетность в соответствии с формами отчетов банка?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.
