extends layouts/default

block vars
	-
		const page = {
		title: 'index.html'
		};




block main



	section.top-section.top-section--diag.top-section__main-page
		.ts-container.container
			.ts-flex
				.ts-flex__left
					h1.ts-heading Управленческая #[br(class="dbr")]и финансовая отчетность для Вашего бизнеса
					a.btn.btn--white.btn--with-right-arrow.ts-btn.ts-btn-desktop(href="") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>

				.ts-flex__right
					img.ts-pic(src="images/main_page_banner.png" alt="")
					a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile(href="") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>
	section.skills_block
		.container.skills_block--container
			.skills_block--item(style="background:62% 49% / 165% auto url(images/skills1.png) no-repeat")
				p Для получения кредита и контроля ковенант
				p от 7 дней
				a(href="#")
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
					</svg>
			.skills_block--item(style="background:45% 61% / 140% auto url(images/skills2.png) no-repeat")
				p Управленческая отчетность для холдинга или группы компаний
				p от 7 дней
				a(href="#")
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
					</svg>
			.skills_block--item(style="background:50% 44% / 152% auto url(images/skills3.png) no-repeat")
				p Управленческая отчетность для для отдельной компаний
				p от 7 дней
				a(href="#")
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
					</svg>
			.skills_block--item(style="background:44% 43% / 135% auto url(images/skills4.png) no-repeat")
				p Оптимизация структуры холдинга или группы
				p от 7 дней
				a(href="#")
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
					</svg>
			.skills_block--item(style="background:21% 47% / 134% auto url(images/skills5.png) no-repeat")
				p Комплексная диагностика корпоративных финансов
				p от 7 дней
				a(href="#")
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
					</svg>
			.skills_block--item(style="background:59% 53% / 143% auto url(images/skills6.png) no-repeat")
				p Полный набор данных для финансового директора
				p от 7 дней
				a(href="#")
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
					</svg>
	section.why_block
		.container
			h2.default-h2 Идеально подойдем Вам, если
			.wwsy-uprotch.wwsy-uprotch--diag
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 01
					.wwsy-uprotch-item__text Хотите разобраться, насколько хорошо идут дела в холдинге и в отдельных компаниях
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 02
					.wwsy-uprotch-item__text Нужна целостная картина бизнеса #[br(class="dbr")]и объективная информация для управления
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 03
					.wwsy-uprotch-item__text Нужно сделать финансовый #[br(class="dbr")]прогноз, например, потянете ли новый инвест-проект на своих оборотных или нужен кредит
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 04
					.wwsy-uprotch-item__text Нужна консолидированная отчетность для банка, #[br(class="dbr")]директоров или учредителей
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 05
					.wwsy-uprotch-item__text Нужен четкий контроль показателей и достижение финансовых целей кварталов и года

				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 06
					.wwsy-uprotch-item__text Данные нужны на этой неделе, #[br(class="dbr")]и нет времени ждать новый софт #[br(class="dbr")] для управленческого учета
	section.how-we-work-section.how-we-work-main-section
		.hww-container.container
			h2.default-h2 Как мы работаем
			.hww-block-mobile-tabs(style="padding-right: 5.8vw;")
				.hww-block-mobile-tab.hww-block-mobile-tab--active ШАГ 1
				.hww-block-mobile-tab ШАГ 2
				.hww-block-mobile-tab ШАГ 3
				.hww-block-mobile-tab ШАГ 4
			.hww-block
				.hww-block-item.hww-block-item--active.hww-block-item--active-visible
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="images/step-1.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 1
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Бесплатная консультация
						.hww-block-item-desc За час уточняем задачу и нужный результат. На следующий день присылаем сообщаем сроки и стоимость. Заключаем договор.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="images/step-3-1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 2
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Собираем и обрабатываем Данные
						.hww-block-item-desc Работаем с выгрузкой из главной книги. Разрабатываем единый классификатор статей, устраняем конфликты в учете в разных компаниях группы, описываем методологию.
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="images/all-for-fin-dir-step-3.png" alt="" syle="padding-top: 4px;")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 3
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Готовим таблицы (OLAP-кубы)
						.hww-block-item-desc Присылаем отчеты в сводных таблицах с детализацией до отдельных проводок, и подробное описание в аналитической записке.
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="images/all-for-fin-dir-step-4.png" alt="" )
						.hww-block-item-top__text
							.hww-block-item-step Шаг 4
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Отвечаем на вопросы и предлагаем решения
						.hww-block-item-desc Объясняем каждую цифру. Помогаем найти закономерности. Моделируем результаты #[br(class="dbr")]"а что, если...". Предлагаем, как получить результат быстрее и дешевле. Сопровождаем на пути к цели.

			.hww-block-mobile-unwrap
				span Развернуть
	section.our-results-in-digits.our-results-in-digits-main
		.orind-container.container
			h2.default-h2 Результаты в цифрах
			.orind-block
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 755
							span.orind-top__dimension млн руб.
						.orind-description Помогли привлечь на развитие бизнеса
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 920
							span.orind-top__dimension млн руб.
						.orind-description Оспорили решений налоговых органов
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 1,1
							span.orind-top__dimension млрд руб.
						.orind-description Сэкономили на имущественном налоге
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 20
							span.orind-top__dimension млрд руб.
						.orind-description Защитили
							br.mbr
							|  активов клиентов
	section.why-choose-us-section.why-choose-us-section--uprotch.why-choose-us-section-main
		.wcu-container.container
			h2.default-h2.wcu-h2 Почему с нами выгоднее
			.wcu-block-wrap
				.wcu-block.wcu-block--uprotch(data-counter-id="uprotc-o-wcu-1-counter")
					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon1.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Отчеты готовы уже на следующей неделе
							.wcu-block-item__text
								p
									b Переводим бухгалтерские данные в управленческую отчетность за #[br(class="dbr")]неделю-две, а не после внедрения нового софта через месяцы или годы.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon2.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title В 3-5 раз дешевле из-за снижения расходов
							.wcu-block-item__text
								p
								b Платите только за те отчеты, которые Вам реально нужны. Экономим Ваши деньги на разработке софта и переобучения Ваших сотрудников.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon3.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Без отрыва Ваших#[br(class="dbr")] сотрудников от работы
							.wcu-block-item__text
								p
									b Работаем автономно - от Вас только выгрузка главной книги и ответы на вопросы. Остальное делаем сами, без участия Ваших сотрудников.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon4.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Снижаем стоимость автоматизации на 20-30%
							.wcu-block-item__text
								p 
									b Создаем классификатор статей, устраняем разногласия в учете - это сокращает расходы на разработку нового софта.

			.wcu-uprotch-mobile-counter
				#uprotc-o-wcu-1-counter.wcu-uprotch-mobile-counter__current 1
				.wcu-uprotch-mobile-counter__slash /
				.wcu-uprotch-mobile-counter__max 6
