extends layouts/default

block vars
	-
		const page = {
		title: 'index.html'
		};




block main



	section.top-section.top-section--diag.top-section__main-page
		.ts-container.container
			.ts-flex
				.ts-flex__left
					h1.ts-heading.ts-desktop Управленческая #[br(class="dbr")]и финансовая отчетность для Вашего бизнеса
					a.btn.btn--white.btn--with-right-arrow.ts-btn.ts-btn-desktop(href="") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>

				.ts-flex__right
					img.ts-pic(src="/bitrix/templates/GL/images/main_page_banner.png" alt="")
					a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile(href="") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>
	section.skills_block
		.container.skills_block--container
			.skills_block--item
				.skills_block--item-inner(style="background:62% 49% / 165% auto url(/bitrix/templates/GL/images/skills1.png) no-repeat")
				p Консолидированная #[br] отчетность для банка
				p от 7 дней
				a(href="/uslugi/konsolidirovannaya-otchetnost/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/konsolidirovannaya-otchetnost/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:45% 61% / 140% auto url(/bitrix/templates/GL/images/skills2.png) no-repeat")
				p Управленческая  #[br] отчетность для#[br(class="mbr")] холдинга #[br(class="dbr tbr")] или группы#[br(class="mbr")] компаний
				p от 2-х недель
				a(href="/uslugi/upravlench-otchyotnost-holding/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/upravlench-otchyotnost-holding/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:50% 44% / 152% auto url(/bitrix/templates/GL/images/skills3.png) no-repeat")
				p Управленческая  #[br]отчетность для  #[br]отдельной компании
				p от 7 дней
				a(href="/uslugi/upravlench-otchyotnost/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/upravlench-otchyotnost/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:44% 43% / 135% auto url(/bitrix/templates/GL/images/skills4.png) no-repeat")
				p Оптимизация структуры  #[br]холдинга или группы
				p от 4-х недель
				a(href="/uslugi/optimizasia-holdinga/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/optimizasia-holdinga/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:21% 47% / 134% auto url(/bitrix/templates/GL/images/skills5.png) no-repeat")
				p Комплексная диагностика  #[br]корпоративных финансов
				p от 3-х дней
				a(href="/uslugi/diagnostika-finansov/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/diagnostika-finansov/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:59% 53% / 143% auto url(/bitrix/templates/GL/images/skills6.png) no-repeat")
				p Полный набор данных для#[br] финансового директора
				p от 2-х недель
				a(href="/uslugi/nabor-dannih-direktora/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/nabor-dannih-direktora/").skills_block--link
	section.why_block
		.container
			h2.default-h2 Идеально подойдем #[br(class="mbr")] Вам, если
			.wwsy-uprotch.wwsy-uprotch--diag.wwsy-block
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 01
					.wwsy-uprotch-item__text Нужно разобраться, насколько хорошо идут дела в холдинге и в отдельных компаниях
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 02
					.wwsy-uprotch-item__text Нужна целостная картина бизнеса #[br(class="dbr")]и объективная информация для управления
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 03
					.wwsy-uprotch-item__text Нужен финансовый прогноз для оценки инвест-проекта или привлечения кредитных средств
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 04
					.wwsy-uprotch-item__text Нужна консолидированная отчетность для банка, #[br(class="dbr")]директоров или учредителей
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 05
					.wwsy-uprotch-item__text Нужен четкий контроль показателей и достижение финансовых целей кварталов#[br(class="tbr")] и года

				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 06
					.wwsy-uprotch-item__text Данные нужны на этой неделе, #[br(class="dbr tbr")]и нет времени ждать новый софт #[br(class="dbr")] для управленческого учета
			<div class="wwsy-uprotch-counter"><span id="cp">1</span>/6</div>
	section.how-we-work-section.how-we-work-main-section
		.hww-container.container
			h2.default-h2 Как мы работаем
			.hww-block-mobile-tabs(style="padding-right: 5.8vw;")
				.hww-block-mobile-tab.hww-block-mobile-tab--active ШАГ 1
				.hww-block-mobile-tab ШАГ 2
				.hww-block-mobile-tab ШАГ 3
				.hww-block-mobile-tab ШАГ 4
			.hww-block
				.hww-block-item.hww-block-item--active.hww-block-item--active-visible
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/images/step-1.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 1
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Бесплатная консультация
						.hww-block-item-desc Уточняем задачу и нужный результат. На следующий день сообщаем сроки и стоимость. Заключаем договор.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/images/step-3-1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 2
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Собираем и обрабатываем данные
						.hww-block-item-desc Работаем с выгрузкой из главной книги. Разрабатываем единый классификатор статей, устраняем конфликты в учете в разных компаниях группы, описываем методологию.
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/images/all-for-fin-dir-step-3.png" alt="" syle="padding-top: 4px;")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 3
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Готовим таблицы (OLAP-кубы)
						.hww-block-item-desc Присылаем отчеты в сводных таблицах с детализацией до отдельных проводок, и подробное описание в аналитической записке.
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/images/all-for-fin-dir-step-4.png" alt="" )
						.hww-block-item-top__text
							.hww-block-item-step Шаг 4
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Отвечаем на вопросы и предлагаем решения
						.hww-block-item-desc Объясняем каждую цифру. Помогаем найти закономерности. Моделируем результаты #[br(class="dbr")]"а что, если...". Предлагаем, как получить результат быстрее и дешевле. Сопровождаем на пути к цели.

			.hww-block-mobile-unwrap
				span Развернуть
	section.our-results-in-digits.our-results-in-digits-main
		.orind-container.container
			h2.default-h2 Результаты в цифрах
			.orind-block
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 755
							span.orind-top__dimension млн руб.
						.orind-description Помогли привлечь на развитие бизнеса
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 520
							span.orind-top__dimension млн руб.
						.orind-description Оспорили решений налоговых органов
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 375
							span.orind-top__dimension млн руб.
						.orind-description Помогли оптимизировать затраты
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 10
							span.orind-top__dimension млрд руб.
						.orind-description Защитили
							br.mbr
							|  активы клиентов
	section.why-choose-us-section.why-choose-us-section--uprotch.why-choose-us-section-main
		.wcu-container.container
			h2.default-h2.wcu-h2 Почему с нами #[br(class="mbr")] выгоднее
			.wcu-block-wrap
				.wcu-block.wcu-block--uprotch(data-counter-id="uprotc-o-wcu-1-counter")
					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon1.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Отчеты готовы уже на#[br(class="mbr")] следующей неделе
							.wcu-block-item__text
								p
									b Переводим бухгалтерские данные в управленческую отчетность за #[br(class="dbr tbr")]неделю-две, а не после внедрения нового софта через месяцы или годы.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon2.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title В 3-5 раз дешевле из-за снижения расходов
							.wcu-block-item__text
								p
								b Платите только за те отчеты, которые Вам реально нужны. Экономим Ваши деньги на разработке софта и переобучения Ваших сотрудников.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon3.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Без отрыва Ваших#[br(class="dbr")] сотрудников от работы
							.wcu-block-item__text
								p
									b Работаем автономно - от Вас только выгрузка главной книги и ответы на вопросы. Остальное делаем сами, без участия Ваших сотрудников.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon4.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Снижаем стоимость автоматизации на 20-30%
							.wcu-block-item__text
								p 
									b Создаем классификатор статей, устраняем разногласия в учете - это сокращает расходы на разработку нового софта.

			.wcu-uprotch-mobile-counter
				#uprotc-o-wcu-1-counter.wcu-uprotch-mobile-counter__current 1
				.wcu-uprotch-mobile-counter__slash /
				.wcu-uprotch-mobile-counter__max 4
	section.slider-section-main
		.container
					h2.default-h2 Наши клиенты #[br(class="mbr")]и их истории
					.oc-slider-wrap
						.oc-slider
							.oc-slide
								.oc-slide-inner
									.oc-slide-pic
										img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
									.oc-slide-content
										.oc-slide-quote
											| Мы сотрудничаем с General Ledger уже 5 лет. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
											a.js-modal-comments-open  читать весь отзыв
										.oc-slide-row
											a.oc-slide-row-logo(href="")
												img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
											.oc-slide-row-info
												.oc-slide-row-info__fio Алексей Баранов
												.oc-slide-row-info__position Финансовый директор
							.oc-slide
								.oc-slide-inner
									.oc-slide-pic
										img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
									.oc-slide-content
										.oc-slide-quote
											| Мы сотрудничаем с General Ledger уже 5 лет. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
											a.js-modal-comments-open  читать весь отзыв
										.oc-slide-row
											a.oc-slide-row-logo(href="")
												img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
											.oc-slide-row-info
												.oc-slide-row-info__fio Алексей Баранов
												.oc-slide-row-info__position Финансовый директор
							.oc-slide
								.oc-slide-inner
									.oc-slide-pic
										img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
									.oc-slide-content
										.oc-slide-quote
											| Мы сотрудничаем с General Ledger уже 5 лет. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
											a.js-modal-comments-open  читать весь отзыв
										.oc-slide-row
											a.oc-slide-row-logo(href="")
												img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
											.oc-slide-row-info
												.oc-slide-row-info__fio Алексей Баранов
												.oc-slide-row-info__position Финансовый директор

						.oc-slider-controls
		#modal-full-comment.modal-custom.modal-full-comment
					.modal-fc-slider
						.modal-fc-slide
							.modal-fc-top
								.modal-fc-top__logo
									img(src="/bitrix/templates/GL/images/anderida.png", alt="")
								.modal-fc-top__text ANDERIDA
									br
									|  FINANCIAL GROUP
							.modal-fc-main
								.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
								.modal-fc-video-wrap
									.video-yt.js-video-yt.video-yt--h100.video-yt-btn
											.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
												img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
									.modal-fc-vid-name Алексей Тараповский
									.modal-fc-vid-positio Управляющий партнер, председатель правления
								.modal-fc-text
									p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
									p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
									p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
									p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

									ul.customized-ul-wrap
										li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
										li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
										li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
										li Определить структуру запасов, НМА и ОС компании по сумме.
										li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

									p Эта информация помогла компании оценить своё текущее положение дел, оценить
										br.dbr
										|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
										br.dbr
										|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

						.modal-fc-slide
							.modal-fc-top
								.modal-fc-top__logo
									img(src="/bitrix/templates/GL/images/anderida.png", alt="")
								.modal-fc-top__text ANDERIDA
									br
									|  FINANCIAL GROUP
							.modal-fc-main
								.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
								.modal-fc-video-wrap
									.video-yt.js-video-yt.video-yt--h100.video-yt-btn
											.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
												img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
									.modal-fc-vid-name Алексей Тараповский
									.modal-fc-vid-positio Управляющий партнер, председатель правления
								.modal-fc-text
									p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
									p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
									p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
									p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

									ul.customized-ul-wrap
										li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
										li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
										li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
										li Определить структуру запасов, НМА и ОС компании по сумме.
										li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

									p Эта информация помогла компании оценить своё текущее положение дел, оценить
										br.dbr
										|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
										br.dbr
										|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

						.modal-fc-slide
							.modal-fc-top
								.modal-fc-top__logo
									img(src="images/anderida.png", alt="")
								.modal-fc-top__text ANDERIDA
									br
									|  FINANCIAL GROUP
							.modal-fc-main
								.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
								.modal-fc-video-wrap
									.video-yt.js-video-yt.video-yt--h100.video-yt-btn
											.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
												img(src="images/com-mod-pic.jpg")
									.modal-fc-vid-name Алексей Тараповский
									.modal-fc-vid-positio Управляющий партнер, председатель правления
								.modal-fc-text
									p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
									p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
									p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
									p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

									ul.customized-ul-wrap
										li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
										li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
										li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
										li Определить структуру запасов, НМА и ОС компании по сумме.
										li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

									p Эта информация помогла компании оценить своё текущее положение дел, оценить
										br.dbr
										|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
										br.dbr
										|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

					.modal-fc-slider-nav
						.modal-fc-slider-nav__prev
							span Предыдущий отзыв
						.modal-fc-slider-nav__dots
						.modal-fc-slider-nav__next
							span Следующий отзыв
	.client_block.client_block-main
			.container
				.client_block--heading Нам доверяют
				.client_block--content
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client1.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client2.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client3.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client4.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client5.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client6.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client7.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item
							img(src="images/client8.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item.bot_item
							img(src="images/client9.png", alt="client")
					.client_block--item_wrapper
						.client_block--item.bot_item
							img(src="images/client10.svg", alt="client")
					.client_block--item_wrapper
						.client_block--item.bot_item
							img(src="images/client11.png", alt="client")
					.client_block--item_wrapper
						.client_block--item.bot_item
							img(src="images/client12.svg", alt="client")
				.client_block--btn
					img(src="img/arrow_btn.svg", alt="btn")
	section.papers_block
		.container
			h2.default-h2 Новые статьи и видео
			.papers__wrapper
				.papers-item
					.papers-item__top(style='background-image: url(images/papers_item1.jpg)')
						.papers-item__top-content
							.papers-item__author История
							.papers-item__title Какой уровень учета нужен <br> для бизнеса
					.papers-item__bottom
						.papers-item__desc Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой
														|  точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.
						.papers-item__nav
							a.papers-item__read(href='#')
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
				.papers-item
					.papers-item__top(style='background-image: url(images/papers_item8.jpg)')
						.papers-item__top-content
							.papers-item__author Интервью
							.papers-item__title Как финансовая отчетность влияет на развитие бизнеса
					.papers-item__bottom
						.papers-item__desc Интервью с участием Владимира Вавилова, в котором, используя простые аналогии, объясняется что такое финансовая
							|  отчетность и чем она важна для удержания и развития собственного бизнеса. Обсуждается также вопрос кто в компании
							|  должен заниматься ведением финансовой отчетности.
						.papers-item__nav
							a.papers-item__read(href='#')
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
			a.pb__all_papers(href="#") Все статьи