extends layouts/default

block vars
	-
		const page = {
		title: 'index.html'
		};




block main


	.oveflow-section
		section.top-section.top-section--diag.top-section__main-page
			.caption
				.caption__logo
					svg(width='274' height='37' viewBox='0 0 274 37' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M6.80002 18.3999H11.2C14.1067 18.3999 16.4267 19.2133 18.16 20.8399C19.92 22.4399 20.8 24.5599 20.8 27.1999C20.8 29.8399 19.92 31.9733 18.16 33.5999C16.4 35.1999 14.08 35.9999 11.2 35.9999H0.400024V7.99994H18.4V14.1599H6.80002V18.3999ZM6.80002 29.9999H11.2C13.3334 29.9999 14.4 29.0666 14.4 27.1999C14.4 25.3333 13.3334 24.3999 11.2 24.3999H6.80002V29.9999Z' fill='#FEB900')
						path(d='M32.1985 24.8799V29.8399H43.3985V35.9999H25.7985V7.99994H43.1985V14.1599H32.1985V18.7999H42.1985V24.8799H32.1985Z' fill='#FEB900')
						path(d='M62.1741 36.5599C57.9874 36.5599 54.5074 35.1733 51.7341 32.3999C48.9874 29.6266 47.6141 26.1599 47.6141 21.9999C47.6141 17.8399 48.9874 14.3866 51.7341 11.6399C54.4808 8.83994 57.9608 7.43994 62.1741 7.43994C64.6808 7.43994 67.0008 8.02661 69.1341 9.19994C71.2674 10.3466 72.9474 11.9199 74.1741 13.9199L68.6541 17.1199C68.0408 16.0266 67.1608 15.1866 66.0141 14.5999C64.8941 13.9866 63.6141 13.6799 62.1741 13.6799C59.6674 13.6799 57.6808 14.4399 56.2141 15.9599C54.7474 17.4533 54.0141 19.4666 54.0141 21.9999C54.0141 24.5333 54.7474 26.5466 56.2141 28.0399C57.6808 29.5599 59.6674 30.3199 62.1741 30.3199C63.5874 30.3199 64.8674 30.0133 66.0141 29.3999C67.1874 28.7866 68.0674 27.9466 68.6541 26.8799L74.1741 30.0799C72.9741 32.0799 71.3074 33.6666 69.1741 34.8399C67.0408 35.9866 64.7074 36.5599 62.1741 36.5599Z' fill='#FEB900')
						path(d='M79.1735 7.99994H100.373V35.9999H93.9735V14.1599H85.5735V35.9999H79.1735V7.99994Z' fill='#FEB900')
						path(d='M105.189 35.9999V29.9999C106.789 30.2399 107.962 29.9866 108.709 29.2399C109.456 28.4933 109.829 27.0399 109.829 24.8799V7.99994H129.189V35.9999H122.789V14.1599H116.229V24.6399C116.229 29.4133 115.016 32.6399 112.589 34.3199C110.456 35.7599 107.989 36.3199 105.189 35.9999Z' fill='#FEB900')
						path(d='M160.786 35.9999H153.786L152.386 31.5999H141.986L140.586 35.9999H133.586L143.106 7.99994H151.266L160.786 35.9999ZM147.186 15.3199L143.906 25.5999H150.466L147.186 15.3199Z' fill='#FEB900')
						path(d='M161.181 7.99994H181.981V14.1599H174.781V35.9999H168.381V14.1599H161.181V7.99994Z' fill='#FEB900')
						path(d='M201.983 18.7199V7.99994H208.383V35.9999H201.983V24.8799H193.183V35.9999H186.783V7.99994H193.183V18.7199H201.983Z' fill='#FEB900')
						path(d='M225.789 35.9999H215.189V7.99994H221.589V16.7999H225.789C228.562 16.7999 230.882 17.7333 232.749 19.5999C234.642 21.4933 235.589 23.7599 235.589 26.3999C235.589 29.0399 234.642 31.3066 232.749 33.1999C230.882 35.0666 228.562 35.9999 225.789 35.9999ZM244.389 35.9999H237.989V7.99994H244.389V35.9999ZM221.589 22.7999V29.9999H225.789C226.776 29.9999 227.589 29.6533 228.229 28.9599C228.869 28.2666 229.189 27.4133 229.189 26.3999C229.189 25.3866 228.869 24.5333 228.229 23.8399C227.589 23.1466 226.776 22.7999 225.789 22.7999H221.589Z' fill='#FEB900')
						path(d='M268.173 5.63994H256.173V0.439941H268.173V5.63994ZM273.173 35.9999H266.773V20.7999L255.973 35.9999H251.173V7.99994H257.573V23.1999L268.373 7.99994H273.173V35.9999Z' fill='#FEB900')
					svg(width='147' height='32' viewBox='0 0 147 32' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(fill-rule='evenodd' clip-rule='evenodd' d='M15.76 1.93994C11.8356 1.93994 8.52291 3.28984 5.79183 5.99517C3.06331 8.69794 1.69995 12.0219 1.69995 15.9999C1.69995 19.978 3.06331 23.3019 5.79183 26.0047C8.52291 28.71 11.8356 30.0599 15.76 30.0599C19.6843 30.0599 22.997 28.71 25.7281 26.0047C28.4566 23.3019 29.82 19.978 29.82 15.9999C29.82 12.0219 28.4566 8.69794 25.7281 5.99517C22.997 3.28984 19.6843 1.93994 15.76 1.93994ZM5.08808 5.28472C8.01032 2.39004 11.5776 0.939941 15.76 0.939941C19.9423 0.939941 23.5096 2.39004 26.4318 5.28472C29.3566 8.18195 30.82 11.7647 30.82 15.9999C30.82 20.2352 29.3566 23.8179 26.4318 26.7152C23.5096 29.6098 19.9423 31.0599 15.76 31.0599C11.5776 31.0599 8.01032 29.6098 5.08808 26.7152C2.16326 23.8179 0.699951 20.2352 0.699951 15.9999C0.699951 11.7647 2.16326 8.18195 5.08808 5.28472ZM35.4234 1.49994H40.9815L51.0234 15.633V1.49994H58.4234V30.4999H52.8653L42.8234 16.3669V30.4999H35.4234V1.49994ZM36.4234 2.49994V29.4999H41.8234V13.233L53.3815 29.4999H57.4234V2.49994H52.0234V18.7669L40.4653 2.49994H36.4234ZM64.2203 1.49994H71.6203V23.3399H81.6203V30.4999H64.2203V1.49994ZM65.2203 2.49994V29.4999H80.6203V24.3399H70.6203V2.49994H65.2203ZM85.439 1.49994H92.839V30.4999H85.439V1.49994ZM86.439 2.49994V29.4999H91.839V2.49994H86.439ZM98.65 1.49994H104.208L114.25 15.633V1.49994H121.65V30.4999H116.092L106.05 16.3669V30.4999H98.65V1.49994ZM99.65 2.49994V29.4999H105.05V13.233L116.608 29.4999H120.65V2.49994H115.25V18.7669L103.692 2.49994H99.65ZM127.447 1.49994H145.847V8.65994H134.847V12.2999H144.847V19.3799H134.847V23.3399H146.047V30.4999H127.447V1.49994ZM128.447 2.49994V29.4999H145.047V24.3399H133.847V18.3799H143.847V13.2999H133.847V7.65994H144.847V2.49994H128.447ZM9.5664 9.64639C11.2141 7.99866 13.2914 7.17994 15.76 7.17994C18.2036 7.17994 20.2669 7.99982 21.9135 9.64639C23.5896 11.3225 24.42 13.4539 24.42 15.9999C24.42 18.546 23.5896 20.6774 21.9135 22.3535C20.2669 24.0001 18.2036 24.8199 15.76 24.8199C13.2914 24.8199 11.2141 24.0012 9.5664 22.3535C7.9142 20.7013 7.09995 18.5683 7.09995 15.9999C7.09995 13.4316 7.9142 11.2986 9.5664 9.64639ZM15.76 8.17994C13.5352 8.17994 11.7191 8.90789 10.2735 10.3535C8.83237 11.7946 8.09995 13.6616 8.09995 15.9999C8.09995 18.3383 8.83237 20.2053 10.2735 21.6464C11.7191 23.092 13.5352 23.8199 15.76 23.8199C17.9563 23.8199 19.7596 23.0932 21.2064 21.6464C22.677 20.1758 23.42 18.3072 23.42 15.9999C23.42 13.6926 22.677 11.8241 21.2064 10.3535C19.7596 8.90673 17.9563 8.17994 15.76 8.17994Z' fill='white')
				.caption__title мастер-класс
					p <b>Владимира Вавилова</b>
				a.btn.caption__btn(href="") ПОДРОБНЕЕ
			.container.top-section__container
				.top-section__title Как построить эффективную финансовую систему для развития бизнеса, даже если сейчас проблемы в финансах
					|  делают его нестабильным и сложным в управлении
				.ts-slider-wrapper
					.ts-slider
						.ts-slider__item
							.ts-slider__left
								.ts-slider__title Улучшите финансовое состояние компании и перейдите от нестабильности к устойчивому развитию за 6 месяцев
								.ts-slider__text Персональная программа пошагового внедрения <br> инструментов управления финансами для собственников, <br>
									|  которые устали от финансовых проблем, нестабильности и сложностей управления
								a.btn.btn--orange.btn--with-right-arrow.btn--triangle-arrow.ts-btn(href="") УЗНАТЬ ПОДРОБНЕЕ
									<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FFE81B"/>
									<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
									</svg>
							.ts-slider__right
								img(src="images/banner-1.jpg" alt="")
						.ts-slider__item
							.ts-slider__left
								.ts-slider__title Улучшите финансовое состояние компании и перейдите от нестабильности к устойчивому развитию за 6 месяцев
								.ts-slider__text Персональная программа пошагового внедрения инструментов управления финансами для собственников,
									|  которые устали от финансовых проблем, нестабильности и сложностей управления
								a.btn.btn--orange.btn--with-right-arrow.btn--triangle-arrow.ts-btn(href="") УЗНАТЬ ПОДРОБНЕЕ
									<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FFE81B"/>
									<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
									</svg>
							.ts-slider__right
								img(src="images/banner-2.png" alt="")
					.ts-slider__prev
					.ts-slider__next
				.ts-slider__dots

		//section.top-section.top-section--diag.top-section__main-page
			.ts-container.container
				.ts-flex
					.ts-flex__left
						h1.ts-heading.ts-desktop Корпоративные финансы

						.ts-text-desktop
							p Для повышения прибыльности вашего бизнеса
						.ts-text-mobile
							p Для повышения прибыльности вашего бизнеса
						a.btn.btn--white.btn--with-right-arrow.btn--triangle-arrow.ts-btn.ts-btn-desktop(href="") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
							<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FFE81B"/>
							<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
							</svg>	

					.ts-flex__right
						img.ts-pic(src="img/restyle/banner-img.png" alt="" style="max-width:760px")
						a.btn.btn--orange.btn--with-right-arrow.btn--triangle-arrow.ts-btn.ts-btn-mobile(href="") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
							<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FFE81B"/>
							<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
							</svg>

	section.skills_block
		.container.skills_block--container
			.skills_block--item
				.skills_block--item-inner(style="background:180% 47% / 80% auto url(img/restyle/services5.jpg) no-repeat")
				p Диагностика корпоративных финансов за 3 часа
				p Покажем возможности роста, найдем причины проблем и ответы на ключевые вопросы
				a(href="/uslugi/diagnostika-finansov/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/diagnostika-finansov/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:270% 44% / 93% auto url(img/restyle/services6.jpg) no-repeat")
				p Управленческая отчетность за 2 недели
				p Покажем объективную картину бизнеса, сделаем прогноз достижения Ваших целей
				a(href="/uslugi/upravlench-otchyotnost-holding/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/upravlench-otchyotnost-holding/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:-160% 49% / 106% auto url(img/restyle/services1.jpg) no-repeat")
				p Отчетность для банка за 7 дней
				p Подготовим отчетность, объясним показатели, подскажем, как сдавать и общаться в банке
				a(href="/uslugi/konsolidirovannaya-otchetnost/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/konsolidirovannaya-otchetnost/").skills_block--link
			.skills_block--item
				.skills_block--item-inner(style="background:180% 43% / 82% auto url(img/restyle/services4.jpg) no-repeat")
				p Оптимизация структуры группы компаний
				p Определим оптимальную структуру холдинга, подготовим план перехода к новой структуре, поможем реализовать
				a(href="/uslugi/optimizasia-holdinga/").more_btn_wrapper Подробнее
					.more_btn
						<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13 13V0L15 0V15H0L0 13H13Z" fill="white"/>
						</svg>
				a(href="/uslugi/optimizasia-holdinga/").skills_block--link

	a(href='#').papers-item__read.papers-item__read--services
		span Все услуги
	section.why_block
		.container
			h2.default-h2 Идеально подойдем #[br(class="mbr")] Вам, если хотите
			.dns__wrapper
				.dns-item
					.dns-item__count
						.dns-item__digit 01
						.dns-item__action Увеличить
					ul.dns-item__list
						li Прибыльность
						li Платежеспособность компании
						li Рентабельность бизнеса
						li Управляемость и устойчивость бизнеса
						li Оборачиваемость оборотных средств
					.dns-item__icon
						img(src="https://glfinance.ru/bitrix/templates/GL/img/arrow-green-top-right.svg" alt="")
				.dns-item.dns-item--red
					.dns-item__count
						.dns-item__digit 02
						.dns-item__action Сократить
					ul.dns-item__list
						li Дефицит оборотного капитала
						li Затраты, налоги и кассовые разрывы
						li "Заморозку" денег в товарных запасах
						li Просроченную дебиторку
						li Кредитную нагрузку
					.dns-item__icon
						img(src="https://glfinance.ru/bitrix/templates/GL/img/arrow-red-bottom-right.svg" alt="")
				.dns-item.dns-item--red
					.dns-item__count
						.dns-item__digit 03
						.dns-item__action Избежать
					ul.dns-item__list
						li Двухлетнего внедрения
						li Многомиллионных бюджетов на софт
						li Ежемесячной платы за лицензии
						li Раздувания штата на обслуживание
						li Траты времени на изучения софта
					.dns-item__icon
						img(src="https://glfinance.ru/bitrix/templates/GL/img/close-red.svg" alt="")
				.dns-item
					.dns-item__count
						.dns-item__digit 04
						.dns-item__action Увидеть
					ul.dns-item__list
						li Полную картину финансов компании
						li Противоречия в учете по компаниям
						li Значение каждой цифры
						li Ситуацию в компании "со стороны"
						li Перспективы бизнеса на квартал и год
					.dns-item__icon
						img(src="https://glfinance.ru/bitrix/templates/GL/img/check-green.svg" alt="")
	//- section.how-we-work-section.how-we-work-main-section
		.hww-container.container
			h2.default-h2 Как мы работаем
			.hww-block-mobile-tabs
				.hww-block-mobile-tab.hww-block-mobile-tab--active ШАГ 1
				.hww-block-mobile-tab ШАГ 2
				.hww-block-mobile-tab ШАГ 3
				.hww-block-mobile-tab ШАГ 4
			.hww-block
				.hww-block-item.hww-block-item--active.hww-block-item--active-visible
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="img/restyle/step1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 1
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Бесплатная консультация
						.hww-block-item-desc Уточняем задачу и нужный результат. На следующий день сообщаем сроки и стоимость. Заключаем договор.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="img/restyle/step3.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 2
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Собираем и обрабатываем данные
						.hww-block-item-desc Работаем с выгрузкой из главной книги. Разрабатываем единый классификатор статей, устраняем конфликты в учете в разных компаниях группы, описываем методологию.
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="img/restyle/step5.png" alt="" syle="padding-top: 4px;")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 3
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Готовим таблицы (OLAP-кубы)
						.hww-block-item-desc Присылаем отчеты в сводных таблицах с детализацией до отдельных проводок, и подробное описание в аналитической записке.
				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="img/restyle/step4.png" alt="" )
						.hww-block-item-top__text
							.hww-block-item-step Шаг 4
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Отвечаем на вопросы и предлагаем решения
						.hww-block-item-desc Объясняем каждую цифру. Помогаем найти закономерности. Моделируем результаты #[br(class="dbr")]"а что, если...". Предлагаем, как получить результат быстрее и дешевле. Сопровождаем на пути к цели.

			.hww-block-mobile-unwrap
				span Развернуть
	section.our-results-in-digits.our-results-in-digits-main
		.orind-container.container
			h2.default-h2 Результаты в цифрах
			.orind-block
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 755
							span.orind-top__dimension млн руб.
						.orind-description Помогли привлечь на развитие бизнеса
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 520
							span.orind-top__dimension млн руб.
						.orind-description Оспорили решений налоговых органов
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 375
							span.orind-top__dimension млн руб.
						.orind-description Помогли оптимизировать затраты
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 10
							span.orind-top__dimension млрд руб.
						.orind-description Защитили
							br.mbr
							|  активы клиентов
	section.why-choose-us-section.why-choose-us-section--uprotch.why-choose-us-section-main
		.wcu-container.container
			h2.default-h2.wcu-h2 Почему с нами #[br(class="mbr")] выгоднее
			.wcu-block-wrap
				.wcu-block.wcu-block--uprotch(data-counter-id="uprotc-o-wcu-1-counter")
					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon1.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Отчеты готовы уже на#[br(class="mbr")] следующей неделе
							.wcu-block-item__text
								p
									b Переводим бухгалтерские данные в управленческую отчетность за #[br(class="dbr tbr")]неделю-две, а не после внедрения нового софта через месяцы или годы.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon2.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title В 3-5 раз дешевле из-за снижения расходов
							.wcu-block-item__text
								p
								b Платите только за те отчеты, которые Вам реально нужны. Экономим Ваши деньги на разработке софта и переобучения Ваших сотрудников.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon3.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Без отрыва Ваших#[br(class="dbr")] сотрудников от работы
							.wcu-block-item__text
								p
									b Работаем автономно - от Вас только выгрузка главной книги и ответы на вопросы. Остальное делаем сами, без участия Ваших сотрудников.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="img/why_icon4.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title Снижаем стоимость автоматизации на 20-30%
							.wcu-block-item__text
								p 
									b Создаем классификатор статей, устраняем разногласия в учете - это сокращает расходы на разработку нового софта.

			.wcu-uprotch-mobile-counter
				#uprotc-o-wcu-1-counter.wcu-uprotch-mobile-counter__current 1
				.wcu-uprotch-mobile-counter__slash /
				.wcu-uprotch-mobile-counter__max 4
	section.slider-section-main
		.container
			h2.default-h2 Наши клиенты #[br(class="mbr")]и их истории
			.oc-slider-wrap
				.oc-slider
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="https://glfinance.ru/bitrix/templates/GL/img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 5 лет. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a.js-modal-comments-open  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="https://glfinance.ru/bitrix/templates/GL/img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 5 лет. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a.js-modal-comments-open  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="https://glfinance.ru/bitrix/templates/GL/img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="https://glfinance.ru/bitrix/templates/GL/img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 5 лет. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a.js-modal-comments-open  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="https://glfinance.ru/bitrix/templates/GL/img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор

				.oc-slider-controls
		#modal-full-comment.modal-custom.modal-full-comment
			.modal-fc-slider
				.modal-fc-slide
					.modal-fc-top
						.modal-fc-top__logo
							img(src="https://glfinance.ru/bitrix/templates/GL/images/anderida.png", alt="")
						.modal-fc-top__text ANDERIDA
							br
							|  FINANCIAL GROUP
					.modal-fc-main
						.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
						.modal-fc-video-wrap
							.video-yt.js-video-yt.video-yt--h100.video-yt-btn
								.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
									img(src="https://glfinance.ru/bitrix/templates/GL/images/com-mod-pic.jpg")
							.modal-fc-vid-name Алексей Тараповский
							.modal-fc-vid-positio Управляющий партнер, председатель правления
						.modal-fc-text
							p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
							p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
							p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
							p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

							ul.customized-ul-wrap
								li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
								li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
								li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
								li Определить структуру запасов, НМА и ОС компании по сумме.
								li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

							p Эта информация помогла компании оценить своё текущее положение дел, оценить
								br.dbr
								|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
								br.dbr
								|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

				.modal-fc-slide
					.modal-fc-top
						.modal-fc-top__logo
							img(src="https://glfinance.ru/bitrix/templates/GL/images/anderida.png", alt="")
						.modal-fc-top__text ANDERIDA
							br
							|  FINANCIAL GROUP
					.modal-fc-main
						.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
						.modal-fc-video-wrap
							.video-yt.js-video-yt.video-yt--h100.video-yt-btn
								.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
									img(src="https://glfinance.ru/bitrix/templates/GL/images/com-mod-pic.jpg")
							.modal-fc-vid-name Алексей Тараповский
							.modal-fc-vid-positio Управляющий партнер, председатель правления
						.modal-fc-text
							p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
							p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
							p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
							p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

							ul.customized-ul-wrap
								li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
								li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
								li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
								li Определить структуру запасов, НМА и ОС компании по сумме.
								li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

							p Эта информация помогла компании оценить своё текущее положение дел, оценить
								br.dbr
								|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
								br.dbr
								|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

				.modal-fc-slide
					.modal-fc-top
						.modal-fc-top__logo
							img(src="https://glfinance.ru/bitrix/templates/GL/images/anderida.png", alt="")
						.modal-fc-top__text ANDERIDA
							br
							|  FINANCIAL GROUP
					.modal-fc-main
						.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
						.modal-fc-video-wrap
							.video-yt.js-video-yt.video-yt--h100.video-yt-btn
								.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
									img(src="images/com-mod-pic.jpg")
							.modal-fc-vid-name Алексей Тараповский
							.modal-fc-vid-positio Управляющий партнер, председатель правления
						.modal-fc-text
							p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
							p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
							p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
							p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

							ul.customized-ul-wrap
								li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
								li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
								li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
								li Определить структуру запасов, НМА и ОС компании по сумме.
								li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

							p Эта информация помогла компании оценить своё текущее положение дел, оценить
								br.dbr
								|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
								br.dbr
								|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

			.modal-fc-slider-nav
				.modal-fc-slider-nav__prev
					span Предыдущий отзыв
				.modal-fc-slider-nav__dots
				.modal-fc-slider-nav__next
					span Следующий отзыв
	.client_block.client_block-main
		.container
			.client_block--heading Нам доверяют
			.client_block--content
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client1.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client2.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client3.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client4.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client5.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client6.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client7.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client8.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item.bot_item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client9.png", alt="client")
				.client_block--item_wrapper
					.client_block--item.bot_item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client10.svg", alt="client")
				.client_block--item_wrapper
					.client_block--item.bot_item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client11.png", alt="client")
				.client_block--item_wrapper
					.client_block--item.bot_item
						img(src="https://glfinance.ru/bitrix/templates/GL/images/client12.svg", alt="client")
			.client_block--btn
				img(src="https://glfinance.ru/bitrix/templates/GL/img/arrow_btn.svg", alt="btn")
	section.papers_block.new-papers
		.container.new-papers__container
			h2.default-h2.default-h2--margin Новые статьи и видео
			//-.new-papers__wrapper
										a.new-papers__item(href="#")
											.new-papers__img(style="background-image: url(img/restyle/1.jpg)")
											.new-papers__title Памятка на время сильных колебаний на финансовых рынках
											.new-papers__author Владимир Вавилов
											.papers-item__read.new-papers__read
												span Читать
										a.new-papers__item(style="background-image: url(img/restyle/1.jpg)" href="#")
											.new-papers__title Памятка на время сильных колебаний на финансовых рынках
											.new-papers__author Владимир Вавилов
											.papers-item__read.new-papers__read
												span Читать
										a.new-papers__item(style="background-image: url(img/restyle/1.jpg)" href="#")
											.new-papers__title Памятка на время сильных колебаний на финансовых рынках
											.new-papers__author Владимир Вавилов
											.papers-item__read.new-papers__read
												span Читать

			.papers__wrapper
				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(https://glfinance.ru/bitrix/templates/GL/images/papers_item1-new.jpg)')
						.papers-item__top-content
							.papers-item__author История
							.papers-item__title Какой уровень учета нужен <br> для бизнеса
					figure.papers-item__bottom
						.papers-item__desc Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой
							|  точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="https://glfinance.ru/bitrix/templates/GL/img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="https://glfinance.ru/bitrix/templates/GL/img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(https://glfinance.ru/bitrix/templates/GL/images/papers_item8.jpg)')
						.papers-item__top-content
							.papers-item__author Интервью
							.papers-item__title Как финансовая отчетность влияет на развитие бизнеса
					figure.papers-item__bottom
						.papers-item__desc Интервью с участием Владимира Вавилова, в котором, используя простые аналогии, объясняется что такое финансовая
							|  отчетность и чем она важна для удержания и развития собственного бизнеса. Обсуждается также вопрос кто в компании
							|  должен заниматься ведением финансовой отчетности.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="https://glfinance.ru/bitrix/templates/GL/img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="https://glfinance.ru/bitrix/templates/GL/img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
			a.pb__all_papers(href="#") Все статьи