extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section.top-section--optish
		.ts-container.container
			.ts-flex
				.ts-flex__left
					h1.ts-heading Оптимизация структуры холдинга
					.ts-text-desktop
						p Защитим активы от рисков банкротства и захвата, уменьшим налоги, повысим управляемость бизнеса
						p От 4-х недель и 290 тыс. руб
					.ts-text-mobile
						p Защитим активы от рисков банкротства и захвата, уменьшим налоги, повысим управляемость бизнеса
						p От 4-х недель и 290 тыс. руб

					a.btn.btn--white.btn--with-right-arrow.ts-btn.ts-btn-desktop(href="") СКАЧАТЬ ПРЕЗЕНТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>

				.ts-flex__right
					img.ts-pic(src="/bitrix/templates/GL/img/optish-ts.png" alt="")
					a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile(href="") СКАЧАТЬ ПРЕЗЕНТАЦИЮ
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>
	section.result-section.result-section--uprot.result-section--optish
		.rs-container.container
			h2.default-h2 В результате Вы получаете:
			.sp-block-wrap
				.sp-block.sp-block--optish-sp-1(data-counter-id="optish-sp1-counter")
					.sp-block-item
						.sp-pic-optish-1
							a.component-fancy.sp-pic-optish-1-cf(href="images/optish-result-1.png" data-fancybox="optish-results-1")
								.component-fancy__inner
									img(src="images/optish-result-1.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Защиту активов от рисков банкротства или захвата
								.sp-block-item-title-number.sp-block-item-title-number--1 1
							.sp-block-item-content__text Определим оптимальную структуру холдинга. Поможем переоформить
								br.dbr
								|  активы и обязательства между
								br.tbr
								|  новыми и существующими
								br.tbr
								|   юрлицами холдинга, чтобы
								br.tbr
								|   исключить риск потери активов.

					.sp-block-item
						.sp-pic-optish-1
							a.component-fancy.sp-pic-optish-1-cf(href="images/optish-result-2.png" data-fancybox="optish-results-1")
								.component-fancy__inner
									img(src="images/optish-result-2.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Повышение управляемости и контроля в холдинге
								.sp-block-item-title-number 2

							.sp-block-item-content__text Поможем выстроить полный контроль расходов и поступлений с точным "маршрутом" движения товаров и денег внутри холдинга. Определим "правила игры" для отдельных компаний холдинга, их показатели и функции, чтобы упростить управление и контроль холдинга.

					.sp-block-item
						.sp-pic-optish-1
							a.component-fancy.sp-pic-optish-1-cf(href="images/optish-result-3.png" data-fancybox="optish-results-1")
								.component-fancy__inner
									img(src="images/optish-result-3.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Снижение затрат в т.ч. налога на&nbsp;прибыль и НДС
								.sp-block-item-title-number 3
							.sp-block-item-content__text Определим один центр прибыли или один или несколько центров расходов, чтобы сократить НДС и налог на прибыль. А за счет централизации функций и упрощения управления уменьшим операционные расходы.

				.wwsy-block-mobile-counter.sp-block-mobile-counter
					#optish-sp1-counter.wwsy-block-mobile-counter__current 1
					.wwsy-block-mobile-counter__slash /
					.wwsy-block-mobile-counter__max 6


	section.we-will-suit-you-section.we-will-suit-you-section--uprotch
		.wwsy-container.container
			h2.default-h2 Какие проблемы мы решаем
			.wwsy-uprotch.js-wwsy-uprotch-v2(data-counter-id="optish-wwsy-1-counter")
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 1
					.wwsy-uprotch-item__text Резко вырастают налоги,
						br.tbr
						|  или налоговая предъявляет претензии и&nbsp;штрафы
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 2
					.wwsy-uprotch-item__text Реальный риск потери активов из-за банкротства или враждебного поглощения одной или нескольких компаний внутри холдинга
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 3
					.wwsy-uprotch-item__text Нет ясности в прибыли холдинга в целом и отдельных компаний, непрозрачное движение денег и материальных ценностей между компаниями группы
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 4
					.wwsy-uprotch-item__text Слишком много активов
						br.dbr
						|  и денег в одной
						br.dbr
						|  компании, что ставит под удар всю группу в случае неплатежей клиентов
						br.dbr
						|  или блокировки счетов
						br.dbr
						|  по этой компании.
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 5
					.wwsy-uprotch-item__text Слишком большой
						br.dbr
						|  налог на прибыль и
						br.dbr
						|   НДС, потому что
						br.dbr
						|   каждая компания
						br.dbr
						|   группы самостоятельно реализует свою продукцию и услуги
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 6
					.wwsy-uprotch-item__text Слишком много денег "замораживаются" в запасах сырья и расходных материалах, потому что каждая компания группы самостоятельно закупает у поставщиков
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 7
					.wwsy-uprotch-item__text Высокие расходы на управление, потому что внутри холдинга слишком большой поток операций
						br.dbr
						|   и документов, для обработки которых нужны новые люди и софт
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 8
					.wwsy-uprotch-item__text Непонятно, как
						br.dbr
						|   правильно распределить активы внутри группы и между соучредителями, чтобы получать кредиты
						br.dbr
						|   на рост бизнеса


			.wwsy-uprotch-mobile-counter
				#optish-wwsy-1-counter.wwsy-uprotch-mobile-counter__current 1
				.wwsy-uprotch-mobile-counter__slash /
				.wwsy-uprotch-mobile-counter__max 2


	section.how-we-work-section.how-we-work-section--optish
		.hww-container.container
			h2.default-h2 Как мы это делаем
			.hww-block-mobile-tabs.hww-block-mobile-tabs--uprotch
				.hww-block-mobile-tab.hww-block-mobile-tab--active ШАГ 1
				.hww-block-mobile-tab ШАГ 2
				.hww-block-mobile-tab ШАГ 3
				.hww-block-mobile-tab ШАГ 4
				.hww-block-mobile-tab ШАГ 5
				.hww-block-mobile-tab ШАГ 6
			.hww-block.hww-block--not-mansory.hww-block-non-mob-hidden.hww-block--optish.js-hww-block--not-mansory
				.hww-block-item.hww-block-item--active.hww-block-item--active-visible
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-1.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 1
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Бесплатная консультация
						.hww-block-item-desc.hww-block-item-desc--non-bold Уточняем задачу, отвечаем на Ваши вопросы,
							br.dbr
							|  присылаем предложение по Вашему проекту.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-2.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 2
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Подписываем договор
						.hww-block-item-desc.hww-block-item-desc--non-bold В договоре фиксируем неразглашение конфиденциальных данных, условия работы, результат, сроки, нашу ответственность за результат и гарантии качества


				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-3-1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 3
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Вырабатываем решение
						.hww-block-item-desc.hww-block-item-desc--non-bold Изучаем документы и бухгалтерские регистры, строим структуру владения активами и налогообложения. При необходимости встречаемся или созваниваемся. Создаем новую договорную цепочку владения активами; новую систему отношений с контрагентами; рассчитываем новые налоги.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-4-1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 4
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Презентация решения
						.hww-block-item-desc.hww-block-item-desc--non-bold Показываем слабые места в структуре владения, налогообложения и управления. Предлагаем решение по&nbsp;оптимизации. Предоставляем пошаговый план оптимизации с подробной аналитической запиской.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-3.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 5
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Сопровождение оптимизации
						.hww-block-item-desc.hww-block-item-desc--non-bold Помогаем правильно переоформить документы, отвечаем на вопросы. Если включается Ваш юрист, консультируем его и проверяем правильность оформления документов.


				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-5-mini.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 6
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Финансовый результат
						.hww-block-item-desc.hww-block-item-desc--non-bold Налоги и штрафы уменьшаются уже в текущем отчетном периоде, так же как и риск потери активов из-за банкротства, рейдеров или вышедшего из-под контроля директора.

	section.why-choose-us-section.why-choose-us-section--optish
		.wcu-container.container
			h2.default-h2.wcu-h2
				span.dbr.tbr Почему выгоднее привлечь нас
				span.mbr Почему с нами выгоднее

			.wcu-block-wrap
				.wcu-block.wcu-block--optish(data-counter-id="optish-wcu1-counter")
					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/horseshoe.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								| Команда с
								br.mbr
								|  многолетним
								br.dbr.tbr
								|  опытом
							.wcu-block-item__text
								p
									| Работает
									b  команда из корпоративного юриста, финдиректора, налоговика, профессионального управленца
									|  с&nbsp;многолетним опытом.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/horseshoe.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								|  Экономим время Ваших
								br
								|  сотрудников
							.wcu-block-item__text
								p
									b  Не отвлекаем Ваших людей от работы
									|  - от Вас только
									br.dbr
									|  запрошенные документы и
									br.dbr
									|   данные, дальше мы сами.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/horseshoe.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								|  Предотвращаем
								br
								|  серьезные потери
							.wcu-block-item__text
								p
									|  Находим слабые места в структуре владения и налогообложения
									br.dbr
									|   и
									b  предотвращаем серьезные потери.
					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/horseshoe.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								|  Выгоднее чем специалисты
								br
								|  по отдельности
							.wcu-block-item__text
								p
									b  Команда
									|  специалистов
									b  выгоднее
									br.dbr
									b  и эффективнее,
									|  чем отдельно нанимать юриста, налоговика, методолга

			.wcu-uprotch-mobile-counter
				#optish-wcu1-counter.wcu-uprotch-mobile-counter__current 1
				.wcu-uprotch-mobile-counter__slash /
				.wcu-uprotch-mobile-counter__max 6

	section.our-results-in-digits
		.orind-container.container
			h2.default-h2 Наши результаты
				br.mbr
				|  в цифрах
			.orind-block
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 755
							span.orind-top__dimension млн руб.
						.orind-description Помогли привлечь на развитие бизнеса
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 920
							span.orind-top__dimension млн руб.
						.orind-description Оспорили решений налоговых органов
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 370
							span.orind-top__dimension млн руб.
						.orind-description Сэкономили на имущественном налоге
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 20
							span.orind-top__dimension млрд руб.
						.orind-description Защитили
							br.mbr
							|  активов клиентов
	section.solution-package-section.solution-package-section--optish
		.sp-container.container
			h2.default-h2 Что входит в комплект услуги
			#sp-block--optish-sp-2.sp-block-wrap.sp-block-wrap--optish-2.sp-block-wrap--tablet-slider.optish-sp-2--mobile-hide
				.sp-block.sp-block--tablet-slider.sp-block--optish-sp-2(data-counter-id="optish-sp2-counter")
					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="images/optish-ku-1.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="images/optish-ku-1.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Описание существующей
								br.dbr
								|  структуры холдинга

							ul.sp-block-item-ul
								li Правовой анализ юридических
									br.mbr
									|  лиц, входящих в группу компаний
									br.mbr
									|   – с учетом степени и характера их взаимодействия, конечным бенефициарам и сфер корпоративного влияния
								li Анализ движения денежно-товарных потоков между компаниями группы
								li Анализ налоговой нагрузки и рисков
							.sp-block-item-content__text
								b В результате: схема текущей структуры холдинга: владение, управление, налоговая нагрузка.

					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="images/optish-result-2.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="images/optish-result-2.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Проектирование оптимальной
								br.dbr
								|  холдинговой структуры

							ul.sp-block-item-ul
								li Разработка новой схемы владения и управления с учетом технического задания заказчика
								li Анализ финансовых показателей, экономической безопасности и объемов налогов по каждому юрлицу и консолидированно по группе

								li Расчет оптимальных финансовых показателей и оптимального движения товарно-денежных потоков

							.sp-block-item-content__text
								b В результате: схема новой структуры холдинга: владение, управление, налоговая нагрузка


					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="images/optish-ku-3.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="images/optish-ku-3.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Создание плана мероприятий
								br.dbr
								|   (дорожной карты)

							ul.sp-block-item-ul
								li План по оформлению новых денежно-товарных потоков между компаниями, объединения активов, разделения управления и ответственности
							.sp-block-item-content__text
								b В результате: дорожная карта перехода от существующей структуры холдинга к оптимальной структуре

					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="images/optish-ku-4.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="images/optish-ku-4.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Реализация плана
								br.dbr
								|   мероприятий
							ul.sp-block-item-ul
								li Шаг за шагом реализуем мероприятия дорожной карты
							.sp-block-item-content__text
								b В результате: схема новой структуры холдинга: владение, управление, налоговая нагрузка

				.mobile-unwrap.mobile-unwrap--optish-sp-2(data-mobile-unwrap-target-id="sp-block--optish-sp-2" data-mobile-unwrap-target-rclass="optish-sp-2--mobile-hide")
					span Развернуть
			.wwsy-block-mobile-counter.sp-block-mobile-counter
				#optish-sp2-counter.wwsy-block-mobile-counter__current 1
				.wwsy-block-mobile-counter__slash /
				.wwsy-block-mobile-counter__max 6
	section.cost-and-terms-section.cost-and-terms-section--optish
		.cat-container.container
			.cat-block.cat-block--optish
				.cat-block-top
					.cat-block-top-left
						.cat-block-title Стоимость и сроки
						.cat-block-left-row
							.cat-block-icon-with-text
								.cat-block-iwt-pic
									img(src="/bitrix/templates/GL/img/cat-icon.svg" alt="")
								.cat-block-iwt-text
									.cat-block-iwt-text__line-1 от 290 000 ₽
									.cat-block-iwt-text__line-2 оптимизация структуры холдинга

							.cat-block-icon-with-text
								.cat-block-iwt-pic
									img(src="/bitrix/templates/GL/img/cat-icon.svg" alt="")
								.cat-block-iwt-text
									.cat-block-iwt-text__line-1 от 4-х недель
									.cat-block-iwt-text__line-2 срок реализации проекта

					.cat-block-top-right
						.cat-block-title Бесплатная консультация
						.cat-block-icon-with-text.cat-block-icon-with-text--right
							.cat-block-iwt-pic
								img(src="/bitrix/templates/GL/img/cat-icon.svg" alt="")
							.cat-block-iwt-text
								.cat-block-iwt-text__line-1 +7 (495) 211 90 40
								a.cat-block-iwt-text__line-2(href="mailto:info@gl.finance") info@gl.finance
				.cat-block-bottom
					.cat-block-bottom__text Точную стоимость и сроки сообщим в течение 2-3 часов после консультации
					a.cat-block-bottom__presentation(href="") Скачать презентацию

	section.our-clients-section
		.oc-container.container
			h2.default-h2 Наши клиенты и их истории
			.oc-slider-wrap
				.oc-slider
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| General Ledger помогли нам сэкономить порядка 3 000 000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр...
									a.js-modal-comments-open  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Тараповский
										.oc-slide-row-info__position Управляющий партнер, председатель правления
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a.js-modal-comments-open  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор
					.oc-slide
						.oc-slide-inner
							.oc-slide-pic
								img(src="/bitrix/templates/GL/img/client-photo.jpg" alt="")
							.oc-slide-content
								.oc-slide-quote
									| Мы сотрудничаем с General Ledger уже 4 года. Компания сняла с нас все заботы по получению консолидированной отчетности — мы просто передаем бухгалтерские данные, а все остальное делает General Ledger. Особую благодарность хотелось бы выразить ...
									a.js-modal-comments-open  читать весь отзыв
								.oc-slide-row
									a.oc-slide-row-logo(href="")
										img(src="/bitrix/templates/GL/img/client-logo.png" alt="")
									.oc-slide-row-info
										.oc-slide-row-info__fio Алексей Баранов
										.oc-slide-row-info__position Финансовый директор
				.oc-slider-controls
			#modal-full-comment.modal-custom.modal-full-comment
				.modal-fc-slider
					.modal-fc-slide
						.modal-fc-top
							.modal-fc-top__logo
								img(src="images/anderida.png", alt="")
							.modal-fc-top__text ANDERIDA
								br
								|  FINANCIAL GROUP
						.modal-fc-main
							.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3 000 000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
							.modal-fc-video-wrap
								.video-yt.js-video-yt.video-yt--h100.video-yt-btn
										.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
											img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
								.modal-fc-vid-name Алексей Тараповский
								.modal-fc-vid-positio Управляющий партнер, председатель правления
							.modal-fc-text
								p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
								p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
								p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
								p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

								ul.customized-ul-wrap
									li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
									li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
									li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
									li Определить структуру запасов, НМА и ОС компании по сумме.
									li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

								p Эта информация помогла компании оценить своё текущее положение дел, оценить
									br.dbr
									|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
									br.dbr
									|  3 000 000 рублей на дальнейшей автоматизации компании.
					.modal-fc-slide
						.modal-fc-top
							.modal-fc-top__logo
								img(src="/bitrix/templates/GL/images/anderida.png", alt="")
							.modal-fc-top__text ANDERIDA
								br
								|  FINANCIAL GROUP
						.modal-fc-main
							.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3 000 000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
							.modal-fc-video-wrap
								.video-yt.js-video-yt.video-yt--h100.video-yt-btn
										.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
											img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
								.modal-fc-vid-name Алексей Тараповский
								.modal-fc-vid-positio Управляющий партнер, председатель правления
							.modal-fc-text
								p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
								p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
								p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
								p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

								ul.customized-ul-wrap
									li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
									li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
									li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
									li Определить структуру запасов, НМА и ОС компании по сумме.
									li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

								p Эта информация помогла компании оценить своё текущее положение дел, оценить
									br.dbr
									|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
									br.dbr
									|  3 000 000 рублей на дальнейшей автоматизации компании.
					.modal-fc-slide
						.modal-fc-top
							.modal-fc-top__logo
								img(src="/bitrix/templates/GL/images/anderida.png", alt="")
							.modal-fc-top__text ANDERIDA
								br
								|  FINANCIAL GROUP
						.modal-fc-main
							.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3 000 000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
							.modal-fc-video-wrap
								.video-yt.js-video-yt.video-yt--h100.video-yt-btn
										.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
											img(src="/bitrix/templates/GL/images/com-mod-pic.jpg")
								.modal-fc-vid-name Алексей Тараповский
								.modal-fc-vid-positio Управляющий партнер, председатель правления
							.modal-fc-text
								p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
								p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
								p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
								p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

								ul.customized-ul-wrap
									li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
									li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
									li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
									li Определить структуру запасов, НМА и ОС компании по сумме.
									li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

								p Эта информация помогла компании оценить своё текущее положение дел, оценить
									br.dbr
									|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
									br.dbr
									|  3 000 000 рублей на дальнейшей автоматизации компании.

				.modal-fc-slider-nav
					.modal-fc-slider-nav__prev
						span Предыдущий отзыв
					.modal-fc-slider-nav__dots
					.modal-fc-slider-nav__next
						span Следующий отзыв


	section.answers-section
		.ans-container.container
			h2.default-h2 Ответы на часто задаваемые вопросы
			.ans-block
				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Мы уже подавали отчетность в банк, но нам отказали. Вы можете подготовить такую отчетность, чтобы одобрили кредит?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text У меня нет фин. директора, сможете сделать мне отчетность?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Я плохо разбираюсь в Excel, поможете?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text А что, если у нас разные политики учета по внутренним и внешним контрагентам?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Мы используем разные системы учета, не только 1С Бухгалтерия, сможете?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text Мы используем разные системы учета, не только 1С Бухгалтерия, сможете?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

				.ans-item
					.ans-item-question
						.ans-iq-left-indicator
							| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
						.ans-iq__text А если нужна отчетность в соответствии с формами отчетов банка?
						.ans-iq-right-indicator
					.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.
