extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.oveflow-section
		section.top-section.top-section--optish
			.ts-container.container
				.ts-flex
					.ts-flex__left
						h1.ts-heading Оптимизация структуры группы компаний
						.ts-text-desktop
							p Для компаний из 3-15 юрлиц и оборотом от 500 млн.р. в год
							p Определим оптимальную структуру холдинга, подготовим план перехода к новой структуре, поможем реализовать
							p от 4-х недель
						.ts-text-mobile
							p Для компаний из 3-15 юрлиц и оборотом от 500 млн.р. в год
							p Определим оптимальную структуру холдинга, подготовим план перехода к новой структуре, поможем реализовать
							p от 4-х недель

						a.btn.btn--white.btn--with-right-arrow.ts-btn.ts-btn-desktop.btn--triangle-arrow.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
							<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FFE81B"/>
							<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
							</svg>

					.ts-flex__right
						img.ts-pic(src="/bitrix/templates/GL/img/optish-ts.png" alt="" style="max-width:724px;")
						a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile.btn--triangle-arrow.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
							<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FFE81B"/>
							<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
							</svg>

	section.result-section.result-section--uprot.result-section--optish
		.rs-container.container
			h2.default-h2 В результате Вы получаете:
			.sp-block-wrap
				.sp-block.sp-block--optish-sp-1(data-counter-id="optish-sp1-counter")
					.sp-block-item
						.sp-pic-optish-1
							a.component-fancy.sp-pic-optish-1-cf(href="/bitrix/templates/GL/images/optish-result-1.png" data-fancybox="optish-results-1")
								.component-fancy__inner
									img(src="/bitrix/templates/GL/images/optish-result-1.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Защиту активов от рисков банкротства или захвата
								.sp-block-item-title-number.sp-block-item-title-number--1 1
							.sp-block-item-content__text Определим оптимальную структуру холдинга. Поможем переоформить
								br.dbr
								|  активы и обязательства между
								br.tbr
								|  новыми и существующими
								br.tbr
								|   юрлицами холдинга, чтобы
								br.tbr
								|   исключить риск потери активов.

					.sp-block-item
						.sp-pic-optish-1
							a.component-fancy.sp-pic-optish-1-cf(href="/bitrix/templates/GL/images/optish-result-2.png" data-fancybox="optish-results-1")
								.component-fancy__inner
									img(src="/bitrix/templates/GL/images/optish-result-2.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Повышение управляемости и контроля в холдинге
								.sp-block-item-title-number 2

							.sp-block-item-content__text Поможем выстроить полный контроль расходов и поступлений с точным "маршрутом" движения товаров и денег внутри холдинга. Определим "правила игры" для отдельных компаний холдинга, их показатели и функции, чтобы упростить управление и контроль холдинга.

					.sp-block-item
						.sp-pic-optish-1
							a.component-fancy.sp-pic-optish-1-cf(href="/bitrix/templates/GL/images/optish-result-3.png" data-fancybox="optish-results-1")
								.component-fancy__inner
									img(src="/bitrix/templates/GL/images/optish-result-3.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Оптимизация затрат в т.ч. налога на&nbsp;прибыль и НДС
								.sp-block-item-title-number 3
							.sp-block-item-content__text Определим один центр прибыли или один или несколько центров расходов, чтобы оптимизировать НДС и налог на прибыль. А за счет централизации функций и упрощения управления уменьшим операционные расходы.

				.wwsy-block-mobile-counter.sp-block-mobile-counter
					#optish-sp1-counter.wwsy-block-mobile-counter__current 1
					.wwsy-block-mobile-counter__slash /
					.wwsy-block-mobile-counter__max 3


	section.we-will-suit-you-section.we-will-suit-you-section--optish
		.wwsy-container.container
			h2.default-h2 Какие проблемы мы решаем
			.wwsy-uprotch.js-wwsy-uprotch-v2(data-counter-id="optish-wwsy-1-counter")
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 1
					.wwsy-uprotch-item__text Резко вырастают налоги,
						br.tbr
						|  или фискальные органы предъявляют претензии и&nbsp;штрафы
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 2
					.wwsy-uprotch-item__text Реальный риск потери активов из-за банкротства или враждебного поглощения одной или нескольких компаний внутри холдинга
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 3
					.wwsy-uprotch-item__text Нет ясности в прибыли холдинга в целом и отдельных компаний, непрозрачное движение денег и материальных ценностей между компаниями группы
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 4
					.wwsy-uprotch-item__text Слишком много активов
						br.dbr
						|  и денег в одной
						br.dbr
						|  компании, что ставит под удар всю группу в случае неплатежей клиентов
						br.dbr
						|  или блокировки счетов
						br.dbr
						|  по этой компании.
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 5
					.wwsy-uprotch-item__text Слишком большой
						br.dbr
						|  налог на прибыль и
						br.dbr
						|   НДС, потому что
						br.dbr
						|   каждая компания
						br.dbr
						|   группы самостоятельно реализует свою продукцию и услуги
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 6
					.wwsy-uprotch-item__text Слишком много денег "замораживается" в запасах сырья и расходных материалах, потому что каждая компания группы самостоятельно закупает у поставщиков
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 7
					.wwsy-uprotch-item__text Высокие расходы на управление, потому что внутри холдинга слишком большой поток операций
						br.dbr
						|   и документов, для обработки которых нужны новые люди и софт
				.wwsy-uprotch-item
					.wwsy-uprotch-item__number
						span 8
					.wwsy-uprotch-item__text Непонятно, как
						br.dbr
						|   правильно распределить активы внутри группы и между соучредителями, чтобы получать кредиты
						br.dbr
						|   на рост бизнеса


			.wwsy-uprotch-mobile-counter
				#optish-wwsy-1-counter.wwsy-uprotch-mobile-counter__current 1
				.wwsy-uprotch-mobile-counter__slash /
				.wwsy-uprotch-mobile-counter__max.tablet 2
				.wwsy-uprotch-mobile-counter__max.mobile 8


	//- section.how-we-work-section.how-we-work-section--optish
		.hww-container.container
			h2.default-h2 Как мы работаем
			.hww-block-mobile-tabs.hww-block-mobile-tabs--uprotch
				.hww-block-mobile-tab.hww-block-mobile-tab--active ШАГ 1
				.hww-block-mobile-tab ШАГ 2
				.hww-block-mobile-tab ШАГ 3
				.hww-block-mobile-tab ШАГ 4
				.hww-block-mobile-tab ШАГ 5
				.hww-block-mobile-tab ШАГ 6
			.hww-block.hww-block--not-mansory.hww-block-non-mob-hidden.hww-block--optish.js-hww-block--not-mansory
				.hww-block-item.hww-block-item--active.hww-block-item--active-visible
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-1.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 1
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Бесплатная консультация
						.hww-block-item-desc.hww-block-item-desc--non-bold Уточняем задачу, отвечаем на Ваши вопросы,
							br.dbr
							|  присылаем предложение по Вашему проекту.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-2.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 2
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Подписываем договор
						.hww-block-item-desc.hww-block-item-desc--non-bold В договоре фиксируем неразглашение конфиденциальных данных, условия работы, результат, сроки, нашу ответственность за результат и гарантии качества


				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-3-1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 3
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Вырабатываем решение
						.hww-block-item-desc.hww-block-item-desc--non-bold Изучаем документы и бухгалтерские регистры, выстраиваем структуру владения активами и схему налогообложения. Создаем новую договорную цепочку владения активами; новую систему отношений с контрагентами; рассчитываем новую налоговую нагрузку.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-4-1.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 4
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Презентация решения
						.hww-block-item-desc.hww-block-item-desc--non-bold Показываем слабые места в структуре владения, налогообложения и управления. Предлагаем решение по&nbsp;оптимизации. Предоставляем пошаговый план оптимизации с подробной аналитической запиской.

				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-3.jpg" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 5
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Сопровождение оптимизации
						.hww-block-item-desc.hww-block-item-desc--non-bold Помогаем правильно переоформить документы, отвечаем на вопросы. Если включается Ваш юрист, консультируем его и проверяем правильность оформления документов.


				.hww-block-item
					.hww-block-item-top
						.hww-block-item-top__pic
							img(src="/bitrix/templates/GL/images/step-5-mini.png" alt="")
						.hww-block-item-top__text
							.hww-block-item-step Шаг 6
					.hww-block-item-bottom.customized-ul-wrap
						.hww-block-item-title Финансовый результат
						.hww-block-item-desc.hww-block-item-desc--non-bold Налоги и штрафы уменьшаются уже в текущем отчетном периоде, так же как и риск потери активов из-за банкротства, рейдеров или вышедшего из-под контроля директора.

	section.why-choose-us-section.why-choose-us-section--optish
		.wcu-container.container
			h2.default-h2.wcu-h2
				span.dbr.tbr Почему выгоднее привлечь нас
				span.mbr Почему с нами выгоднее

			.wcu-block-wrap
				.wcu-block.wcu-block--optish(data-counter-id="optish-wcu1-counter")
					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/icons/icon-10.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								| Команда с
								br.mbr
								|  многолетним
								br.dbr.tbr
								|  опытом
							.wcu-block-item__text
								p
									| Работает
									b  команда из корпоративного юриста, финдиректора, налоговика, профессионального управленца
									|  с&nbsp;многолетним опытом.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/icons/icon-5.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								|  Экономим время Ваших
								br
								|  сотрудников
							.wcu-block-item__text
								p
									b  Не отвлекаем Ваших людей от работы
									|  - от Вас только
									br.dbr
									|  запрошенные документы и
									br.dbr
									|   данные, дальше мы сами.

					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/icons/icon-11.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								|  Предотвращаем
								br
								|  серьезные потери
							.wcu-block-item__text
								p
									|  Находим слабые места в структуре владения и налогообложения
									br.dbr
									|   и
									b  предотвращаем серьезные потери.
					.wcu-block-item
						.wcu-block-item__icon
							img(src="/bitrix/templates/GL/img/icons/icon-1.svg" alt="")
						.wcu-block-item-content
							.wcu-block-item__title
								|  Выгоднее чем специалисты
								br
								|  по отдельности
							.wcu-block-item__text
								p
									b  Команда
									|  специалистов
									b  выгоднее
									br.dbr
									b  и эффективнее,
									|  чем отдельно нанимать юриста, налоговика, методолога

			.wcu-uprotch-mobile-counter
				#optish-wcu1-counter.wcu-uprotch-mobile-counter__current 1
				.wcu-uprotch-mobile-counter__slash /
				.wcu-uprotch-mobile-counter__max 4

	section.our-results-in-digits
		.orind-container.container
			h2.default-h2 Наши результаты
				br.mbr
				|  в цифрах
			.orind-block
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 755
							span.orind-top__dimension млн руб.
						.orind-description Помогли привлечь на развитие бизнеса
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 520
							span.orind-top__dimension млн руб.
						.orind-description Оспорили решений налоговых органов
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 375
							span.orind-top__dimension млн руб.
						.orind-description Помогли оптимизировать затраты
				.orind-item
					.orind-item-inner
						.orind-top
							span.orind-top__digit 10
							span.orind-top__dimension млрд руб.
						.orind-description Защитили
							br.mbr
							|  активов клиентов

	section.who-make-section
		.container
			h2.default-h2 Кто разрабатывает структуру
			.wms-block.js-wms-slider(data-counter-id="wms-counter")
				.wms-block-item
					.wms-block-item__expert
						img(src="/bitrix/templates/GL/images/user2.png" alt="")
					.wms-block-item__name Олег Дранко
					.wms-block-item__position Эксперт по управлению <br> корпоративными финансами
					ul.wms-block-item__list
						li Доктор технических наук, доцент
						li 25-летний практический опыт разработки и реализации проектов по корпоративным финансам России и СНГ
						li Более 180 реализованных проектов в области управления корпоративными финансами
				.wms-block-item
					.wms-block-item__expert
						img(src="/bitrix/templates/GL/images/user3.jpg" alt="")
					.wms-block-item__name Инна Шатохина
					.wms-block-item__position Эксперт в области налогообложения
					ul.wms-block-item__list
						li Опыт работы в крупных производственных холдингах 20 лет на позициях главный бухгалтер, финансовый директор
						li Специалист по бухгалтерскому, налоговому, управленческому учету
						li Более 10 реализованных проектов в области оптимизации холдинговых структур
				.wms-block-item
					.wms-block-item__expert
						img(src="/bitrix/templates/GL/images/user4.jpg" alt="")
					.wms-block-item__name Мария Царькова
					.wms-block-item__position Эксперт в корпоративной судебной практике
					ul.wms-block-item__list
						li Стаж профессиональной деятельности 14 лет
						li Опыт успешной реализации проектов по реструктуризации холдингов и долговых обязательств
						li Юрист широкого профиля
			.wms-mobile-counter
				#wms-counter.wms-mobile-counter__current 1
				.wms-mobile-counter__slash /
				.wms-mobile-counter__max.tablet 2
				.wms-mobile-counter__max.mobile 3


	section.solution-package-section.solution-package-section--optish
		.sp-container.container
			h2.default-h2 Что входит в комплект услуги
			#sp-block--optish-sp-2.sp-block-wrap.sp-block-wrap--optish-2.sp-block-wrap--tablet-slider.optish-sp-2--mobile-hide
				.sp-block.sp-block--tablet-slider.sp-block--optish-sp-2(data-counter-id="optish-sp2-counter")
					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="/bitrix/templates/GL/images/optish-ku-1.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="/bitrix/templates/GL/images/optish-ku-1.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Описание существующей
								br.dbr
								|  структуры холдинга

							ul.sp-block-item-ul
								li Правовой анализ юридических
									br.mbr
									|  лиц, входящих в группу компаний
									br.mbr
									|   – с учетом степени и характера их взаимодействия, сфер корпоративного влияния и конечных бенефициаров 
								li Анализ движения денежно-товарных потоков между компаниями группы
								li Анализ налоговой нагрузки и рисков
							.sp-block-item-content__text
								b В результате: схема текущей структуры холдинга (владение, управление, налоговая нагрузка)

					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="/bitrix/templates/GL/images/optish-result-2.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="/bitrix/templates/GL/images/optish-result-2.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Проектирование оптимальной
								br.dbr
								|  холдинговой структуры

							ul.sp-block-item-ul
								li Разработка новой схемы владения и управления с учетом технического задания заказчика
								li Анализ финансовых показателей, экономической безопасности и объемов налогов по каждому юрлицу и консолидированно по группе

								li Расчет оптимальных финансовых показателей и оптимального движения товарно-денежных потоков

							.sp-block-item-content__text
								b В результате: схема новой структуры холдинга (владение, управление, налоговая нагрузка)


					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="/bitrix/templates/GL/images/optish-ku-3.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="/bitrix/templates/GL/images/optish-ku-3.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Создание плана мероприятий
								br.dbr
								|   (дорожной карты)

							ul.sp-block-item-ul
								li План по формированию новых денежно-товарных потоков между компаниями, объединению активов, разделению управления и ответственности
							.sp-block-item-content__text
								b В результате: дорожная карта перехода от существующей структуры холдинга к оптимальной структуре

					.sp-block-item.customized-ul-wrap
						a.component-fancy.sp-pic-optish-2-cf(href="/bitrix/templates/GL/images/optish-ku-4.png" data-fancybox="optish-results-2")
							.component-fancy__inner
								img(src="/bitrix/templates/GL/images/optish-ku-4.png", alt="")
						.sp-block-item-content
							.sp-block-item-content__title Реализация плана
								br.dbr
								|   мероприятий
							ul.sp-block-item-ul
								li Шаг за шагом реализуем мероприятия дорожной карты
							.sp-block-item-content__text
								b В результате: оптимальная структура холдинга, защита активов от банкротства, враждебного поглощения, прозрачное и эффективное управление бизнесом
			.wwsy-block-mobile-counter.sp-block-mobile-counter
				#optish-sp2-counter.wwsy-block-mobile-counter__current 1
				.wwsy-block-mobile-counter__slash /
				.wwsy-block-mobile-counter__max 4

	section.feedback-section
		.container
			.feedback-section__wrapper
				.feedback-section__col
					.feedback-section__title Бесплатная консультация
					a.feedback-section__button.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')")
						span Получить консультацию
						<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="white"/><path d="M8 5L13 10L8 15" stroke="#F26419" stroke-width="2"/></svg>
				.feedback-section__col
					.feedback-section__title.feedback-section__title--call Свяжитесь с нами
					.feedback-section__contacts
						.feedback-section__contact-item-col
							a(href='tel:+74952119040' style='font-weight: 500;').feedback-section__contact-item
								img(src="/bitrix/templates/GL/img/contacts/tp-phone.svg" alt="")
								span +7 (985) 211 90 40
							a(href='mailto:mail@vavilov.com').feedback-section__contact-item
								img(src="/bitrix/templates/GL/img/contacts/tp-mail.svg" alt="")
								span(style='text-decoration: underline;') mail@vavilov.com
						.feedback-section__contact-item-col
							a(onclick="ym(63508015,'reachGoal','whatsapp');"  href="https://wa.me/79852119040" target="_blank").feedback-section__contact-item
								img(src="/bitrix/templates/GL/img/contacts/tp-wa.svg" alt="")
								span What’s App
							a(onclick="ym(63508015,'reachGoal','telega');"  href="https://t.me/glfinance" target="_blank").feedback-section__contact-item
								img(src="/bitrix/templates/GL/img/contacts/tp-tg.svg" alt="")
								span Telegram


