extends layouts/default

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .paper
        .container.paper__container
            .paper__wrapper
                .paper__head(style='background-image: url(images/papers_item14-new.jpg)')
                    .paper__head-content
                        .paper__topic Фундамент
                        .paper__title От забора до обеда, или Почему прибыль есть, а денег нет
                .paper__main
                    .paper__content
                        .paper-part.paper-part--one
                            .paper-part__desc
                                p Каждый собственник хорошо знает, в какой момент сколько денег заработала компания. Это, в основном, понимание фактических поступлений - денег, которые отражаются на счетах компании в банках, он их чувствует, видит, они реальны.
                                p Но приходит время отдавать налоги. Бухгалтер говорит: вот прибыль у нас, сегодня надо миллион срочно платить, а то штраф/блокировка/депрессия. А здесь еще и поставщик не отгружает продукцию, говорит вы за прошлую партию не заплатили, сейчас может все остановиться.
                                p У любого нормального человека возникает вопрос: а что за история в моей компании происходит? Какой еще налог? Какая оплата поставщику, я прибыли не вижу совсем, платить не из чего, на счетах ведь по нулям.
                                p Но мало того что прибыли нет, так еще налог платить должен. И главное, все говорят что все правильно. Но не бывает же в сейфе минус тысяча, максимум ноль, почему все с ног на голову перевернулось? И происходит классический кассовый разрыв, и приходит понимание вместе с ним, что деньгами как-то по методике управлять надо: резервировать, фондировать, распределять по науке, а не по справедливости или по принципу кто громче кричит.
                                p Почему так происходит?
                                p А потому, что собственники ставят знак равенства между начислениями и оплатой. В метафоре это звучит как складывать пространство (место/землю/координаты) и время (секунды, часы, дни, месяца). Формат похожий, и там и там цифры, но природа этих цифр разная, и у нас не возникает желания произвести манипуляции сложения/умножения/деления или равенства с ними. Однако в финансах мы этим грешим и как раз потому, что не понимаем природу начисления и оплаты и их разной природы.

                        .paper-part.paper-part--three
                            .paper-part__subtitle Разбираем терминологию
                            .paper-part__desc
                                ul(style="margin-top:0")
                                    li
                                        span «начисление» отражает учетные доходы и расходы в течение определенного периода, возникает сразу после совершения продажи, отгрузки товара, оказания услуги, т.е. это никак не связано с поступлением денежных средств. По факту, это переход права собственности на товары, услуги, работы зафиксированное на бумаге.
                                            ul(style="margin-top:10px;")
                                                li
                                                    span Доход - это когда он заработан, а не когда получен.
                                                li
                                                    span Расход - это когда он понесен, а не когда оплачен.
                                                li
                                                    span Прибыль - это когда она рассчитана по методике, а не лежит на счете

                                    li
                                        span «оплата» - это реальное поступление и выплата денежных средств, которое приходит на расчетные счета и в кассу и уходит с них.
                                            ul(style="margin-top:10px;")
                                                li
                                                    span Поступление - это когда получены деньги, а не когда они заработаны.
                                                li
                                                    span Выплата - это когда отправлены деньги, а не понесены затраты.
                                                li
                                                    span Денежный поток - это остатки на счетах компании, а не свободные деньги распределяемые как захочется.
                                p Чтобы разобраться, что к чему, рассмотрим простые конкретные примеры. Они позволят понять разницу между этими двумя важными понятиями и увидеть их разную природу.

                        .paper-part.paper-part--three
                            .paper-part__subtitle Пример №1
                            .paper-part__desc
                                p Одна компания продает оптом одежду. Очередная партия товара со склада отгружается (перевозится) на склад другой торговой компании. Это называется реализацией. В этот момент формируется документ: накладная. При создании документа в учете и появляется наш первый показатель: «начисление». Тоесть, это сумма, которая по договору должна быть уплачена за отгруженный товар.
                                p Допустим, реализация произошла 25 декабря на сумму 1 млн. руб. Но “живые” деньги компания сразу не получила, поскольку в договоре на продажу прописано условие отсрочки платежа на 30 дней с момента реализации. Это означает, что денежные средства за одежду поступят на расчетный счет компании 24 января следующего года. В момент поступления денег на расчетный счет появляется наш второй показатель «оплата».
                                p А теперь о налогах: по состоянию на 31 декабря, «прибыль» компании по «начислению» составила 1 млн. руб. Потому что по накладной, товар “преобразовался” именно в эту сумму. По документам, деньги есть, следовательно, налог с них платить нужно. Получается, нужно выплатить государству 200 тыс. руб.
                                p Но остаток на расчетных счетах, то есть «оплата», 0 руб. Потому что по факту деньги будут позже. Это разница между «начислением» и «оплатой». А на языке бизнеса возникает «кассовый разрыв», то есть товара уже нет, «прибыль» на бумаге 1 млн., а фактически денег еще нет.
                                p Компания нашла другие источники получения денег, чтобы покрыть кассовый разрыв и выплатить налог вовремя.

                                .paper-part__quote(style="background-image: url(https://glfinance.ru/bitrix/templates/GL/images/stats/1.png);")
                                    .paper-part__quote-text
                                        span не принимая во внимание разницу между Начислением и Оплатой, есть большой риск понести серьезные потери, которые компания может просто не потянуть. Руководителю стоит понимать, как работать с этими понятиями и находить пути перекрытия кассовых разрывов

                        .paper-part.paper-part--three
                            .paper-part__subtitle Пример №2
                            .paper-part__desc
                                p Торговая компания, продает сезонный товар: защитные средства от укусов насекомых. Данный тип товара продается очень непродолжительный период в году – 2-3 месяца. Чтобы увеличить продажи, коммерческий директор предлагает следующее:
                                ul
                                    li
                                        span Отсрочить платежи на 90 дней;
                                    li
                                        span Сделать бонусы покупателям за объем закупленного товара;
                                    li
                                        span Сделать 100% возврат товара, который не реализовали.
                                p Предложение заманчивое и выгодное для покупателей, оно сразу сработало и сделки были заключены охотно. Компания продала оптом весь свой товар, на сумму 100 млн. руб. План по продажам был полностью выполнен, отдел продаж во главе с коммерческим директором был поощрен премиями. Все довольны.
                                p Но, под термином продала мы понимаем отгрузила, то есть товар уехал со склада, а в учете компании были сформированы накладные. В начале июня, по итогам отгрузок, компания также заплатила со своих расчетных счетов своим покупателям 10 млн. руб. (10% от 100 млн. руб.) в качестве бонусов за достигнутый объем закупок.
                                p И снова мы пришли к налогам: в июле пришло время платить их по итогам первых двух кварталов. Согласно бумагам, прибыль компании составила 50 млн.руб, соответственно налог составляет 10 млн. Но на расчетном счете, как мы помним, денег нет, появятся они только в конце июля-конце августа. Для устранения кассового разрыва деньги были найдены на стороне, налог уплачен, осталось ждать фактической оплаты.
                                p Ну а теперь самое интересное: по окончанию августа выяснилось, что денежных средств на расчетный счет за весь период поступило вовсе не 100 млн., как должно было быть, а только 70 млн. Почему? Да потому что в договоре прописана возможность 100% возврата покупателем всего нереализованного за сезон товара!
                                p Что это значит? По окончанию сезона в течение июля и августа покупатели вернули обратно продавцу 30% нереализованного товара – т.е. на 30 млн. руб. Соответственно, произвели «оплату» за фактически купленный в итоге товар, а не за первоначально отгруженный.

                        .paper-part.paper-part--three
                            .paper-part__subtitle Результат
                            .paper-part__desc
                                p В результате такой непродуманной стратегии продаж компания «потеряла» следующий объем денежных средств:
                                ul
                                    li
                                        span переплата налога составила 6 млн. руб. (10 млн. вместо 4 млн.);
                                    li
                                        span переплата клиентам бонусов за достигнутый объем закупок 3 млн. руб. (10 млн. вместо 7 млн.).
                                    li
                                        span премия отделу продаж.
                                p Всего 10 млн. руб. убытка и заморозки денежных средств.
                                p Слово «потеряла» в кавычках. Почему? Это объяснить просто, переплату налогов можно зачесть в следующем периоде, бонусы клиентам учесть при следующих отгрузках, а премии сотрудникам уменьшить при следующей выплате.
                                p Но эти денежные средства оказались «заморожены» для компании на срок от 3-х до 6-ти месяцев. И за это время возникают и реальные потери – например, проценты за привлечение денег. А если бы объем возвращенного товара был не 30%, а 40% или 50%? Вряд ли компания смогла бы «выжить» при подобном развитии событий.

                        .paper-part.paper-part--three
                            .paper-part__subtitle Выводы!
                            .paper-part__desc
                                p Коммерческий директор компании, в стремлении увеличить продажи, не учел разницу между «начислением» и «оплатой», а скорее всего, он ее просто не понимал. И поэтому внес в договор пункты о бонусах клиентам не от «оплаты», а от «начисления». Произошла ситуация «пересечения пространства и времени», описываемая в печальной поговорке «копали от забора до обеда».
                                    | Та же ситуация с возможностью вернуть товар до его «оплаты», но при этом налоги были оплачены по «начислению».
                                p Что мы имеем в результате? Непонимание разницы между «начислением» и «оплатой» закончилось в наших примерах не очень радужно. Компании понесли серьезные убытки. Конечно они сделали выводы. Однако, такой запас финансовой прочности существует не во всех компаниях и есть очень большой шанс потерять бизнес, так и не добившись его развития. Так лучше научиться на ошибках в данных примерах, чем покупать опыт таким образом

                        .paper__share
                            .paper__share-title Понравилась статья? Расскажите друзьям:
                            .paper__socials
                                a(href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;p[title]=Какой уровень учета нужен для бизнеса&amp;p[summary]=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;p[images][0]=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--fb
                                    img(src="img/contacts/fb-white.png" alt="")
                                    span Поделиться в Facebook
                                a(href="http://vkontakte.ru/share.php?url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;title=Какой уровень учета нужен для бизнеса&amp;description=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;image=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png&amp;noparse=true" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--vk
                                    img(src="img/contacts/vk-white.png" alt="")
                                    span Поделиться в VK
                                a(href="http://twitter.com/share?text=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/ ?>" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--tw
                                    img(src="img/contacts/tw-white.png" alt="")
                                    span Поделиться в Twitter

                        a.paper__consult(style='background-image: url(images/skills2.png);display:block;' href='/uslugi/upravlench-otchyotnost-holding/')
                            .paper__consult-content
                                .paper__consult-text
                                    p Получите полную картину<br> финансов бизнеса
                                    p улучшайте прибыльность, рентабельность<br> и финансовую устойчивость
                                .paper__consult-button
                                    span Перейти
                                    img(src="img/arrow-right.svg" alt="")

                    .paper__sidebar
                        .paper__author
                            .paper__author-photo
                                img(src="images/user3.jpg" alt="")
                            .paper__author-wrapper
                                .paper__author-name Владимир Вавилов
                                .paper__author-position Эксперт по управлению корпоративными финансами
                        .paper__info
                            .paper__views
                                img(src="img/view.svg" alt="")
                                span 465
                            .paper__date 02.11.2020
            .paper__bottom-nav
                a(href='#').paper__back Вернуться к списку статей
                .paper__bottom-nav-wrapper
                    a(href='#').paper__next
                        span Следующая статья
                        img(src="img/arrow-right-gray.svg" alt="")