extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};



block main
	.papers
		.container
			.papers__title Статьи и видео
			.papers__wrapper
				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(images/papers_item14-new.jpg)')
						.papers-item__top-content
							.papers-item__topic Фундамент
							.papers-item__title Что есть НДС
					figure.papers-item__bottom
						.papers-item__desc Разбираем, как правильно и понятно посчитать НДС и для чего руководителю разбираться в этом налоге. Статья покажет действенные примеры, чтобы открыть простую суть сложных просчетов.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 02.11.2020

				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(images/papers_item13-new.jpg)')
						.papers-item__top-content
							.papers-item__topic Персонал
							.papers-item__title Чем занимается Бухгалтерия. Мифы и стереотипы.
					figure.papers-item__bottom
						.papers-item__desc Зачем на самом деле нужен бухгалтер. ТОП-3 главных пользы от бухгалтерии компании. Как руководителю быть в синергии с бухгалтером, и что получиться от этого союза. Типичные проблемы взаимоотношений между ними.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 31.10.2020

				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(images/papers_item12-new.jpg)')
						.papers-item__top-content
							.papers-item__topic Фундамент
							.papers-item__title Бухучет как он есть
					figure.papers-item__bottom
						.papers-item__desc Всего 2% руководителей понимают, что такое бухучет и как в нем разобраться. Наша статья поможет ориентироваться в сложном на первый взгляд деле и обернуть незнакомые термины в свою пользу.Всего 2% руководителей понимают, что такое бухучет и как в нем разобраться. Наша статья поможет ориентироваться в сложном на первый взгляд деле и обернуть незнакомые термины в свою пользу.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 30.10.2020

				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(images/papers_item1-new.jpg)')
						.papers-item__top-content
							.papers-item__topic История
							.papers-item__title Какой уровень учета нужен <br> для бизнеса
					figure.papers-item__bottom
						.papers-item__desc Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой
							|  точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
				//- a(href='#').papers-item
				//- 	figure.papers-item__top(style='background-image: url(images/papers_item8.jpg)')
				//- 		.papers-item__top-content
				//- 			.papers-item__topic Интервью
				//- 			.papers-item__title Как финансовая отчетность влияет на развитие бизнеса
				//- 	figure.papers-item__bottom
				//- 		.papers-item__desc Интервью с участием Владимира Вавилова, в котором, используя простые аналогии, объясняется что такое финансовая
				//- 											|  отчетность и чем она важна для удержания и развития собственного бизнеса. Обсуждается также вопрос кто в компании
				//- 											|  должен заниматься ведением финансовой отчетности.
				//- 		.papers-item__nav
				//- 			.papers-item__read
				//- 				span Читать
				//- 				img(src="img/arrow-right.svg" alt="")
				//- 			.papers-item__info
				//- 				.papers-item__views
				//- 					img(src="img/view.svg" alt="")
				//- 					span 465
				//- 				.papers-item__date 26.06.2020
				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(images/papers_item10.jpg)')
						.papers-item__top-content
							.papers-item__topic Истории
							.papers-item__title О приборной панели <br> в бизнесе
					figure.papers-item__bottom
						.papers-item__desc В бизнесе как и в самолете есть приборная панель, посредством которой можно
							|  управлять бизнесом как самолетом. В статье есть конкретная аналогия между этими панелями,
							|  приводятся примеры и типичные ошибки руководителей касающиеся выбора приборной панели (автоматизированной системы учета финансов).
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
				a(href='#').papers-item
					figure.papers-item__top(style='background-image: url(images/papers_item11.jpg)')
						.papers-item__top-content
							.papers-item__topic Истории
							.papers-item__title 3 лайфхака руководителю по работе с главным налогом - НДС
					figure.papers-item__bottom
						.papers-item__desc 3 лайфхака руководителю по работе с главным налогом - НДС. Разбираем как директору “прикинуть” величину оплаты НДС за 5 секунд, как узнать,
							|  что директора позовут в налоговую для дачи объяснений по НДС. Как не споткнуться об НДС при получении аванса в конце отчетного периода.
						.papers-item__nav
							.papers-item__read
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
