extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.paper
		.container.paper__container
			.paper__wrapper
				.paper__head(style='background-image: url(images/papers_item1-new.jpg)')
					.paper__head-content
						.paper__topic Истории
						.paper__title Какой уровень учета нужен для бизнеса
				.paper__main
					.paper__content
						.paper-part.paper-part--one
							.paper-part__title Часть 1. Простейший учет
							.paper-part__subtitle в которой прибыль равна выручка минус расходы на закупку
							.paper-part__img
								img(src='images/paper_banner1.png' alt='')
							.paper-part__desc
								p Петр стоял в очереди у стойки регистрации на рейс Москва - Лос-Анджелес. Он уже давно хотел проведать сестру, которая уже 5 лет, как вышла замуж и переехала в США.
								p Он еще не знает, что эта поездка подкинет ему классную идею, благодаря которой он бросит работу и начнет свой бизнес.
								p Петр очень любит крутые гаджеты, поэтому, в первый же день по прибытию, поехал в Apple Store, где купил себе новенький iPhone по хорошей цене. Получилось дешевле на 30%, чем в Москве - выгода существенная. Как-то аж жалко, что только один купил.
								p А что, если?.. Ведь неплохо можно поднять: купить штук 10, привезти, продать с наценкой - можно тысяч 100 заработать!
								p 3 недели пролетели как один день. Отпуск подошел к концу. Петр вернулся в Москву.
								p Но идея заработать на продаже смартфонов не давала покоя. Допустим, можно занять денег, прислать их сестре, попросить ее купить 10 iPhone'ов и выслать их в Москву.
								p Стоимость смартфона с доставкой будет 52 тыс. рублей. В Москве такая модель стоит 66 тыс. Наверняка, желающих купить с 10% скидкой, за 60 тыс. будет достаточно.
								p Петр достал блокнот и начертил простую таблицу, чтобы понять сколько он на этом заработает:
								.paper-part__table-wrapper
									table.paper-part__table
										tr
											td
											td На 1 шт.
											td Кол-во
											td Итого
										tr
											td (+) Доход от продажи смартфонов
											td 60 000
											td 10
											td 600 000
										tr
											td (-) Расходы на закупку смартфонов
											td 52 000
											td 10
											td 520 000
										tr
											td (=) Прибыль
											td 8 000
											td -
											td 80 000
								p 80 тыс. рублей. Неплохо. Кажется, игра стоит свеч.
								p Все пошло по плану и через 2 недели 10 новеньких iPhone были у него на руках. Продать их по такой цене оказалось просто: друзья, коллеги,
									|  знакомые, знакомые знакомых… Вскоре, довольный Петр пересчитывал пачку хрустящих купюр и уже планировал реализацию новой партии. Только вот,
									|  кому продавать? Сарафанное радио - далеко не самая эффективная реклама. Лучше открыть витрину, чтобы люди сами могли увидеть и купить.
						.paper-part.paper-part--two
							.paper-part__title Часть 2. Точка безубыточности
							.paper-part__subtitle в которой Петр отработал в минус и даже не знал об этом
							.paper-part__img
								img(src='images/paper_banner2.png' alt='')
							.paper-part__desc
								p Петр нашел точку с хорошим трафиком и арендовал ее за 75 тыс. в месяц. А также нанял продавца с окладом в 35 тыс. в месяц. Благодаря этому, продажи выросли в 3 раза и приносили стабильную выручку и прибыль.
								p Его новый  отчет выглядел так:
								.paper-part__table-wrapper
									table.paper-part__table
										tr
											td
											td На 1 шт.
											td Кол-во
											td Итого
										tr
											td (+) Доход от продажи смартфонов
											td 60 000
											td 30
											td 1 800 000
										tr
											td (-) Расходы на закупку смартфонов
											td 52 000
											td 30
											td 1 560 000
										tr
											td (-) Расходы на аренду и продавца
											td
											td
											td 110 000
										tr
											td (=) Прибыль
											td 8 000
											td
											td 130 000
								p Кажется, все отлично работает. Уверенный в завтрашнем дне, Петр заказал очередную партию. Но, как раз вышла новая модель iPhone, и цены на его предшественника существенно упали.
								p Петр перепугался. Единственное, за счет чего он выигрывал у конкурентов - это цена. Поэтому, чтобы не остаться с товаром на руках, ему пришлось тоже сделать скидку.
								p Вместо 60 тыс., он поставил цену 54 тыс. и кое-как продал партию. Вроде пронесло, хотя бы по 2 тысячи с каждого смартфона заработал.
								p А потом посчитал внимательнее. Этого не хватило, чтобы покрыть расходы на аренду и продавца. Досадно - придется доплачивать из своего кармана целых 50 тыс…
								.paper-part__table-wrapper
									table.paper-part__table
										tr
											td
											td На 1 шт.
											td Кол-во
											td Итого
										tr
											td (+) Доход от продажи смартфонов
											td 54 000
											td 30
											td 1 620 000
										tr
											td (-) Расходы на закупку смартфонов
											td 52 000
											td 30
											td 1 560 000
										tr
											td (-) Расходы на аренду и продавца
											td
											td
											td 110 000
										tr
											td (=) Прибыль
											td 2 000
											td
											td -50 000
								p Петр понял, что не совладал со страхом и чересчур снизил цену. Он стал размышлять, что же нужно было сделать, чтобы этого избежать. В итоге выявил несколько ключевых вопросов:
								p - По какой минимальной цене он мог продавать, чтобы сработать в ноль?- Какой объем продаж в штуках необходим чтобы работать в ноль?- На сколько можно снизить объем продаж, чтобы не сработать в убыток?
								p Ответов у него не было. Поэтому Петр позвонил своему другу Владимиру, финансовому директору. Встретились в кафешке, заказали по рюмке чая, и Владимир сразу перешел к делу.
								p Через два часа вопросов Владимира и расчетов на салфетке Петр получил новый финансовый отчет. Теперь в нем были постоянные и переменные расходы, маржинальная прибыль и рентабельность. Выглядело это так:
								.paper-part__table-wrapper
									table.paper-part__table
										tr
											td
											td На 1 шт.
											td Кол-во
											td Итого
										tr
											td (+) Доход от продажи смартфонов
											td 60 000
											td 30
											td 1 800 000
										tr
											td (-) Переменные расходы на закупку смартфонов
											td 52 000
											td 30
											td 1 560 000
										tr
											td (=) Маржинальная прибыль
											td 8 000
											td
											td 240 000
										tr
											td (%) Маржинальная рентабельность
											td 13%
											td
											td 13%
										tr
											td (-) Постоянные расходы на аренду и продавца
											td
											td
											td 110 000
										tr
											td (=) Прибыль / Убыток
											td
											td
											td 130 000
										tr
											td (%) Рентабельность
											td
											td
											td 7%
										tr
											td(colspan='4' style='height: 21px;')
										tr
											td(colspan='2') Рассчетные показатели для ответа на вопросы:
											td
											td
										tr
											td Точка безубыточности
											td
											td
											td 825 000
										tr
											td Точка безубыточности в штуках
											td
											td
											td 13,75
										tr
											td Запас финансовой прочности
											td
											td
											td 975 000
								p Теперь было понятно:
								p 1. Чтобы остаться безубыточным, нужно продать на 825 000 руб. (110 000 / 13%). Т.е. это либо 14 смартфонов по 60 тыс, либо вся партия по 56 667 (а не по 54 тыс.). <br>
									|  2. Он может снизить объем продаж максимум на 975 000 руб. (1 800 000 – 825 000). <br>
									|  3. Если бы он продал не 30, а 55 смартфонов по 54 тыс., то тоже вышел бы в ноль.
								.paper-part__quote
									.paper-part__quote-text
										span Чем сложнее бизнес, тем больше “белых пятен” в движении денег. Это значит, нужно детализировать финансовую отчетность, чтобы видеть реальную картину и принимать прибыльные решения
						.paper-part.paper-part--three
							.paper-part__title Часть 3. Маржинальность товарных групп
							.paper-part__subtitle в которой оборот растет, а прибыль падает, и Петр делает <br> оптимизацию расходов
							.paper-part__img
								img(src='images/paper_banner3.png' alt='')
							.paper-part__desc
								p Выводы сделаны, теперь Петр чувствовал себя гораздо увереннее. Время шло, бизнес работал, и большую часть прибыли Петр реинвестировал в увеличение оборота и ассортимента.
								p Он расширил ассортимент смартфонов, а также начал продавать аксессуары, аудиотехнику и ноутбуки - в сумме более 100 наименований.
								p Плюс к этому, запустил сервис по ремонту электроники и установке ПО - для этого он нанял мастера и расширил арендуемую площадь.
								p Продажи шли очень плотно и месячный оборот вырос с 1 800 000 до 5 000 000. Петр уже подумывал поощрить себя покупкой нового авто, но когда свел отчет, его настроение упало.
								.paper-part__table-wrapper
									table.paper-part__table
										tr
											td (+) Доход от продажи смартфонов
											td 5 000 000
										tr
											td (-) Переменные расходы
											td 4 410 000
										tr
											td (=) Маржинальная прибыль
											td 590 000
										tr
											td (%) Маржинальная рентабельность
											td 12%
										tr
											td (-) Постоянные расходы на аренду и продавца
											td 500 000
										tr
											td (=) Прибыль / Убыток
											td 90 000
								p Оказалось, что за этот месяц он получил меньше прибыли, чем за предыдущий, когда он продавал только смартфоны.
								p Очень странно, а разве не должно быть наоборот? Ведь в этом месяце он продал даже больше смартфонов, и вдобавок еще другие товары и услуги…
								p Петр стал разбираться, как же так получилось. Думал два дня, ничего не придумал и позвонил Владимиру. Владимир приехал, посмотрел на его отчет, вздохнул и начал терпеливо объяснять.
								p Первым делом он разложил товары по типовым группам. А чтобы определить маржу товарной группы и услуг, он вычел стоимость закупки от стоимости продажи.
								.paper-part__table-wrapper
									table.paper-part__table.paper-part__table--big
										tr
											th(rowspan='2')
											th(rowspan='2') Итого
											th(colspan='5') в том числе:
										tr
											th Смартфоны
											th Аксессуары
											th Аудиотехника
											th Ноутбуки
											th Сервис
										tr
											td (+) Доход, Итого
											td 5 000 000
											td 2 100 000
											td 300 000
											td 450 000
											td 2 000 000
											td 150 000
										tr
											td (-) Переменные расходы
											td 4 410 000
											td 1 820 000
											td 150 000
											td 400 000
											td 1 950 000
											td 90 000
										tr
											td (=) Маржинальная прибыль
											td 590 000
											td 280 000
											td 150 000
											td 50 000
											td 50 000
											td 60 000
										tr
											td (%) Маржинальная рентабельность
											td 12%
											td(style='background-color: #fff8c7;') 13%
											td(style='background-color: #c7ffd9;') 13%
											td(style='background-color: #ffbe93;') 11%
											td(style='background-color: #ffa3a3;') 3%
											td(style='background-color: #c7ffd9;') 40%
								p Лидером по маржинальности оказались аксессуары. На втором месте - сервис, а на третьем - смартфоны. Аутсайдерами оказались аудиотехника и ноутбуки.
								p Петр задумался - что-то тут не так. Здесь явно чего-то не хватало... Сказал об этом Владимиру. Тот задумался и сказал - старик, ну значит надо копать глубже, давай детализировать.
								p Так и получилось. Оказалось, что разные товарные группы занимают разную площадь, а значит, нужно считать расходы на аренду для каждой из них по отдельности. Так появилась совсем другая картина:
								.paper-part__table-wrapper
									table.paper-part__table.paper-part__table--big
										tr
											th(rowspan='2')
											th(rowspan='2') Итого
											th(colspan='5') в том числе:
										tr
											th Смартфоны
											th Аксессуары
											th Аудиотехника
											th Ноутбуки
											th Сервис
										tr
											td (+) Доход, Итого
											td 5 000 000
											td 2 100 000
											td 300 000
											td 450 000
											td 2 000 000
											td 150 000
										tr
											td (-) Переменные расходы
											td 4 410 000
											td 1 820 000
											td 150 000
											td 400 000
											td 1 950 000
											td 90 000
										tr
											td (=) Маржинальная прибыль
											td 590 000
											td 280 000
											td 150 000
											td 50 000
											td 50 000
											td 60 000
										tr
											td (%) Маржинальная рентабельность
											td 12%
											td(style='background-color: #fff8c7;') 13%
											td(style='background-color: #c7ffd9;') 13%
											td(style='background-color: #ffbe93;') 11%
											td(style='background-color: #ffa3a3;') 3%
											td(style='background-color: #c7ffd9;') 40%
										tr
											td (-) Постоянные расходы на аренду
											td 400 000
											td 60 000
											td 20 000
											td 80 000
											td 120 000
											td 120 000
										tr
											td (=) Операционная прибыль по продуктам
											td
											td 220 000
											td 130 000
											td -30 000
											td -70 000
											td -60 000
										tr
											td (%) Операционная прибыль, %
											td
											td(style='background-color: #e2ffd4;') 10%
											td(style='background-color: #c7ffd9;') 43%
											td(style='background-color: #ffbe93;') -7%
											td(style='background-color: #fff8c7;') -4%
											td(style='background-color: #ffa3a3;') -40%
										tr
											td (-) Постоянные расходы на ЗП сотрудников
											td 100 000
											td(colspan='4' style='text-align: right;') 50 000,00
											td 50 000
										tr
											td (=) Прибыль / Убыток
											td 90 000
											td(colspan='4' style='text-align: right;') 200 000,00
											td -110 000
								p Лидеры и аутсайдеры поменялись местами. Если в предыдущем отчете сервис был второй по прибыльности, то теперь оказалось, что это самый убыточный продукт. А прибыль приносят только смартфоны и аксессуары.
								p Сужать ассортимент Петр не хотел, поэтому провел переговоры с поставщиками ноутбуков и аудиотехники, добился снижения их закупочной стоимости за счет сокращения отсрочки и довел прибыль по этим товарам до 10-15%.
								p Сервисные услуги он тоже решил оставить, но, чтобы они окупались, сократил под них площадь, а освободившуюся вернул арендодателю.
								p Следующий месяц принес рекорд по прибыли и закрепил новую модель учета:
								p - рассчитывать маржинальную прибыль и рентабельность по каждому продукту; - продавать товары, наиболее эффективные с точки зрения маржинальной прибыли с квадратного метра, а не маржи с товара;- делать калькуляцию (сметы);- планировать месяц заранее, а не по факту.
						.paper-part.paper-part--four
							.paper-part__title Часть 4. Консолидированная отчетность для холдинга
							.paper-part__subtitle в которой Петр переплачивает налоги и понимает, почему с хорошим финансовым советником денег будет больше
							.paper-part__img
								img(src='images/paper_banner4.png' alt='')
							.paper-part__desc
								p Через год Петр запустил интернет-магазин. Затем, расширил ассортимент товаров и услуг, выстроил дистрибуцию, организовал логистику и открыл сеть розничных магазинов по всей России.
								p Теперь его бизнес вырос в небольшой холдинг из трех компаний. Одна занималась продажей, другая - закупкой, а третья - логистикой.
								p Составляя первую квартальную отчетность, Петр увидел такую картину:
								.paper-part__table-wrapper
									table.paper-part__table.paper-part__table--big
										tr
											td(rowspan='2')
											td(colspan='3') Компании холдинга Петра
											td(rowspan='2') Итого
										tr
											td Торговый дом
											td Закупочная компания
											td Логистическая компания
										tr
											td (+) Доход
											td 15 000 000
											td 6 000 000
											td 2 000 000
											td 23 000 000
										tr
											td (-) Расход
											td 8 000 000
											td 8 000 000
											td 2 500 000
											td 18 500 000
										tr
											td (=) Прибыль
											td(style='background-color: #c7ffd9;') 7 000 000
											td(style='background-color: #fff8c7;') -2 000 000
											td(style='background-color: #e2ffd4;') -500 000
											td 4 500 000
										tr
											td Налог на прибыль (20%)
											td 1 400 000
											td
											td
											td 900 000
								p Торговый дом был самым крупным и прибыльным, а закупочная и логистическая компании - убыточными. При этом, по его маленькому холдингу получился довольно крупный оборот и расходы.
								p Также, Петр обратил внимание, что по торговому дому он заплатил 1 400 000 налога на прибыль. И это крайне странно, ведь если все сложить и учесть убытки, то прибыли окажется меньше, следовательно и налог на прибыль должен быть меньше.
								p В чем же он допустил ошибку? Вроде бы все логично, но цифры не сходятся… Петр понимал, что тянуть с ответом - значит терять большие деньги, и позвонил Владимиру.
								p Владимир приехал, несколько минут изучал отчет и улыбнулся:
								p - Классика - сказал он. <br>
									| - Что ты имеешь ввиду? - Удивился Петр. <br>
									| - Смотри, у тебя задвоены обороты по доходу и расходу, а точнее даже затроены. <br>
									| - Это как?- <br>
									| Ты взял и сложил доходы всех трех компаний, а потом точно так же сложил их расходы, да?- <br>
									| Ну да, а что не так? <br>
									| - На первый взгляд, может, так оно и должно быть. Но только ты не учитываешь, что есть внутренние операции, а есть внешние. <br>
									| - Эээ… Какие такие внутренние операции? Я уже запутался. <br>
									| - Смотри, все очень просто. Закупочная компания закупилась у поставщиков на 8 000 000. Это внешняя операция. Логистическая компания потратила на доставку 2 500 000. Это тоже внешняя операция. Понимаешь? <br>
									| - Пока да. <br>
									| - Расходы торгового дома - это оплата услуг закупочной и логистической компании внутри твоего холдинга. Т.е. деньги вовне торговый дом не тратит. Понимаешь? <br>
									| - Да. <br>
									| - Вот. А расходы холдинга - это те деньги, которые ушли вовне. В твоем случае это расходы логистической и закупочной компании, т.е. 8 млн. плюс 2,5 млн. Поэтому, в консолидированном отчете расход должен стоять 10,5 млн. <br>
									| - Да, теперь понимаю… <br>
									| - Соберись, дальше будет чуть сложнее. Теперь разберемся, почему ты заплатил налог на 500 тыс. больше, чем надо. <br>
									| - Это меня сейчас волнует больше всего. <br>
									| - Еще бы! Смотри, у тебя логистическая и закупочная реализуют услуги торговому дому по заниженным ценам, поэтому расходы торгового дома всего 8 млн. Нужно сделать так, чтобы логистическая и закупочная работали хотя бы в ноль, а лучше в небольшой плюс. <br>
									| - И что это даст? <br>
									| - Повысятся расходы торгового дома, а значит снизится его прибыль и, соответственно, налог. При этом, по закупочной и логистической ты заплатишь минимальный налог. Я тебе сейчас распишу: <br>
								.paper-part__table-wrapper
									table.paper-part__table.paper-part__table--big
										tr
											td(rowspan='2')
											td(colspan='3') Компании холдинга Петра
											td(rowspan='6')
											td
										tr
											td Торговый <br> дом
											td Закупочная <br> компания
											td Логистическая <br> компания
											td Консолидированный <br> отчет
										tr
											td (+) Доход
											td 15 000 000
											td 8 500 000
											td 3 000 000
											td 15 000 000
										tr
											td (-) Расход
											td 8 000 000
											td 8 000 000
											td 2 500 000
											td 10 500 000
										tr
											td (=) Прибыль
											td(style='background-color: #c7ffd9;') 7 000 000
											td(style='background-color: #fff8c7;') 500 000
											td(style='background-color: #e2ffd4;') 500 000
											td 4 500 000
										tr
											td Налог на прибыль (20%)
											td 1 400 000
											td 100 000
											td 100 000
											td 900 000
								p - Видишь? Если закупочная и логистическая будут продавать с наценкой, допустим, в 500 тыс., то расход торгового дома будет 8,5 + 3 = 11,5 млн. Вычитаем это из дохода (15 млн.) и получаем прибыль в 3,5 млн. И тогда налог торгового дома будет 700 000, а не 1 400 000, как у тебя было. <br>
									| - Ага! И по закупочной и логистической я заплачу по 100 тыс. И в сумме по холдингу налог выйдет 900 тыс., как и должно быть! <br>
									| - Именно!- Володя, светлая же у тебя голова. <br>
									| - Да ладно тебе. На самом деле, это азы. Любой финансист это должен знать. Ты сейчас начинаешь играть по-крупному, мой тебе добрый совет: найми экспертов, пусть они закроют все вопросы отчетности. <br>
									| - Да, есть над чем подумать… а ты кого-то можешь порекомендовать? <br>
									| - Посмотрю. Тебе не нужен человек в штат, достаточно 2-3 раза в месяц показывать ему отчеты, и обсуждать потом. Поспрашиваю у знакомых фиников. <br>
									| - Что бы я без тебя делал, Владимир! <br>
									| - Да не вопрос. Ты просто пойми, что чем сложнее бизнес, тем больше появляется вопросов. А чем больше вопросов, тем сложнее становится финансовая отчетность, которая на них отвечает. <br>
									| - Да, так и есть.
						.paper__share
							.paper__share-title Понравилась статья? Расскажите друзьям:
							.paper__socials
								a(href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;p[title]=Какой уровень учета нужен для бизнеса&amp;p[summary]=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;p[images][0]=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--fb
									img(src="img/contacts/fb-white.png" alt="")
									span Поделиться в Facebook
								a(href="http://vkontakte.ru/share.php?url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;title=Какой уровень учета нужен для бизнеса&amp;description=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;image=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png&amp;noparse=true" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--vk
									img(src="img/contacts/vk-white.png" alt="")
									span Поделиться в VK
								a(href="http://twitter.com/share?text=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/ ?>" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--tw
									img(src="img/contacts/tw-white.png" alt="")
									span Поделиться в Twitter
						.paper__result-title Уверены, что бизнес не в минусе? Точно?
						.paper__result-text
							p На самом деле я в шоке. Многие предприниматели работают в минус, и даже об этом не знают. Почему не знают? Потому что вовремя не задают нужные вопросы. Вот только некоторые из них:
							p Какова моя точка безубыточности? <br>
								| Сколько прибыли приносит конкретная товарная группа? <br>
								| Хватает ли оборотного капитала? <br>
								| Как легально сократить налоги? <br>
								| Сколько денег я могу выводить без ущерба для бизнеса?
							p Если Вы предприниматель и не знаете ответ хотя бы на один из этих вопросов, Вам точно нужна консультация по финансам компании. Возможно, прямо сейчас Ваш бизнес теряет деньги.


					.paper__sidebar
						.paper__author
							.paper__author-photo
								img(src="images/user9.png" alt="")
							.paper__author-wrapper
								.paper__author-name Владимир Вавилов
								.paper__author-position Эксперт по управлению корпоративными финансами
						.paper__info
							.paper__views
								img(src="img/view.svg" alt="")
								span 465
							.paper__date 26.06.2020
			.paper__bottom-nav
				a(href='#').paper__back Вернуться к списку статей
				.paper__bottom-nav-wrapper
					a(href='#').paper__next
						span Следующая статья
						img(src="img/arrow-right-gray.svg" alt="")