extends layouts/default

block vars
	-
		const page = {
		title: 'index.html'
		};




block main
	.paper
		.container.paper__container
			.paper__wrapper
				.paper__head(style='background-image: url(images/papers_item11.jpg)')
					.paper__head-content
						.paper__topic Истории
						.paper__title 3 лайфхака руководителю по работе с главным налогом - НДС
				.paper__main
					.paper__content
						.paper--interview
							.paper-part.paper-part--one
								.paper-part__title Лайфхаки по НДС для руководителя
								.paper-part__desc
									p Имея достаточный уровень знаний и применив их на практике, легко справиться со всеми налоговыми расчетами и выплатами. В этой статье собраны три
										|  действенных и простых лайфхака, которые помогут руководителю разобраться в НДС и не попасть в неприятную ситуацию. Читайте подробнее о каждом из них.
							.paper-part.paper-part--two
								.paper-part__subtitle 1. Как “прикинуть” величину оплаты НДС за 5 секунд, чтобы не заплатить больше и проконтролировать работу бухгалтерии компании.
								.paper-part__desc
									p Все знают, что НДС сложный налог, как для понимания, так и для расчета. Нередко даже опытные руководители путаются в подсчетах и не могут толком выделить нужную сумму. А между тем, есть простая, но действенная формула.
									p Считать нужно так: берем весь ФОТ + налоги на него за тот период, который интересует, считаем с него 20%, и вуаля! Получится НДС к уплате с погрешностью, не более 10%. Для примера возьмем завод, у которого ФОТ за квартал 30 млн.р., а налоги за этот период — 9 млн.р. Суммируем эти цифры и умножаем их на 20%. Получаем итог в 7,8 млн.р. Это и есть НДС за квартал, сумма, с которой вы можете работать.
									p Когда у вас теперь есть ориентир по цифре НДС, вы можете проверить работу бухгалтера. Если вам озвучили цифру с погрешностью более 20% от того, что у вас получилось - смело задавайте вопросы, почему так. Если сумма сильно больше - есть недоработка в обмене документами с поставщиками, если меньше - возможно, что в этом квартале компания приобрела какие-то дорогостоящие товары или оборудование.
							.paper-part.paper-part--three
								.paper-part__subtitle 2. Как директору узнать что его позовут в налоговую для дачи объяснений по НДС
								.paper-part__desc
									p Налоговая иногда может проводить проверки и вызывать к себе для объяснений, независимо от того, платите ли вы налоги в срок, или есть задержки. Для понимания, почему так происходит, приведем пример из нашей практики.
									p Есть две компании с квартальной выручкой, скажем, в 50 млн.р. Первая компания заплатила НДС в сумме 1 млн.р., вторая заплатила 0,8 млн.р. К первой нет вопросов, у второй - постоянные проверки. Почему так происходит? Если отвечать коротко, то не рекомендуется платить НДС меньше, чем 12% от НДС с выручки, иначе к вам будут постоянно возникать вопросы.
									p Для компании расчет следующий: 50млн.р. х 20  / 120 х 12% = 1 млн.р. (выручку 50 млн.р. умножить на 20, разделить на 120  и умножить на 12%. Получится 1 млн.р.- “рекомендованный” налоговиками размер НДС к уплате)
									p Это внутренний критерий самой налоговой, которая не видит ваш ФОТ, она видит только то что вы указали в декларации. В связи с этим, на сумму меньше “рекомендованной” они реагируют как бык на красную тряпку.
									.paper-part__quote
										.paper-part__quote-text
											span Контролировать размер выплат по НДС легко, для этого не нужны сложные формулы и длительные операции. Пользуясь простыми формулами и подсказками, вы в любой момент будет готовы к проверки налоговой инспекции.
							.paper-part.paper-part--four
								.paper-part__subtitle 3. Как не споткнуться об НДС при получении аванса в конце отчетного периода и не отдать всю прибыль на оплату возникшего разрыва
								.paper-part__desc
									p Получение аванса от покупателей — отличное событие для компании, ведь приток денег обеспечит своевременные закупки и дальнейшую работу. Но финдиректор ходит злой, возникает вопрос, почему? Да «налетает» теперь компания на НДС с этих авансов. Ну ничего, зато денег много, в чем проблема? Но эти авансы нужно дальше поставщикам за сырье перегнать, а 20% не хватит.
									p Мы видим конфликт интересов коммерции и финансистов. А значит, нужно искать компромисс, чтобы не было таких противоречивых ситуаций. Рассмотрим два варианта путей решения этого вопроса:
									ol
										li
											span Если такая ситуация у вас происходит регулярно, то нужно договариваться с клиентами, чтобы высылали деньги через пару дней. С одной стороны это противоречит принципам бизнеса, с другой —  таких периодов всего 4 в году - в последних числах марта, июня, сентября и декабря - и договориться всегда возможно. Бывает что клиент специально высылает деньги за заказ в последние числа квартала, чтобы сократить именно свой разрыв по НДС. В этом случае поможет контроль: сделал раз - бывает, сделал два - зафиксировали, сделал третий раз - значит это системным случай, и нужен разбор полетов.
										li
											span Если происходит разово и не системно. Нужно иметь финансовый резерв для таких ситуаций. Фондировать сумму в страховом фонде, быстро открыть овердрафт, договориться с поставщиком на отсрочку.  Тогда «и овцы целы, и волки сыты».
							.paper__share
								.paper__share-title Понравилась статья? Расскажите друзьям:
								.paper__socials
									a(href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;p[title]=Какой уровень учета нужен для бизнеса&amp;p[summary]=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;p[images][0]=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--fb
										img(src="img/contacts/fb-white.png" alt="")
										span Поделиться в Facebook
									a(href="http://vkontakte.ru/share.php?url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;title=Какой уровень учета нужен для бизнеса&amp;description=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;image=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png&amp;noparse=true" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--vk
										img(src="img/contacts/vk-white.png" alt="")
										span Поделиться в VK
									a(href="http://twitter.com/share?text=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/ ?>" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--tw
										img(src="img/contacts/tw-white.png" alt="")
										span Поделиться в Twitter
							.paper__result-title Предупрежден – значит вооружен.
							.paper__result-text
								p Если топ-менеджмент компании будет не в последний момент понимать, какой объем денежной массы уйдет на один из самых сложных и трудно оптимизируемых налогов, как НДС, то другие важные решения в тот или иной отрезок времени будут приняты более взвешенно.
								p Финансовые проблемы в компании возникают не только из-за вопросов связанных с уплатой налогов. Это бывает и из-за недостатков системы управления корпоративными финансами компании.
								p Диагностика покажет, какие данные нужны, чтобы найти и устранить их. Другими словами, первый шаг к решению проблем с финансами - определить направление поиска, необходимые данные и очередность задач по устранению проблем.
							//- a.paper__consult(style='background-image: url(images/skills5.png);display:block;' href='/uslugi/diagnostika-finansov/')
							//- 	.paper__consult-content
							//- 		.paper__consult-text
							//- 			p Заходите на страницу диагностики корпоративных финансов
							//- 			p устраните причины проблем бизнеса, повысьте <br> прибыль и рентабельность на вложенный капитал
							//- 		.paper__consult-button
							//- 			span Перейти
							//- 			img(src="img/arrow-right.svg" alt="")

					.paper__sidebar
						.paper__author
							.paper__author-photo
								img(src="images/user9.png" alt="")
							.paper__author-wrapper
								.paper__author-name Владимир Вавилов
								.paper__author-position Эксперт по управлению корпоративными финансами
						.paper__info
							.paper__views
								img(src="img/view.svg" alt="")
								span 465
							.paper__date 26.06.2020
			.paper__bottom-nav
				a(href='#').paper__back Вернуться к списку статей
				.paper__bottom-nav-wrapper
					a(href='#').paper__next
						span Следующая статья
						img(src="img/arrow-right-gray.svg" alt="")