extends layouts/default

block vars
    -
        const page = {
            title: 'index.html'
        };




block main
    .paper
        .container.paper__container
            .paper__wrapper
                .paper__head(style='background-image: url(images/papers_item13-new.jpg)')
                    .paper__head-content
                        .paper__topic Персонал
                        .paper__title Чем занимается Бухгалтерия. Мифы и стереотипы.
                .paper__main
                    .paper__content.paper--interview
                        .paper-part.paper-part--one
                            .paper-part__desc
                                p Отдел продаж, бесспорно, самое главное подразделение в компании и его деятельность и результат понятен, более того, эта работа видна невооруженным глазом. А вот работу отдела бухгалтерии фактически невозможно увидеть с первого взгляда.
                                p Давайте будем честными, кто из вас знает, чем конкретно занимаются в этом отделе ежедневно? Большинство ответит: “Перекладыванием бумажек”. Создается впечатление, что бухгалтерия стремится бюрократией помешать работать продавцам - “орлам” с “передовой”. Ведь здесь наклевывается очередной выгодный договор, а к менеджеру пристали с документами. Кому это может быть нужно, когда на горизонте такие деньги?
                                p Если брать формулировку работы бухгалтерии в целом, то да, это именно перекладывание бумажек. Как и 99% работников офисов только и делают, что все перебирают бумажки.  Вопрос только в том, для чего это делается. Разберем 3 конкретных направления работы бухгалтерии, которые помогут лучше понять эту необходимость.

                        .paper-part.paper-part--two
                            .paper-part__subtitle 1. Бухгалтерский учёт.
                            .paper-part__desc
                                p Бухгалтерский учет. Что это такое и с чем это едят мы писали в этой статье <a href="">«Бухучет как он есть»</a>. Однако, есть стереотип, что бухучет нужен только для исполнения предписаний государства по его ведению. На самом деле более 80% всей финансовой информации, призванной для непосредственного управления компанией, содержится в регистрах бухучета в виде операций, документов, проводок.
                                p В основном руководители видят только конечный результат в виде плоских таблиц, отчетов - Ф1 (Баланс), Ф2 (Отчет о финансовых результатах), Ф4 (отчет о движении денежных средств). Но вот чтобы к нему (к этому результату) прийти, нужно каждое действие компании превратить в набор из нескольких операции, при этом соблюсти балансное правило и двойную запись.
                                p Любое действие трансформируется в операции проводки, и из этих кирпичиков собирается дом. Отчеты - это как фотки фасада этого дома, но сам директор должен видеть внутренности, крепость стен и фундамента. В регистрах бухучета очень много полезной для принятия грамотных управленческих решений информации, ценность которой и открывается при случае взаимопонимания руководителя и бухгалтера.

                        .paper-part.paper-part--three
                            .paper-part__subtitle 2. Функция контроля
                            .paper-part__desc
                                p Многие компании работают с отсрочкой платежей. Либо же оплата идет 50/50: предоплата сразу и вторая часть после выполнения условий договора.
                                p Получаем следующую ситуацию: менеджеры занимаются заключением договоров. Они нашли клиентов и заказчиков, продавали товары или услуги, в общем, зарабатывали деньги для компании. Но по факту получается так, что в данный конкретный момент деньги компания не получила, она их получит через месяц.
                                p Договор заключили, компания поработала, а факт отгрузки или предоставления услуги оформили неправильно. или же не задокументировали вовсе. Ну вот потому, что это очень сложно и требует “лишних” действий. А клиент потом взял и отказался платить деньги. Но доказать тот факт, что отгрузка произошла, будет крайне трудно, или невозможно даже через суд. Здесь отметим, что решения таких ситуаций практически нет. Поэтому главбух - это еще и контролер по недопущению просроченной дебиторки и минимизацию рисков.

                        .paper-part.paper-part--three
                            .paper-part__subtitle 3. Расчет налогов
                            .paper-part__desc
                                p Приходит время платить налоги, бухгалтер обращается к руководителю и говорит: 1000 руб. нужно заплатить. Руководитель в недоумении, откуда 1000? Я рассчитывал на 100 и был готов платить только эту сумму. Бухгалтер объясняет: ну как откуда, я же говорила, что нужны такие-то и такие-то бумажки, даже Вас просила посодействовать, а Вы мне сказали, что бумажки – это все ерунда, не отвлекай моих «орлов» от зарабатывания денег.
                                p Мы видим типичную для многих руководителей ошибку: нежелание работать с документами так, как того требуют нормы оформления. От этого страдает отчетность компании, которая предоставляется налоговой. И пусть расчеты руководителя правильные и по факту нужно платить только 100 руб, но по документам нужно отдать 1000 руб, а налоговая смотрит именно документы.
                                p Нужно отметить, что в настоящее время практически невозможно в нашем государстве просто так «рисовать» налоги. Сильно изменилась ситуация – и законодательство, и технологии шагнули вперед, и проверяется это всё моментально. В результате, через время руководителя вызовут в налоговую, где нужно будет заплатить налог в нужном размере плюс штраф..
                                p В лучшем случае, можно попытаться решить вопрос через суд, если получится добыть те самые недостающие бумаги. Но на это нужно время, за которое может произойти все что угодно, вплоть до замораживания деятельности компании.

                                .paper-part__quote
                                    .paper-part__quote-text
                                        span Руководителю, нужно воспринимать бухгалтерию как свою левую руку, и выстраивать максимально партнерские отношения. Бухгалтеру не умничать используя специфические термины понятные ему одному, а находить правильные слова, и смыслы - понятные любому руководителю. Ведь когда понятно почему, тогда понятно зачем.


                        .paper-part.paper-part--four
                            .paper-part__title Правильное взаимодействие между отделами компании и бухгалтерии — залог успеха
                            .paper-part__desc
                                p Можно с уверенностью сказать, что у любого специалиста любой компании рано или поздно случались недоразумения с бухгалтерией. Но если на уровне работника это могут быть незначительные вопросы, то с руководством случаются совсем другие недопонимания. Нужно отметить, что в 90% случаев, с которыми мы работали, конфликты между генеральным директором и бухгалтерией — обычное дело. И это никогда не отражается положительно на финансовых вопросах компании и взаимодействии с налоговой инспекцией.

                        .paper-part.paper-part--four
                            .paper-part__title Почему так происходит?
                            .paper-part__desc
                                p Выделим основные причины:
                                ol
                                    li
                                        span Профессионалы с одной и другой стороны не понимают друг друга, они говорят на разных языках. К примеру, бухгалтер говорит: шеф, у нас на 26 по дебету счета, сальдо отрицательное, нужно у контрагента счет-фактуру забрать. Шеф не понимает что это за птичий язык,  что и у кого забирать.
                                    li
                                        span Фокусировка на результате любой ценой, невзирая на последствия. Когда генеральный командует: «Все срочно в бой!», то продавцы бегут сломя голову. И то, что они бегут с расстегнутыми карманами, роняя боеприпасы на ходу, мало кого волнует, атака же! А вот бухгалтерию, оказывается, волнует. И те самые бойцы считают что бухгалтера им только мешают и не дают развернуть атаку. И все потому, что они не понимают ценность “бумажек”, которые с них требуют. Часто и сам руководитель не до конца это понимает.
                                    li
                                        span Конфликт интересов. Главбух хочет чтобы все было по полочкам и чтобы за это ничего не было, а руководитель часто ищет пути обхода. Где-то сэкономить, где-то поискать как повысить доход. При этом еще и бухгалтерию может подталкивать на сомнительные операции: давай, мол, обойдем, а вдруг проканает. Только такое “а вдруг” легко может привести к казенному дому с решетками на окнах.

                        .paper-part.paper-part--four
                            .paper-part__title Подведем итоги
                            .paper-part__desc
                                p Из всего вышесказанного может показаться, что бюрократия должна стать во главе работы всей компании. Но это тоже не совсем верно. Компании стоит вывести собственную формулу работы с документами, довести до того же автоматизма, что и работа менеджеров. Кроме того, если все подразделения в компании, а самое главное, руководитель, будут придерживаться следующих нехитрых правил, то конфликтные ситуации сойдут на нет, а весь бизнес в итоге выиграет:
                                ol
                                    li
                                        span Бизнес никогда не должен быть подчинен бухгалтерии, бухгалтерия должна встраиваться в бизнес.
                                    li
                                        span Интересы «зарабатывающих» подразделений и 	обслуживающих (бухгалтерии) не должны быть «по разные стороны баррикад» - все с одной стороны – «добытчики» на передовой, бухгалтерия надежный тыл.
                                    li
                                        span «Рыба гниет с головы» - руководитель компании должен понимать, что в государстве существует налоговое законодательство, в рамках которого необходимо жить, и для выживания нужно следовать 	рекомендациям специалистов в этой области.
                                    li
                                        span Основная задача бухгалтерии – учет и контроль, а не только расчет налогов. При правильной организации их работы бизнес будет обезопасен от определенных рисков потери денег и финансовой устойчивости.
                                    li
                                        span Самое главное – руководитель компании и бухгалтер должны стараться говорить на одном языке. И видеть единую цель. Это 	поможет бизнесу в нашей агрессивной 	среде функционировать максимально эффективно.

                        .paper__share
                            .paper__share-title Понравилась статья? Расскажите друзьям:
                            .paper__socials
                                a(href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;p[title]=Какой уровень учета нужен для бизнеса&amp;p[summary]=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;p[images][0]=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--fb
                                    img(src="img/contacts/fb-white.png" alt="")
                                    span Поделиться в Facebook
                                a(href="http://vkontakte.ru/share.php?url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;title=Какой уровень учета нужен для бизнеса&amp;description=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;image=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png&amp;noparse=true" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--vk
                                    img(src="img/contacts/vk-white.png" alt="")
                                    span Поделиться в VK
                                a(href="http://twitter.com/share?text=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/ ?>" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--tw
                                    img(src="img/contacts/tw-white.png" alt="")
                                    span Поделиться в Twitter

                        a.paper__consult(style='background-image: url(images/skills5.png);display:block;' href='/uslugi/diagnostika-finansov/')
                            .paper__consult-content
                                .paper__consult-text
                                    p Заходите на страницу диагностики корпоративных финансов
                                    p устраните причины проблем бизнеса, повысьте <br> прибыль и рентабельность на вложенный капитал
                                .paper__consult-button
                                    span Перейти
                                    img(src="img/arrow-right.svg" alt="")

                    .paper__sidebar
                        .paper__author
                            .paper__author-photo
                                img(src="images/user3.jpg" alt="")
                            .paper__author-wrapper
                                .paper__author-name Инна Шатохина
                                .paper__author-position Эксперт в области налогообложения
                        .paper__info
                            .paper__views
                                img(src="img/view.svg" alt="")
                                span 465
                            .paper__date 31.10.2020
            .paper__bottom-nav
                a(href='#').paper__back Вернуться к списку статей
                .paper__bottom-nav-wrapper
                    a(href='#').paper__next
                        span Следующая статья
                        img(src="img/arrow-right-gray.svg" alt="")