extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.papers
		.container
			.papers--heading Статьи и видео
			.papers--grid
				.papers--grid_item.papers_item1
					span.paper Памятка на время сильных колебаний на финансовых  #[br(class="mbr")]рынках
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item.papers_item2
					span.paper Будущее российской экономики признали непрогнозируемым
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item.papers_item3
					span.paper Куда вложить миллион рублей так, чтобы заработать
					span.author Олег Дранко
					a.read Читать
				.papers--grid_item.papers_item4
					span.paper Куда вложить деньги. Грамотное вложение денег
					span.author Мария Царькова
					a.read Читать
				.papers--grid_item.papers_item5
					span.paper 5 инвестиций с низким уровнем риска и высокой доходностью
					span.author Инна Шатохина
					a.read Читать
				.papers--grid_item.papers_item6
					span.paper Открытые и закрытые ПИФы – в чем разница?
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item.papers_big-block.papers_video-block
					span.paper Торговая стратегия «Уровни #[br(class="dbr")] Фибоначчи»: описание и #[br(class="dbr tbr")]применение в трейдинге
					span.author Продолжительность: 14 мин
					.papers_prewiew
						.papers_prewiew-overlay
						img.papers_play(src="img/papers_play.svg", alt="play")
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TzldwmbZSnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				.papers--grid_item.papers_long-block
					span.paper Компания Forex Club:#[br(class="dbr tbr")]  передовые торговые условия
					span.author Владимир Вавилов
					a.read Читать
