extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};



block main
	.papers
		.container
			.papers__title Статьи и видео
			.papers__wrapper
				.papers-item
					.papers-item__top(style='background-image: url(images/papers_item1.jpg)')
						.papers-item__top-content
							.papers-item__author Владимир Вавилов
							.papers-item__title Какой уровень учета нужен <br> для бизнеса
					.papers-item__bottom
						.papers-item__desc Чем сложнее бизнес, тем больше “белых пятен” в движении денег. Это значит, нужно детализировать финансовую отчетность,
															|  чтобы видеть реальную картину и принимать прибыльные решения.
						.papers-item__nav
							a.papers-item__read(href='#')
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
				.papers-item
					.papers-item__top(style='background-image: url(images/papers_item8.jpg)')
						.papers-item__top-content
							.papers-item__author Интервью
							.papers-item__title Как финансовая отчетность влияет на развитие бизнеса
					.papers-item__bottom
						.papers-item__desc Интервью с участием Владимира Вавилова, в котором, используя простые аналогии, объясняется что такое финансовая
															|  отчетность и чем она важна для удержания и развития собственного бизнеса. Обсуждается также вопрос кто в компании
															|  должен заниматься ведением финансовой отчетности.
						.papers-item__nav
							a.papers-item__read(href='#')
								span Читать
								img(src="img/arrow-right.svg" alt="")
							.papers-item__info
								.papers-item__views
									img(src="img/view.svg" alt="")
									span 465
								.papers-item__date 26.06.2020
