extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};



block main
	.papers
		.container
			.papers--heading Статьи и видео
			.papers--grid
				.papers--grid_item(style="background-image:url(images/papers_item1.png)")
					span.paper Памятка на время сильных колебаний на финансовых  #[br(class="mbr")]рынках
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item2.png)")
					span.paper Будущее российской экономики признали непрогнозируемым
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item3.png)")
					span.paper Куда вложить миллион рублей так, чтобы заработать
					span.author Олег Дранко
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item4.png)")
					span.paper Куда вложить деньги. Грамотное вложение денег
					span.author Мария Царькова
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item5.png)")
					span.paper 5 инвестиций с низким уровнем риска и высокой доходностью
					span.author Инна Шатохина
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item6.png)")
					span.paper Открытые и закрытые ПИФы – в чем разница?
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item
					span.paper Торговая стратегия «Уровни #[br(class="dbr")] Фибоначчи»: описание и #[br(class="dbr tbr")]применение в трейдинге
					span.author Продолжительность: 14 мин
					.papers_prewiew(style="background-image:url(images/papers_video.jpg)")
						.papers_prewiew-overlay
						img.papers_play(src="img/papers_play.svg", alt="play")
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TzldwmbZSnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				.papers--grid_item(style="background-image:url(images/papers_item7.jpg)")
					span.paper Компания Forex Club:#[br(class="dbr tbr")]  передовые торговые условия
					span.author Владимир Вавилов
					a.read Читать

			.papers--grid
				.papers--grid_item(style="background-image:url(images/papers_item1.png)")
					span.paper Памятка на время сильных колебаний на финансовых  #[br(class="mbr")]рынках
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item2.png)")
					span.paper Будущее российской экономики признали непрогнозируемым
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item3.png)")
					span.paper Куда вложить миллион рублей так, чтобы заработать
					span.author Олег Дранко
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item4.png)")
					span.paper Куда вложить деньги. Грамотное вложение денег
					span.author Мария Царькова
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item5.png)")
					span.paper 5 инвестиций с низким уровнем риска и высокой доходностью
					span.author Инна Шатохина
					a.read Читать
				.papers--grid_item(style="background-image:url(images/papers_item6.png)")
					span.paper Открытые и закрытые ПИФы – в чем разница?
					span.author Владимир Вавилов
					a.read Читать
				.papers--grid_item
					span.paper Торговая стратегия «Уровни #[br(class="dbr")] Фибоначчи»: описание и #[br(class="dbr tbr")]применение в трейдинге
					span.author Продолжительность: 14 мин
					.papers_prewiew(style="background-image:url(images/papers_video.jpg)")
						.papers_prewiew-overlay
						img.papers_play(src="img/papers_play.svg", alt="play")
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/TzldwmbZSnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				.papers--grid_item(style="background-image:url(images/papers_item7.jpg)")
					span.paper Компания Forex Club:#[br(class="dbr tbr")]  передовые торговые условия
					span.author Владимир Вавилов
					a.read Читать
