extends layouts/default

block vars
	-
		const page = {
		title: 'index.html'
		};




block main
	.paper
		.container.paper__container
			.paper__wrapper
				.paper__head(style='background-image: url(images/papers_item10.jpg)')
					.paper__head-content
						.paper__topic Истории
						.paper__title О приборной панели в бизнесе
				.paper__main
					.paper__content
						.paper--interview
							.paper-part.paper-part--one
								.paper-part__title О приборной панели в бизнесе
								.paper-part__desc
									p Показатели бизнеса как показатели в приборной панели самолета. Слышали же такое сравнение финотчетности?
									p Как у самолета есть приборная панель которая показывает состояние воздушного судна, так и у бизнеса есть аналогичная панель которая показывает его состояние. Не всегда пилот может
										|  полагаться на свои глаза при посадке, при плохой видимости нужна посадка по приборам.
									p Так и в бизнесе “капитан” компании не всегда может полагаться только на свои глаза. Поэтому ему нужно оперативно и системно получать информацию, необходимую в настоящий момент.
									p Для понимания, на примере панели управления в самолете рассмотрим панель управления бизнеса. На ней есть 3 основных прибора, отображающие основные показатели бизнеса
							.paper-part.paper-part--two
								.paper-part__subtitle Аналогия с приборной панелью самолета:
								.paper-part__desc
									ul
										li
											span Balance — это высотомер компании. Показывает, сколько активов компания накопила за время существования.
										li
											span P&L — это авиагоризонт (показывает угол наклона аппарата). Прибыль - это нос задран вверх, убыток - вниз.
										li
											span CashFlow — это топливомер. Положительный денежный поток добавляет топливо, а отрицательный - убавляет.
									p По нашему же опыту 80% всех предпринимателей смотрят только на один отчет. Иногда даже не зная о существовании двух других. Обычно это отчет о движении денежных средств (ддс/cash flow).
										|  Это все равно что забыть про высоту и угол наклона самолета и следить только за уровнем топлива в баке.
									p Чтобы обеспечить своему бизнесу тот самый нормальный полет, нужно смотреть на все 3 основных показателя приборной панели, а не на один или на два из трёх.
							.paper-part.paper-part--three
								.paper-part__subtitle Выбор своей приборной панели для нормального полета.
								.paper-part__desc
									p Часто компании имеют набор показателей, не соответствующий их реальной потребности. И получается так, что в большом боинге стоит приборная панель от вертолета, и наоборот в маневренном вертолете стоит приборная панель от боинга.
									p Автоматизированная система финансовой отчетности — как раз та приборная панель которая должна подходить под размер бизнеса.
									p Крупная компания, которая имеет приборную панель от вертолета, летит почти вслепую. Когда по приборам все в порядке, но стекла запотели, а перед тобой гора, то вероятность облететь ее, равна нулю. Был бы прибор - пеленгатор, а его нет...
									p С бизнесом все то же. Бывает так, что не видно, что все несется вниз, потому что есть большие приходы денег. Это как в анекдоте: «Спрыгнув с сотого этажа, самоубийца, пролетая мимо пятидесятого, думал, что пока еще все хорошо»
									p Таким компаниям определенно нужна сложная система учета.
									.paper-part__quote
										.paper-part__quote-text
											span Не принимая во внимание все показатели с финансовой приборной панели, руководитель нередко допускает фатальные ошибки в принятии решений. Чтобы их избежать,нужно комплексно анализировать состояние компании и уже от этого объективного результата отталкиваться.
							.paper-part.paper-part--four
								.paper-part__subtitle Не все то полезно, что предлагают
								.paper-part__desc
									p Наверняка вы знаете, что сейчас на рынке есть очень разные системы от 1С до SAP. Но почему-то полно компаний-вертолетов с приборной панелью от боинга. Смотрите, что говорят консультанты:
									ol
										li
											span Зачем вам большой штат дорогих сотрудников? Мы вам дадим такой инструментарий, где нажал кнопку и все готово. ВуаЛя!
										li
											span Мы вам за 10 млн. поставим систему. Вы сейчас заплатите больше, чем своему финансисту, но заплатите один раз, и будете 10 лет пользоваться.
										li
											span Посмотрите, какие у вас продажники крутые, да вы сейчас делаете 10 млн, а через 3-5 лет вы же будете делать 1,5 ярда. Вы сейчас поставите систему и голова в будущем болеть не будет.
									p Думаю, многие из вас все эти песенки слышали.
									p А как оно на самом-то деле?
									ol
										li
											span Система позволит заменить сотрудников с высокой квалификацией на неучей? Как бы не так. Любая сложная система подразумевает высококвалифицированный персонал.
										li
											span Если клиент четко не знает чего хочет и процессы в бизнесе не отлажены, то “легким движением руки” 10 млн затрат превратятся в 30 млн, за счет доработок системы, замены ненужного функционала на нужный и т.д. И это не конец затрат...
										li
											span Бизнес - крайне динамичная система, постоянно меняется, планировать нужно наперед, но покупать то, что может и не понадобиться — пустая трата денег.
									p Наиболее рациональный поступок — это эволюционный подход. Есть потребность, она осознана компанией, результат понятен, тогда выбираем систему и внедряем. Если в голове только лишь “Я верю что когда система будет работать, то будет все работать как по часам” — это заведомо проигрышный путь. И сначала лучше разобраться вручную, и когда потребность станет четкой и ясной, вот тогда нужно подходить к выбору систем
							.paper__share
								.paper__share-title Понравилась статья? Расскажите друзьям:
								.paper__socials
									a(href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;p[title]=Какой уровень учета нужен для бизнеса&amp;p[summary]=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;p[images][0]=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--fb
										img(src="img/contacts/fb-white.png" alt="")
										span Поделиться в Facebook
									a(href="http://vkontakte.ru/share.php?url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/&amp;title=Какой уровень учета нужен для бизнеса&amp;description=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;image=https://glfinance.ru/upload/iblock/087/08745af8841dda89451f4b72af2aae67.png&amp;noparse=true" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--vk
										img(src="img/contacts/vk-white.png" alt="")
										span Поделиться в VK
									a(href="http://twitter.com/share?text=Простая и наглядная история о том, как должен изменяться финансовый учет по мере роста бизнеса от торговой точки к сети магазинов, чтобы вовремя предотвращать потери денег и зарабатывать больше.&amp;url=https://glfinance.ru/stati/kakoy-uroven-ucheta-nuzhen-dlya-biznesa/ ?>" onclick="window.open(this.href, this.title, 'toolbar=0, status=0, width=548, height=325'); return false" target='_blank').paper__socials-item.paper__socials-item--tw
										img(src="img/contacts/tw-white.png" alt="")
										span Поделиться в Twitter
							.paper__result-title Увидеть больше, чтобы управлять лучше
							.paper__result-text
								p Увидеть больше — это получить объективную оценку текущего состояния дел.
								p Видеть полную картину финансов компании, значит:
								ul
									li
										span Видеть риски и возможности;
									li
										span Иметь время для маневра;
									li
										span Понимать приоритет и быстрее двигаться.
								p Бизнесу жизненно необходимо видеть всю ситуацию полностью и со всех сторон. Только в этом случае возможно правильное решение — это и есть основной принцип управления, который применим во всех областях, в том числе и в финансах.
								p Именно поэтому мы помогаем компаниям увидеть больше, чтобы управлять лучше.
							//- a.paper__consult(style='background-image: url(images/skills2.png);display:block;' href='/uslugi/upravlench-otchyotnost-holding/')
							//- 	.paper__consult-content
							//- 		.paper__consult-text
							//- 			p Получите полную картину<br> финансов бизнеса
							//- 			p улучшайте прибыльность, рентабельность<br> и финансовую устойчивость
							//- 		.paper__consult-button
							//- 			span Перейти
							//- 			img(src="img/arrow-right.svg" alt="")

					.paper__sidebar
						.paper__author
							.paper__author-photo
								img(src="images/user9.png" alt="")
							.paper__author-wrapper
								.paper__author-name Владимир Вавилов
								.paper__author-position Эксперт по управлению корпоративными финансами
						.paper__info
							.paper__views
								img(src="img/view.svg" alt="")
								span 465
							.paper__date 26.06.2020
			.paper__bottom-nav
				a(href='#').paper__back Вернуться к списку статей
				.paper__bottom-nav-wrapper
					a(href='#').paper__next
						span Следующая статья
						img(src="img/arrow-right-gray.svg" alt="")