extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.services_section
		.container
			.services_section--heading Услуги и решения
			.services_section--flex
				a(href='/uslugi/diagnostika-finansov/').services_section--block
					figure
						.services_section--banner
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture-5.png", alt="banner")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_tbl5.png", alt="banner", class="img_tbl")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_mbl5.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Диагностика корпоративных финансов
							p
								b Для компаний из 1-5 юрлиц и оборотом от 200 млн.р. в год
							p Покажем возможности роста, найдем причины проблем и ответы на ключевые вопросы.
							p В результате: ТОП-10 проблемных зон, список ограничений, мешающих росту прибыли, план работы с ними
						.services_section--price.castom_padding-3
							.services_section--price-content
								img(src="https://glfinance.ru/bitrix/templates/GL/img/cash.svg", alt="price")
								span от 3-х часов
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='/uslugi/upravlench-otchyotnost/').services_section--block
					figure
						.services_section--banner
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture-3.png", alt="banner")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_tbl3.png", alt="banner", class="img_tbl")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_mbl3.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange.castom_orange_tbl Управленческая отчетность
							p
								b Для компаний из 1-15 юрлиц и оборотом от 300 млн.р. в год
							p Покажем объективную картину бизнеса, сделаем прогноз достижения Ваших целей.
							p В результате: выше прибыльность, рентабельность, оборачиваемость, финансовая устойчивость.
						.services_section--price.castom_price_tbl
							.services_section--price-content
								img(src="https://glfinance.ru/bitrix/templates/GL/img/cash.svg", alt="price")
								span от 2-х недель
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='/uslugi/konsolidirovannaya-otchetnost/').services_section--block
					figure
						.services_section--banner
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture.png", alt="banner")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_tbl1.png", alt="banner", class="img_tbl")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_mbl1.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Отчетность для банка
							p
								b Для компаний из 2-15 юрлиц и оборотом от 300 млн.р. в год
							p Подготовим отчетность, объясним показатели, подскажем, как сдавать и общаться в банке.
							p В результате: выгодные условия по новым кредитам, улучшение условий по уже взятым кредитам.
						.services_section--price
							.services_section--price-content
								img(src="https://glfinance.ru/bitrix/templates/GL/img/cash.svg", alt="price")
								span от 7-ми дней
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='/uslugi/optimizasia-holdinga/').services_section--block
					figure
						.services_section--banner
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture-4.png", alt="banner")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_tbl4.png", alt="banner", class="img_tbl")
							img(src="https://glfinance.ru/bitrix/templates/GL/images/picture_mbl4.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Оптимизация структуры #[br(class="dbr tbr")] группы компаний
							p
								b Для компаний из 3-15 юрлиц и оборотом от 500 млн.р. в год
							p Определим оптимальную структуру холдинга, подготовим план перехода к новой структуре, поможем реализовать.
							p В результате: защита активов от банкротства, враждебного поглощения, более прозрачное и эффективное управление бизнесом.
						.services_section--price.castom_padding
							.services_section--price-content
								img(src="https://glfinance.ru/bitrix/templates/GL/img/cash.svg", alt="price")
								span от 4-х недель
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>