extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.services_section
		.container
			.services_section--heading Услуги и решения
			.services_section--flex
				.services_section--block
					.services_section--banner
						img(src="images/picture.png", alt="banner")
						img(src="images/picture_tbl1.png", alt="banner", class="img_tbl")
						img(src="images/picture_mbl1.png", alt="banner", class="img_mbl")
					.services_section--content
						span.orange Консолидированная отчетность #[br(class="dbr tbr mbr")] для банка
						p
							b Для получения кредита и контроля ковенант.
						p Консолидированный финансовый отчет РСБУ по #[br(class="dbr")] форме No1, форме No2 и форме No4.
						p Консолидированный управленческий баланс, отчет о #[br(class="dbr")] доходах и расходах, отчет о движении денег по #[br(class="dbr")] группе компаний, расчет финансовых...
					.services_section--price
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 100 000 &#8381
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 7 дней
					.services_section--link_block
						a.text(href="#") Узнать подробнее
						a.img(href="#")
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				.services_section--block
					.services_section--banner
						img(src="images/picture-2.png", alt="banner")
						img(src="images/picture_tbl2.png", alt="banner", class="img_tbl")
						img(src="images/picture_mbl2.png", alt="banner", class="img_mbl")
					.services_section--content
						span.orange Управленческая отчетность #[br(class="dbr")]для #[br(class="tbr")]холдинга или группы
						p
							b Для контроля и управления холдингом.
						p Управленческий баланс, отчет о доходах и расходах, #[br(class="dbr")]отчет о движении денежных средств в OLAP кубах по#[br(class="dbr")] холдингу в целом и отдельным компаниям группы.
						p Классификатор статей для каждого отчета и#[br(class="dbr")] расписанную #[br(class="tbr")] методологию группировки статей...
					.services_section--price
						.services_section--price-content.mbl_price
							img(src="img/price.svg", alt="price")
							span от 300 000 &#8381
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 2-х недель
					.services_section--link_block
						a.text(href="#") Узнать подробнее
						a.img(href="#")
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				.services_section--block
					.services_section--banner
						img(src="images/picture-3.png", alt="banner")
						img(src="images/picture_tbl3.png", alt="banner", class="img_tbl")
						img(src="images/picture_mbl3.png", alt="banner", class="img_mbl")
					.services_section--content
						span.orange.castom_orange_tbl Управленческая отчетность #[br(class="dbr")]для #[br(class="tbr")]отдельной компании
						p
							b Для контроля и управления компанией.
						p Управленческий баланс, отчет о доходах и расходах, отчет #[br(class="dbr tbr")]о движении денежных средств в "живых" таблицах #[br(class="dbr")](OLAP-кубы).
						p Полная картина по компании в готовом виде за неделю, без #[br(class="tbr")]внедрения дополнительного софта, без отрыва сотрудников...
					.services_section--price.castom_price_tbl
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 100 000 &#8381
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 7 дней
					.services_section--link_block
						a.text(href="#") Узнать подробнее
						a.img(href="#")
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				.services_section--block
					.services_section--banner
						img(src="images/picture-4.png", alt="banner")
						img(src="images/picture_tbl4.png", alt="banner", class="img_tbl")
						img(src="images/picture_mbl4.png", alt="banner", class="img_mbl")
					.services_section--content
						span.orange Оптимизация структуры #[br(class="dbr")]холдинга #[br(class="tbr")]или группы
						p
							b Защита активов от риска банкротства и захвата, #[br(class="dbr")]снижение налоговой нагрузки.
						p Определение зон риска в структуре управления активами и деньгами, неэффективного распределения налогов.
						p Разработка новой структуры холдинга,	#[span(class="mbl")] консалтинговое и юридическое сопровождение для переоформления #[br(class="dbr")] активов...
					.services_section--price.castom_padding
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 290 000 &#8381
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 4-х недель
					.services_section--link_block
						a.text(href="#") Узнать подробнее
						a.img(href="#")
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				.services_section--block
					.services_section--banner
						img(src="images/picture-5.png", alt="banner")
						img(src="images/picture_tbl5.png", alt="banner", class="img_tbl")
						img(src="images/picture_mbl5.png", alt="banner", class="img_mbl")
					.services_section--content
						span.orange Комплексная диагностика #[br(class="dbr tbr")]корпоративных финансов
						p
							b План действий по устранению проблем с финансами, отчетностью #[br(class="tbr")]и управлением активами.
						p Определим проблемные направления, предложим #[br(class="dbr")]пошаговый план действий для устранения.
						p Если уменьшились дивиденды учредителям, нет ясности, насколько хорошо идут дела...
					.services_section--price.castom_padding-3
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 50 000 &#8381
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 3-х дней
					.services_section--link_block
						a.text(href="#") Узнать подробнее
						a.img(href="#")
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				.services_section--block
					.services_section--banner
						img(src="images/picture-6.png", alt="banner")
						img(src="images/picture_tbl6.png", alt="banner", class="img_tbl")
						img(src="images/picture_mbl6.png", alt="banner", class="img_mbl")
					.services_section--content
						span.orange.mbl_orange_2 Полный набор данных для #[br(class="dbr tbr mbr")]финансового директора
						p
							b Инструмент для финансового анализа, #[br(class="dbr")]поиска причин проблем и подготовки отчетов.
						p Для профессионалов управления финансами.
						p OLAP-куб в Excel с бухгалтерской информацией из главной книги в управленческом представлении. Готовая таблица для анализа финансов в разных разрезах...
					.services_section--price.castom_padding-2
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 200 000 &#8381
						.services_section--price-content
							img(src="img/price.svg", alt="price")
							span от 2-х недель
					.services_section--link_block
						a.text(href="#") Узнать подробнее
						a.img(href="#")
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>