extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.services_section
		.container
			.services_section--heading Услуги и решения
			.services_section--flex
				a(href='#').services_section--block
					figure
						.services_section--banner
							img(src="images/picture-5.png", alt="banner")
							img(src="images/picture_tbl5.png", alt="banner", class="img_tbl")
							img(src="images/picture_mbl5.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Комплексная диагностика #[br(class="dbr tbr")]корпоративных финансов за 3 часа
							p
								b Для компаний с оборотом от 5 млн руб в месяц.
							p Покажем возможности роста, найдем причины проблем и ответы на ключевые вопросы.
							p В результате: ТОП-10 проблемных зон, список ограничений, мешающих росту прибыли, план работы с ними
						.services_section--price.castom_padding-3
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 50 000 тыс. руб
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='#').services_section--block
					figure
						.services_section--banner
							img(src="images/picture-3.png", alt="banner")
							img(src="images/picture_tbl3.png", alt="banner", class="img_tbl")
							img(src="images/picture_mbl3.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange.castom_orange_tbl Управленческая отчетность #[br(class="dbr tbr")] для компании за 7 дней
							p
								b Для компаний из одного юрлица и оборотом от 10 млн руб в месяц.
							p Покажем объективную картину бизнеса, сделаем прогноз достижения Ваших целей.
							p В результате: выше прибыльность, рентабельность, оборачиваемость, финансовая устойчивость.
						.services_section--price.castom_price_tbl
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 200 тыс. руб/ за год
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 7 дней
					.services_section--link_block
						span.text Узнать подробнее
						.img
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='#').services_section--block
					figure
						.services_section--banner
							img(src="images/picture.png", alt="banner")
							img(src="images/picture_tbl1.png", alt="banner", class="img_tbl")
							img(src="images/picture_mbl1.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Консолидированная отчетность #[br(class="dbr tbr mbr")] для банка за 7 дней
							p
								b Для компаний из 2-15 юрлиц и оборотом от 20 млн руб в месяц.
							p Подготовим отчетность, объясним показатели, подскажем, как сдавать и общаться в банке.
							p В результате: выгодные условия по новым кредитам, улучшение условий по уже взятым кредитам.
						.services_section--price
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 300 000 руб./ за год
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от недели
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='#').services_section--block
					figure
						.services_section--banner
							img(src="images/picture-2.png", alt="banner")
							img(src="images/picture_tbl2.png", alt="banner", class="img_tbl")
							img(src="images/picture_mbl2.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Управленческая отчетность #[br(class="dbr tbr")] для группы компаний за 2 недели
							p
								b Для компаний из 2-15 юрлиц и оборотом от 20 млн руб в месяц.
							p Покажем объективную картину бизнеса, сделаем прогноз достижения Ваших целей.
							p В результате: выше прибыльность, рентабельность, оборачиваемость, финансовая устойчивость.
						.services_section--price
							.services_section--price-content.mbl_price
								img(src="img/price.svg", alt="price")
								span от 500 тыс. руб./ за год
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 2-х недель
					.services_section--link_block
						span.text Узнать подробнее
						.img
							<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='#').services_section--block
					figure
						.services_section--banner
							img(src="images/picture-6.png", alt="banner")
							img(src="images/picture_tbl6.png", alt="banner", class="img_tbl")
							img(src="images/picture_mbl6.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange.mbl_orange_2 Инструменты анализа и контроля #[br(class="dbr tbr")] показателей бизнеса
							p
								b Для финансовых специалистов из управляющих компаний с оборотом от 20 млн руб в месяц.
							p Соберем и структурируем данные в нужных Вам формах, устраним разногласия в учете без разработки и внедрения нового софта.
							p В результате: таблицы для детального финансового анализа, поиска причин проблем и создания отчетов для руководства “на лету”.
						.services_section--price.castom_padding-2
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 300 тыс. руб/ за год
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 2-х недель
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>
				a(href='#').services_section--block
					figure
						.services_section--banner
							img(src="images/picture-4.png", alt="banner")
							img(src="images/picture_tbl4.png", alt="banner", class="img_tbl")
							img(src="images/picture_mbl4.png", alt="banner", class="img_mbl")
						.services_section--content
							span.orange Оптимизация структуры #[br(class="dbr tbr")] группы компаний
							p
								b Для компаний из 2-15 юрлиц и оборотом от 30 млн руб в месяц.
							p Определим оптимальную структуру холдинга, подготовим план перехода к новой структуре, поможем реализовать.
							p В результате: защита активов от банкротства, враждебного поглощения, более прозрачное и эффективное управление бизнесом.
						.services_section--price.castom_padding
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 500 тыс. руб
							.services_section--price-content
								img(src="img/price.svg", alt="price")
								span от 4-х недель
						.services_section--link_block
							span.text Узнать подробнее
							.img
								<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" stroke="#fff" stroke-width="2"/></svg>