extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};

block main
	.oveflow-section
		section.top-section
			.ts-container.container
				.ts-flex.ts-flex--align-left
					.ts-flex__left.ts-flex__left--big.ts-flex__left--padding-bottom
						h1.ts-heading.ts-heading--medium Улучшите финансовое состояние компании и перейдите от нестабильности к устойчивому развитию за 6 месяцев
						.ts-text-desktop.ts-text-desktop--small
							p Персональная программа пошагового внедрения инструментов управления финансами для собственников, которые устали от финансовых проблем, нестабильности и сложностей управления
						.ts-text-mobile.ts-text-mobile--align-left
							p Персональная программа пошагового внедрения инструментов управления финансами для собственников, которые устали от финансовых проблем, нестабильности и сложностей управления

						a.btn.btn--white.btn--with-right-arrow.ts-btn.ts-btn-desktop.btn--triangle-arrow.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')") ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ
							<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FEB900"/>
							<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
							</svg>

					.ts-flex__right.ts-flex__right--small
						img.ts-pic(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/st-bg.png" alt="" style="max-width:577px;")
						a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile.btn--triangle-arrow.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')") ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ
							<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FEB900"/>
							<path d="M11 18L16 23L11 28" stroke="#232323" stroke-width="2"/>
							</svg>
		section.what-stage-section
			.container 
				h2.default-h2 На каком этапе вы сейчас?
				.ws-block
					.ws-block__item.ans-item
						.ws-block__item-header.ans-item-question 
							span.ws-block__item-header-num 01
							h3.ws-block__item-header-title Вы чувствуете, что внутри <br> компании нет ясности
							svg(width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M17 1L9 8L1 0.999999" stroke="#232323" stroke-width="2")
						.ws-block__item-body.ans-item-answer
							span.ws-block__item-num 01
							h3.ws-block__item-title Вы чувствуете, что внутри <br> компании нет ясности
							p.ws-block__item-text Вы не понимаете финансовых возможностей и ограничений своего бизнеса. Вы боитесь роста, потому что неизвестно, сколько компания продержится в неблагоприятных и непредвиденных обстоятельствах.
					.ws-block__item.ans-item
						.ws-block__item-header.ans-item-question
							span.ws-block__item-header-num 02
							h3.ws-block__item-header-title Вы чувствуете, что внутри <br> компании нет ясности
							svg(width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M17 1L9 8L1 0.999999" stroke="#232323" stroke-width="2")
						.ws-block__item-body.ans-item-answer
							span.ws-block__item-num 02
							h3.ws-block__item-title Вы чувствуете, что внутри <br> компании нет ясности
							p.ws-block__item-text Вы не понимаете финансовых возможностей и ограничений своего бизнеса. Вы боитесь роста, потому что неизвестно, сколько компания продержится в неблагоприятных и непредвиденных обстоятельствах.
					.ws-block__item.ans-item
						.ws-block__item-header.ans-item-question 
							span.ws-block__item-header-num 03
							h3.ws-block__item-header-title Вам кажется, что вы не потянете внедрение <br> системы управления финансами
							svg(width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M17 1L9 8L1 0.999999" stroke="#232323" stroke-width="2")
						.ws-block__item-body.ans-item-answer 
							span.ws-block__item-num 03
							h3.ws-block__item-title Вам кажется, что вы не потянете внедрение <br> системы управления финансами
							p.ws-block__item-text Вы не понимаете финансовых возможностей и ограничений своего бизнеса. Вы боитесь роста, потому что неизвестно, сколько компания продержится в неблагоприятных и непредвиденных обстоятельствах.
					.ws-block__item.ans-item
						.ws-block__item-header.ans-item-question 
							span.ws-block__item-header-num 04
							h3.ws-block__item-header-title Вы опасаетесь, что компания не <br> выдержит роста.
							svg(width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M17 1L9 8L1 0.999999" stroke="#232323" stroke-width="2")
						.ws-block__item-body.ans-item-answer 
							span.ws-block__item-num 04
							h3.ws-block__item-title Вы опасаетесь, что компания не <br> выдержит роста.
							p.ws-block__item-text Вы переживаете, что неконтролируемый кратный рост бизнеса приведет к непоправимым последствиям и компания не переживет изменения
		section.different-section
			.container
				h2.default-h2 Все может быть по-другому...
				.ds-block(data-counter-id="ds-counter")
					.ds-block__item
						.ds-block__item-header 
							.ds-block__item-header-left
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M7.99992 2.66675C6.54091 2.66675 5.33325 3.87441 5.33325 5.33341V26.6667C5.33325 28.1258 6.54091 29.3334 7.99992 29.3334H15.9999V26.6667H7.99992V5.33341H17.3333V12.0001H24.6666H26.6666V10.6667L18.6666 2.66675H7.99992ZM19.9999 14.6667C19.2639 14.6667 18.6666 15.2641 18.6666 16.0001V30.6667C18.6666 31.4027 19.2639 32.0001 19.9999 32.0001H30.6666C31.4026 32.0001 31.9999 31.4027 31.9999 30.6667V16.0001C31.9999 15.2641 31.4026 14.6667 30.6666 14.6667H19.9999ZM21.3333 17.3334H29.3333V20.0001H21.3333V17.3334ZM22.6666 22.6667C23.4026 22.6667 23.9999 23.2641 23.9999 24.0001C23.9999 24.7361 23.4026 25.3334 22.6666 25.3334C21.9306 25.3334 21.3333 24.7361 21.3333 24.0001C21.3333 23.2641 21.9306 22.6667 22.6666 22.6667ZM27.9999 22.6667C28.7359 22.6667 29.3333 23.2641 29.3333 24.0001C29.3333 24.7361 28.7359 25.3334 27.9999 25.3334C27.2639 25.3334 26.6666 24.7361 26.6666 24.0001C26.6666 23.2641 27.2639 22.6667 27.9999 22.6667ZM22.6666 26.6667C23.4026 26.6667 23.9999 27.2641 23.9999 28.0001C23.9999 28.7361 23.4026 29.3334 22.6666 29.3334C21.9306 29.3334 21.3333 28.7361 21.3333 28.0001C21.3333 27.2641 21.9306 26.6667 22.6666 26.6667ZM27.9999 26.6667C28.7359 26.6667 29.3333 27.2641 29.3333 28.0001C29.3333 28.7361 28.7359 29.3334 27.9999 29.3334C27.2639 29.3334 26.6666 28.7361 26.6666 28.0001C26.6666 27.2641 27.2639 26.6667 27.9999 26.6667Z" fill="#232323"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="32" height="32" fill="white"/>
									</clipPath>
									</defs>
								</svg>
							.ds-block__item-header-right
								span 01
						p.ds-block__item-text Вы точно знаете, какую прибыль принесет бизнес в этом месяце. Все расходы определены заранее и денег на счетах всегда хватает на текущие потребности и развитие.
					.ds-block__item
						.ds-block__item-header 
							.ds-block__item-header-left
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.99996 4C3.26396 4 2.66663 4.59733 2.66663 5.33333V18.6667C2.66663 19.4027 3.26396 20 3.99996 20H28C28.736 20 29.3333 19.4027 29.3333 18.6667V5.33333C29.3333 4.59733 28.736 4 28 4H3.99996ZM6.54944 6.66667H25.4505C25.55 6.94708 25.7108 7.20175 25.9212 7.41214C26.1315 7.62253 26.3862 7.78333 26.6666 7.88281V16.1172C26.3862 16.2167 26.1315 16.3775 25.9212 16.5879C25.7108 16.7982 25.55 17.0529 25.4505 17.3333H6.54944C6.44995 17.0529 6.28916 16.7982 6.07877 16.5879C5.86838 16.3775 5.6137 16.2167 5.33329 16.1172V7.88281C5.6137 7.78333 5.86838 7.62253 6.07877 7.41214C6.28916 7.20175 6.44995 6.94708 6.54944 6.66667ZM16 8C14.9391 8 13.9217 8.42143 13.1715 9.17157C12.4214 9.92172 12 10.9391 12 12C12 13.0609 12.4214 14.0783 13.1715 14.8284C13.9217 15.5786 14.9391 16 16 16C17.0608 16 18.0782 15.5786 18.8284 14.8284C19.5785 14.0783 20 13.0609 20 12C20 10.9391 19.5785 9.92172 18.8284 9.17157C18.0782 8.42143 17.0608 8 16 8ZM9.33329 10.6667C8.59729 10.6667 7.99996 11.2627 7.99996 12C7.99996 12.7373 8.59729 13.3333 9.33329 13.3333C10.0693 13.3333 10.6666 12.7373 10.6666 12C10.6666 11.2627 10.0693 10.6667 9.33329 10.6667ZM22.6666 10.6667C21.9306 10.6667 21.3333 11.2627 21.3333 12C21.3333 12.7373 21.9306 13.3333 22.6666 13.3333C23.4026 13.3333 24 12.7373 24 12C24 11.2627 23.4026 10.6667 22.6666 10.6667ZM2.66663 21.3333V24H29.3333V21.3333H2.66663ZM2.66663 25.3333V28H29.3333V25.3333H2.66663Z" fill="#232323"/>
								</svg>
							.ds-block__item-header-right
								span 02
						p.ds-block__item-text Вы спокойны за свое будущее, потому что знаете запас финансовой прочности бизнеса и берете только выполнимые обязательства. Если возникают непредвиденные ситуации, вы принимаете взвешенные решения, опираясь на полные и твердые данные о финансовом положении бизнеса.
					.ds-block__item
						.ds-block__item-header 
							.ds-block__item-header-left
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.3333 2.66675L19.7239 5.05737L17.3333 7.448L13.3333 3.448L8.06506 8.71623L9.95048 10.6016L13.3333 7.21883L17.3333 11.2188L21.6093 6.94279L24 9.33342V2.66675H17.3333ZM3.99996 13.3334C3.26396 13.3334 2.66663 13.9307 2.66663 14.6667V28.0001C2.66663 28.7361 3.26396 29.3334 3.99996 29.3334H28C28.736 29.3334 29.3333 28.7361 29.3333 28.0001V14.6667C29.3333 13.9307 28.736 13.3334 28 13.3334H3.99996ZM6.54944 16.0001H25.4505C25.55 16.2805 25.7108 16.5352 25.9212 16.7456C26.1315 16.9559 26.3862 17.1167 26.6666 17.2162V25.4506C26.3862 25.5501 26.1315 25.7109 25.9212 25.9213C25.7108 26.1317 25.55 26.3863 25.4505 26.6667H6.54944C6.44995 26.3863 6.28916 26.1317 6.07877 25.9213C5.86838 25.7109 5.6137 25.5501 5.33329 25.4506V17.2162C5.6137 17.1167 5.86838 16.9559 6.07877 16.7456C6.28916 16.5352 6.44995 16.2805 6.54944 16.0001ZM16 17.3334C14.9391 17.3334 13.9217 17.7548 13.1715 18.505C12.4214 19.2551 12 20.2725 12 21.3334C12 22.3943 12.4214 23.4117 13.1715 24.1618C13.9217 24.912 14.9391 25.3334 16 25.3334C17.0608 25.3334 18.0782 24.912 18.8284 24.1618C19.5785 23.4117 20 22.3943 20 21.3334C20 20.2725 19.5785 19.2551 18.8284 18.505C18.0782 17.7548 17.0608 17.3334 16 17.3334ZM9.33329 20.0001C8.59729 20.0001 7.99996 20.5961 7.99996 21.3334C7.99996 22.0707 8.59729 22.6667 9.33329 22.6667C10.0693 22.6667 10.6666 22.0707 10.6666 21.3334C10.6666 20.5961 10.0693 20.0001 9.33329 20.0001ZM22.6666 20.0001C21.9306 20.0001 21.3333 20.5961 21.3333 21.3334C21.3333 22.0707 21.9306 22.6667 22.6666 22.6667C23.4026 22.6667 24 22.0707 24 21.3334C24 20.5961 23.4026 20.0001 22.6666 20.0001Z" fill="#232323"/>
								</svg>

							.ds-block__item-header-right
								span 03
						p.ds-block__item-text Ваши дивиденды уверенно растут, а отчеты показывают рост стоимости бизнеса. Ваш бизнес дает свободу жить, увеличивается его капитализация и благосостояние вашей семьи.
					.ds-block__item
						.ds-block__item-header 
							.ds-block__item-header-left
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
										<path d="M14.6667 2.66675V5.33341H2.66675V8.00008H4.00008V21.3334C4.00008 22.7908 5.20933 24.0001 6.66675 24.0001H8.64852L6.64852 28.0001H9.63289L11.6329 24.0001H16.0001C16.0001 28.4001 19.6001 32.0001 24.0001 32.0001C28.4001 32.0001 32.0001 28.4001 32.0001 24.0001C32.0001 21.0568 30.3838 18.4779 28.0001 17.0886V8.00008H29.3334V5.33341H17.3334V2.66675H14.6667ZM6.66675 8.00008H25.3334V16.1225C24.8986 16.0486 24.4551 16.0001 24.0001 16.0001C20.5352 16.0001 17.5742 18.2359 16.4688 21.3334H6.66675V8.00008ZM20.3907 9.72404L17.0704 13.0444L14.4037 11.711L9.72404 16.3907L11.6095 18.2761L14.9298 14.9558L17.5964 16.2891L22.2761 11.6095L20.3907 9.72404ZM24.0001 18.6667C26.9334 18.6667 29.3334 21.0667 29.3334 24.0001C29.3334 26.9334 26.9334 29.3334 24.0001 29.3334C21.0667 29.3334 18.6667 26.9334 18.6667 24.0001C18.6667 21.0667 21.0667 18.6667 24.0001 18.6667ZM25.2006 20.2657L22.9324 24.1329L25.8673 27.0678L27.0678 25.7345L25.0678 23.8673L26.6667 21.0678L25.2006 20.2657Z" fill="#232323"/>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="32" height="32" fill="white"/>
										</clipPath>
									</defs>
								</svg>
							.ds-block__item-header-right
								span 04
						p.ds-block__item-text Ваши дивиденды уверенно растут, а отчеты показывают рост стоимости бизнеса. Ваш бизнес дает свободу жить, увеличивается его капитализация и благосостояние вашей семьи.
					.ds-block__item
						.ds-block__item-header 
							.ds-block__item-header-left
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.3333 1.33325L7.99996 18.6666H16V30.6666L25.3333 13.3333H17.3333V1.33325ZM4.94267 4.39054L3.05725 6.27596L7.05725 10.276L8.94267 8.39054L4.94267 4.39054ZM27.0573 4.39054L23.0573 8.39054L24.9427 10.276L28.9427 6.27596L27.0573 4.39054ZM7.05725 21.7239L3.05725 25.7239L4.94267 27.6093L8.94267 23.6093L7.05725 21.7239ZM24.9427 21.7239L23.0573 23.6093L27.0573 27.6093L28.9427 25.7239L24.9427 21.7239Z" fill="#232323"/>
								</svg>
							.ds-block__item-header-right
								span 05
						p.ds-block__item-text Ваш бизнес заряжает вас энергией двигаться дальше и стремиться к новым целям. Времена изматывающего тушения пожаров остались в прошлом. Теперь ваша система управления финансами образец для подражания в отрасли.
					.ds-block__item.ds-block__item--last
						p.ds-block__item-text.ds-block__item-text--last Если это то, чего вы хотите, нам предстоит поработать вместе
				.ds-block-mobile-counter
					#ds-counter.ds-block-mobile-counter__current 1
					.ds-block-mobile-counter__slash /
					.ds-block-mobile-counter__max 6
		section.so-info-section
			.container
				.so-info-flex
					.so-info-flex__left
						p.so-info__text.so-info__text--yellow Программа пошагового внедрения инструментов управления финансами бизнеса с персональным сопровождением эксперта
						p.so-info__text У вас не будет проблем с финансами и бизнес станет стабильным и легко управляемым
						p.so-info__text Устойчиво развивающийся бизнес через 6 месяцев
					.so-info-flex__right
						img.ts-pic(src="http://dev1.mockup.digital/bitrix/templates/GL/images/for_informations_banner1.png" alt="" style="max-width:881px;")
		section.project-author-section 
			.pa-flex 
				.pa-flex__left
					img.ts-pic(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/st-bg2.png" alt="")
					.pa-flex__left-block 
						span Автор проекта
						h4 Владимир Вавилов
						a(href="#").pa-flex__left-block-tag
							span записаться на консультацию
				.pa-flex__right
					ul 
						li Ментор и спикер Фонда «Сколково»
						li 20 проектов по повышению эффективности бизнеса с совокупным результатом > $10 млн
						li 7 успешно завершенных стратегических проектов с оборотом > $100 млн
						li 10 лет опыта работы в крупных промышленных холдингах на ТОП-позициях
						li 5 лет в управленческом консультировании и стратегическом планировании
						li 50 реализованных проектов в области финансов и автоматизации бизнес-процессов
					a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-mobile.btn--triangle-arrow.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')") ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ
		section.steps-section 
			.container
				h2.default-h2 5 этапов персональной программы создания <br> прочной финансовой основы для развития бизнеса
				.steps-cards(data-counter-id="steps-counter")
					.steps-card
						img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/step-3-1.png", alt="")
						.steps-card__backdrop 01
						.steps-card__content 
							h3.steps-card__title Ясная финансовая картина бизнеса
							ul 
								li Вы видите “узкие места” своего бизнеса в цифрах и вам очевидно, как их устранить и обезопасить;
								li Вы нашли новые “трамплины” для роста за счет внутренних резервов;
								li У вас есть четкие приоритеты, что делать в первую очередь, чтобы “закрыть дыры” и высвободить скрытые финансовые резервы.
					.steps-card
						img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/step-3.png", alt="")
						.steps-card__backdrop 02
						.steps-card__content 
							h3.steps-card__title Модель устойчивого развития
							ul 
								li Вы видите “узкие места” своего бизнеса в цифрах и вам очевидно, как их устранить и обезопасить;
								li Вы нашли новые “трамплины” для роста за счет внутренних резервов;
								li У вас есть четкие приоритеты, что делать в первую очередь, чтобы “закрыть дыры” и высвободить скрытые финансовые резервы.
					.steps-card
						img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/step-4-1.png", alt="")
						.steps-card__backdrop 03
						.steps-card__content 
							h3.steps-card__title Инструменты и технологии управления финансами
							ul 
								li Вы видите “узкие места” своего бизнеса в цифрах и вам очевидно, как их устранить и обезопасить;
								li Вы нашли новые “трамплины” для роста за счет внутренних резервов;
								li У вас есть четкие приоритеты, что делать в первую очередь, чтобы “закрыть дыры” и высвободить скрытые финансовые резервы.
					.steps-card
						img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/step-4.png", alt="")
						.steps-card__backdrop 04
						.steps-card__content 
							h3.steps-card__title Приемы и алгоритмы управленческих решений 
							ul 
								li Вы видите “узкие места” своего бизнеса в цифрах и вам очевидно, как их устранить и обезопасить;
								li Вы нашли новые “трамплины” для роста за счет внутренних резервов;
								li У вас есть четкие приоритеты, что делать в первую очередь, чтобы “закрыть дыры” и высвободить скрытые финансовые резервы.
					.steps-card
						img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/step-5.png", alt="")
						.steps-card__backdrop 05
						.steps-card__content 
							h3.steps-card__title Механизм перспективного развития
							ul 
								li Вы видите “узкие места” своего бизнеса в цифрах и вам очевидно, как их устранить и обезопасить;
								li Вы нашли новые “трамплины” для роста за счет внутренних резервов;
								li У вас есть четкие приоритеты, что делать в первую очередь, чтобы “закрыть дыры” и высвободить скрытые финансовые резервы.
				.steps-mobile-counter
					#steps-counter.steps-mobile-counter__current 1
					.steps-mobile-counter__slash /
					.steps-mobile-counter__max 5
		section.clients
			.container
				h2.default-h2.default-h2--light Наши клиенты и их истории
				.clients-slider 
					.clients-slides
						.clients-slide.js-modal-comments-open
							.clients-slide__top
								.clients-slide__client
									img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/photo.png", alt="")
									.clients-slide__client-info
										span.clients-slide__client-info-name Алексей Тараповский
										span.clients-slide__client-info-rank Управляющий партнер, председатель правления
								.clients-slide__top-right
									img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/icons/slider-icon.png", alt="")
							.clients-slide__body
								p Владимир слушает и понимает наши проблемы. Очень терпеливо относится к большому количеству вопросов, к занятости, к неготовности в какой-то момент работать, к тому, что может стопорить.
							.clients-slide-footer 
								img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/icons/slider-icon.png", alt="")
						.clients-slide.js-modal-comments-open
							.clients-slide__top
								.clients-slide__client
									img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/photo.png", alt="")
									.clients-slide__client-info
										span.clients-slide__client-info-name Алексей Тараповский
										span.clients-slide__client-info-rank Управляющий партнер, председатель правления
								.clients-slide__top-right
									img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/icons/slider-icon.png", alt="")
							.clients-slide__body 
								p Владимир слушает и понимает наши проблемы. Очень терпеливо относится к большому количеству вопросов, к занятости, к неготовности в какой-то момент работать, к тому, что может стопорить. Можно сказать, что Владимир будто фонариком в темноте подсвечивает
							.clients-slide-footer 
								img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/icons/slider-icon.png", alt="")
						.clients-slide.js-modal-comments-open
							.clients-slide__top
								.clients-slide__client
									img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/photo.png", alt="")
									.clients-slide__client-info
										span.clients-slide__client-info-name Алексей Тараповский
										span.clients-slide__client-info-rank Управляющий партнер, председатель правления
								.clients-slide__top-right
									img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/structure-optimization/icons/slider-icon.png", alt="")
							.clients-slide__body 
								p Владимир слушает и понимает наши проблемы. Очень терпеливо относится к большому количеству вопросов, к занятости, к неготовности в какой-то момент работать, к тому, что может стопорить.
					.clients-slider-control
						button.clients-slider-button-prev
							<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L8 9L0.999999 17" stroke="#5C5C5C" stroke-width="2"/>
							</svg>

						.clients-slider-dots
						button.clients-slider-button-next
							<svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1L8 9L0.999999 17" stroke="#5C5C5C" stroke-width="2"/>
							</svg>
		section.rules-section
			.container.rs__container
				h2.default-h2 Работаю только с 3-мя клиентами одновременно
				.rs-flex
					.rs-flex__left.rs-item
						h3.rs-flex__title.rs-item-header Моя система дает максимальный результат компаниям, которые:
							.rs-flex__indicator
						ul.rs-item-content
							li Уже вышли на стабильные продажи и сейчас готовятся к развитию и росту;
							li У основателя есть запрос плавно и без тряски перейти на следующий уровень - из микро-бизнеса в малый, из малого в средний, из среднего в крупный;
							li Уже организовали бухгалтерский учет в 1С или аналогичной программе учета.
					.rs-flex__right
						.rs-flex__right-top.rs-item
							h3.rs-flex__title.rs-item-header Как начать работу со мной
								.rs-flex__indicator
							p.rs-flex__text.rs-item-content Первый шаг - забронировать бесплатную консультацию, на которой я уточню вашу задачу и пойму, смогу ли я вам помочь.
						.rs-flex__right-bottom.rs-item
							h3.rs-flex__title.rs-item-header Что будет на консультации
								.rs-flex__indicator
							p.rs-flex__subtitle Мы созвонимся на 50 минут, и за это время выясним:
							ul.rs-item-content 
								li Какую задачу вы хотите решить;
								li Может ли моя система помочь вам в достижении ваших целей;
								li Насколько полезно и интересно нам будет работать вместе;
								li Каких инструментов и технологий вам может не хватать для достижения финансовой цели.
				a.btn.btn--orange.btn--with-right-arrow.ts-btn.ts-btn-desktop.btn--triangle-arrow.js-modal-fancy-caller(data-fancy-src="#modal-consult" onclick="ym(63508015,'reachGoal','consult-optimizasia-holdinga')") ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ
					<svg width="23" height="46" viewBox="0 0 23 46" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M-1.00536e-06 23L23 -1.00536e-06L23 46L-1.00536e-06 23Z" fill="#FEB900"/>
						<path d="M11 18L16 23L11 28" stroke="#252525" stroke-width="2"/>
					</svg>
		section.warranty-section
			.warranty-flex
				.warranty-flex__left
					img(src="http://dev1.mockup.digital/bitrix/templates/GL/images/skills4.png", alt="")
				.warranty-flex__right
					h2.default-h2.default-h2--light Какие есть гарантии?
					h3.warranty__subtitle Гарантия результата
					p.warranty__text Если за 2 месяца вы не увидите 5 новых возможностей для роста за счет сокращения потерь или раскрытия внутренних финансовых резервов, то я возвращаю оплату.
					h3.warranty__subtitle Гарантия качества
					p.warranty__text Если в первые 2 месяца нашей работы вы увидите, что вам не нравится мой подход к делу, я возвращаю оплату.
		section.answers-section.answers-section--margin
			.ans-container.container
				h2.default-h2 Ответы на часто задаваемые вопросы
				.ans-block
					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text Мы уже подавали отчетность в банк, но нам отказали. Вы можете подготовить такую отчетность, чтобы одобрили кредит?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text У меня нет фин. директора, сможете сделать мне отчетность?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text Я плохо разбираюсь в Excel, поможете?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text А что, если у нас разные политики учета по внутренним и внешним контрагентам?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text Мы используем разные системы учета, не только 1С Бухгалтерия, сможете?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text Мы используем разные системы учета, не только 1С Бухгалтерия, сможете?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.

					.ans-item
						.ans-item-question
							.ans-iq-left-indicator
								| <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect class="ans-iq-li-svg-main" x="0.5" y="0.5" width="19" height="19" rx="2.5" stroke="#C7C7D5"/><rect class="ans-iq-li-svg-horiz" x="4" y="9" width="12" height="2" fill="#C7C7D5"/><rect class="ans-iq-li-svg-vert" x="9" y="16" width="12" height="2" transform="rotate(-90 9 16)" fill="#C7C7D5"/></svg>
							.ans-iq__text А если нужна отчетность в соответствии с формами отчетов банка?
							.ans-iq-right-indicator
						.ans-item-answer Мы можем подсказать, как лучше подготовить отчет, и так сгруппировать реальные цифры, чтобы показать лучшие стороны бизнеса и произвести на банк лучшее впечатление.
		#modal-full-comment.modal-custom.modal-full-comment
			.modal-fc-slider
				.modal-fc-slide
					.modal-fc-top
						.modal-fc-top__logo
							img(src="https://glfinance.ru/bitrix/templates/GL/images/anderida.png", alt="")
						.modal-fc-top__text ANDERIDA
							br
							|  FINANCIAL GROUP
					.modal-fc-main
						.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
						.modal-fc-video-wrap
							.video-yt.js-video-yt.video-yt--h100.video-yt-btn
								.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
									img(src="https://glfinance.ru/bitrix/templates/GL/images/com-mod-pic.jpg")
							.modal-fc-vid-name Алексей Тараповский
							.modal-fc-vid-positio Управляющий партнер, председатель правления
						.modal-fc-text
							p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
							p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
							p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
							p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

							ul.customized-ul-wrap
								li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
								li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
								li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
								li Определить структуру запасов, НМА и ОС компании по сумме.
								li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

							p Эта информация помогла компании оценить своё текущее положение дел, оценить
								br.dbr
								|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
								br.dbr
								|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

				.modal-fc-slide
					.modal-fc-top
						.modal-fc-top__logo
							img(src="https://glfinance.ru/bitrix/templates/GL/images/anderida.png", alt="")
						.modal-fc-top__text ANDERIDA
							br
							|  FINANCIAL GROUP
					.modal-fc-main
						.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
						.modal-fc-video-wrap
							.video-yt.js-video-yt.video-yt--h100.video-yt-btn
								.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
									img(src="https://glfinance.ru/bitrix/templates/GL/images/com-mod-pic.jpg")
							.modal-fc-vid-name Алексей Тараповский
							.modal-fc-vid-positio Управляющий партнер, председатель правления
						.modal-fc-text
							p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
							p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
							p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
							p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

							ul.customized-ul-wrap
								li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
								li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
								li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
								li Определить структуру запасов, НМА и ОС компании по сумме.
								li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

							p Эта информация помогла компании оценить своё текущее положение дел, оценить
								br.dbr
								|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
								br.dbr
								|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

				.modal-fc-slide
					.modal-fc-top
						.modal-fc-top__logo
							img(src="https://glfinance.ru/bitrix/templates/GL/images/anderida.png", alt="")
						.modal-fc-top__text ANDERIDA
							br
							|  FINANCIAL GROUP
					.modal-fc-main
						.modal-fc-main-bold General Ledger помогли нам сэкономить порядка 3&nbsp;000&nbsp;000 рублей, внедрив управленческую и консолидированную отчетность в нашу компанию. Теперь мы понимаем где мы находимся не только по своим «ощущениям», но и на уровне цифр.
						.modal-fc-video-wrap
							.video-yt.js-video-yt.video-yt--h100.video-yt-btn
								.video-yt__preview(data-src="https://www.youtube.com/embed/WUgvvPRH7Oc")
									img(src="images/com-mod-pic.jpg")
							.modal-fc-vid-name Алексей Тараповский
							.modal-fc-vid-positio Управляющий партнер, председатель правления
						.modal-fc-text
							p «Андерида файненшл групп» управляет финансами состоятельных семей по всему миру. Поэтому компания привыкла к обращению с крупными капиталами , однако через какое-то время, когда собственные финансовые потоки увеличились, руководство столкнулось с парадоксальной проблемой: стало понятно, что в корпоративных финансах нет порядка.
							p Из-за того, что в семействе «Андериды» образовалась группа компаний, постепенно исчезло понимание ситуации в финансах - в какой компании сколько денег и кто больше тратит.
							p Было необходимо наладить понимание финансовой картины по всей группе компаний. Поэтому руководство обратилось за консолидированной управленческой отчетности.
							p General Ledger в короткий срок предоставила детализированную отчетность по группе компаний и помогла понять финансовое состояние «Андериды».  А именно:

							ul.customized-ul-wrap
								li Понять выручку компании в разрезе продуктов и услуг, консультантов, отнесения выручки к единоразовой либо регулярной.
								li Понять траты компании в разрезе видов расходов, в том числе агентской комиссии, заработной платы (в разрезе оклада и бонусов, налогов на заработную плату, по сотрудникам и департаментам), налогов, аренды офиса и пр.
								li Дать информацию о наличии денежных средств на счетах компании и финансовых вложений в&nbsp;разрезе счетов и инструментов.
								li Определить структуру запасов, НМА и ОС компании по сумме.
								li Раскрыть и сгруппировать дебиторскую и кредиторскую задолженности компании.

							p Эта информация помогла компании оценить своё текущее положение дел, оценить
								br.dbr
								|  собственное финансовое состояние, оптимизировать затраты и сэкономить более
								br.dbr
								|  3&nbsp;000&nbsp;000 рублей на дальнейшей автоматизации компании.

			.modal-fc-slider-nav
				.modal-fc-slider-nav__prev
					span Предыдущий отзыв
				.modal-fc-slider-nav__dots
				.modal-fc-slider-nav__next
					span Следующий отзыв