

#modal-consult.modal-consult.modal-custom-close
	h2.modcon-h2 Получить консультацию
	input.inputbox.form-main-input(placeholder="Ваше имя" required)
	input.inputbox.form-main-input.js-phone(placeholder="Телефон" required)
	input.inputbox.form-main-input(placeholder="Email" type="email" required)
	textarea.textarea.form-main-textarea.form-main-textarea--mc(placeholder="Ваше сообщение" required)
	.modcon-captcha-container
		#capcha1.g-recaptcha(data-sitekey="Ключ")
		.text-danger#recaptchaError
	button.form-main-button ОТПРАВИТЬ



footer.site-footer
	.sf-container.container
		.sf-col-1
			.sf-logo
				img(src="img/restyle/logo.svg" alt="")
			.sf-copyright
				|© 2018-2021 Vavilov Consulting.
				br
				|Все права защищены
				.sf-polit-wrap
					a(href="") Политика
						br.tbr
						|  конфиденциальности
			.sf-socials-left
				a.sf-socials-left__item(href="https://www.facebook.com/vavilovcom" target="_blank")
					img(src="img/fb.svg" alt="")
				a.sf-socials-left__item(href="https://www.instagram.com/vavilovcom/" target="_blank")
					img(src="img/instagram.svg" alt="")

		.sf-col-2
			.sf-col-title Разделы
			.sf-col-2-menu
				a.sf-col-2-menu__item(href="") Продукты
				a.sf-col-2-menu__item.sf-col-2-menu__item--active(href="") Команда
				a.sf-col-2-menu__item(href="") Статьи
				a.sf-col-2-menu__item(href="") Контакты

		.sf-col-3
			.sf-col-3-inner
				.sf-col-title Информация
				a.btn.btn--with-right-arrow.btn--white.sf-a-btn(href="") Задать вопрос
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11 0L22 11L11 22L0 11L11 0Z" fill="#FFE81B"/>
					<path d="M9 6L14 11L9 16" stroke="#232323" stroke-width="2"/>
					</svg>
				.sf-polit-wrap
					a(href="") Политика
						br.tbr
						|  конфиденциальности
		.sf-col-4
			a.sf-col-4-phone(href="tel:+74952119040") +7 (985) 211 90 40
			.sf-col-4-work-time пн-пт с 9:00 до 18:00

			a.sf-col-4-mail(href="mailto:mail@vavilov.com") mail@vavilov.com

		.sf-col-5
			a.sf-col-5-social(href="https://wa.me/message/PDHXG2YDBWUTO1" target="_blank")
				img(src="img/whatsapp.svg" alt="")
			a.sf-col-5-social(href="https://t.me/vavilovcom" target="_blank")
				img(src="img/tg.svg" alt="")
			a.sf-col-5-social(href="" target="_blank")
				img(src="img/viber.svg" alt="")
	.sf-mobile-socials
		.sf-mobile-inner
			.sf-mobile-socials-g-1
				a.sf-socials-mob(href="https://www.facebook.com/vavilovcom" target="_blank")
					img(src="img/fb.svg" alt="")
			.sf-mobile-socials-g-2
				a.sf-socials-mob(href="https://wa.me/message/PDHXG2YDBWUTO1" target="_blank")
					img(src="img/whatsapp.svg" alt="")
				a.sf-socials-mob(href="https://t.me/vavilovcom" target="_blank")
					img(src="img/tg.svg" alt="")
				a.sf-socials-mob(href="" target="_blank")
					img(src="img/viber.svg" alt="")
	.sf-tablet-bottom
		.sf-tb-container.container
	.sf-mobile-copyright
		.sf-copyright
			|© 2018-2021 Vavilov Consulting.
			br
			|Все права защищены
