header.site-header
	.sh-container.container
		a.sh-logo(href="")
			img.sh-logo-img(src="img/gl-logo.svg" alt="")
			.sh-logo-vl
			.sh-logo-text
				.sh-logo-text__line-1 Финансовая и управленческая отчетность
				.sh-logo-text__line-2 для холдингов и групп из 2-15 компаний
		nav.sh-menu-wrap
			ul.sh-menu
				li.sh-menu-item.sh-menu-item-active
					a(href="") Продукты
				li.sh-menu-item
					a(href="") Компания
				li.sh-menu-item
					a(href="") Статьи
				li.sh-menu-item
					a(href="") Контакты
		.sh-burger
			span

		a.sh-phone(href="tel:+74952119040")
			|	<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.17165 7.071L9.65665 15.556C10.0281 15.9275 10.469 16.2221 10.9544 16.4231C11.4397 16.6242 11.9598 16.7276 12.4851 16.7276C13.0105 16.7276 13.5306 16.6242 14.0159 16.4231C14.5012 16.2221 14.9422 15.9275 15.3136 15.556L16.7276 14.142L12.4856 9.899L11.0706 11.313C10.6956 11.6879 10.187 11.8986 9.65665 11.8986C9.12632 11.8986 8.6177 11.6879 8.24265 11.313L5.41465 8.485C5.22884 8.29927 5.08145 8.07876 4.98089 7.83605C4.88033 7.59335 4.82857 7.33321 4.82857 7.0705C4.82857 6.80779 4.88033 6.54765 4.98089 6.30495C5.08145 6.06224 5.22884 5.84173 5.41465 5.656L6.82865 4.242L2.58565 0L1.17165 1.414C0.80019 1.78544 0.505534 2.2264 0.304502 2.71172C0.10347 3.19703 0 3.7172 0 4.2425C0 4.7678 0.10347 5.28797 0.304502 5.77328C0.505534 6.2586 0.80019 6.69956 1.17165 7.071Z" fill="white"/></svg>
			span +7 (495) 211 90 40
