@media screen and (min-width: $desktopMin) {
    .lob-block-mobile-tablet-unwrap {
        display: none;
    }

    /////////////////////



    .profit-block {
        margin-top: 48px;
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
    }

    .profitb-controls {
        width: 436px;
        box-sizing: border-box;
        padding: 5px 40px 25px;

        background: #2C2E85;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profitb-controller {
        padding: 20px 0;

        &--active,
        &:hover {
            .profitb-controller-inner {
                background: #F26419;
                box-shadow: -3px 0px 15px rgba(0, 0, 0, 0.25);
                padding-left: 47px;
                border-radius: 10px 0 0 10px;
                position: relative;


                .profitb-controller__number {
                    opacity: 0.25;
                }
            }
        }

        &--active {

            .profitb-controller-inner::after {
                opacity: 1;
                right: -12.5px;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid #464794;
        }
    }

    .profitb-controller-inner {
        box-sizing: border-box;
        padding: 27px 15px;
        margin-right: -40px;
        transition-duration: .2s;
        cursor: pointer;

        &::after {
            opacity: 0;
            transition-duration: .2s;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 12.5px;
            height: 100%;
            content: '';
            background: url(../img/arrow-right-horiz-tab-active.svg) no-repeat left center;
            background-size: auto 100%;
        }
    }


    .profitb-controller__text {
        width: 280px;
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;
        position: relative;
    }

    .profitb-controller__number {
        font-family: $fontG;
        font-weight: 600;
        font-size: 60px;
        line-height: 125%;
        color: #DADAE8;
        opacity: 0.2;
        position: absolute;
        left: -14px;
        top: -23px;
    }

    .profitb-tabs-wrap {
        width: calc(100% - 436px);
        max-width: calc(100% - 436px);
        padding: 64px 40px 47px 64px;
        height: 488px;
        box-sizing: border-box;

    }


    #mCSB_1_scrollbar_vertical.mCSB_scrollTools.mCSB_1_scrollbar.mCS-inset-dark.mCS-custom-theme-profitb.mCSB_scrollTools_vertical {
        .mCSB_draggerContainer {
            #mCSB_1_dragger_vertical.mCSB_dragger {
                .mCSB_dragger_bar {
                    width: 9px;
                    background: #DADAE8;
                    border-radius: 26px;
                    margin: 4px 4px;
                }
            }

            .mCSB_draggerRail {
                background: #F5F6FB;
                border-radius: 26px;
                width: 13px;
            }
        }
    }


    .profitb-tabs {}

    .profitb-tab {
        display: none;

        &--active {
            display: block;
        }

        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            color: #323340;
            width: 567px;
            max-width: 100%;
            display: block;

            &+p {
                margin-top: 19px;
            }
        }

        p {
            font-size: 16px;
            line-height: 150%;
            color: #555665;
            width: 567px;
            max-width: 100%;
            display: block;

            b {

                font-weight: 500;
            }

            &+h3 {
                margin-top: 42px;
            }
        }
    }

    .profitb-tab-non-desktop-head {
        display: none;
    }

    .profitb-controller__text {}

    .profitb-controller__number {}

    .profitb-tab__inner {}
}

@media screen and (max-width: $tabletMax) {
    .result-section--affd {
        .rs-block {
            padding: 32px 56px 56px 56px;
        }

        .customized-ul-wrap.customized-ul-wrap--uo li:not(:last-child) {
            margin-bottom: 17px;
        }

        .rs-synchro-slider-block--uprotch {
            margin-top: 24px;
        }
    }

    .we-will-suit-you-section--diag {
        margin-top: 80px;
    }

    .list-on-blue-section {
        margin-top: 80px;
        padding: 73px 0 44px;
    }

    .lob-block {
        overflow: hidden;
        height: auto;
        box-sizing: border-box;
        max-height: 385px;
        margin: 48px auto 0;
        padding: 0 48px;
        transition-duration: .5s;
        transition-timing-function: linear;
    }

    .lob-block ul {
        column-count: 1;
    }

    .lob-block-mobile-tablet-show-btn {
        margin-top: 34px;

        &::before {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            content: '';
            background: #464794;
        }

        span {
            cursor: pointer;

            &:hover {
                opacity: .8;
            }

            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            max-height: 385px;
            margin: 0 auto 0;
            padding: 0 48px;
            padding-top: 12px;
            color: #9D9EBF;
            font-size: 16px;
            line-height: 125%;

            &::after {
                display: block;
                width: 24px;
                margin-top: 4px;
                margin-right: 13px;
                height: 11px;
                content: '';
                background: url(../img/lob-block-arrow.svg) no-repeat center center;
                background-size: cover;
            }
        }
    }

    .lob-block-wrap--mobtab-visible {
        .lob-block {

            max-height: 1200px;
        }

        .lob-block-mobile-tablet-show-btn {
            display: none;
        }
    }

    .how-we-work-section--affd {
        margin-top: 98px;
    }

    ////////////////////////////////


    .section-profitable {}

    .profit-container {
        .default-h2 {}
    }

    .profit-block {
        margin-top: 47px;
    }

    .profitb-controls {
        display: none;
    }

    .profitb-tabs {}

    .profitb-tab {
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 2px;

        &__inner {
            padding: 64px 40px 78px;
        }


    }

    .profitb-tab-non-desktop-head {
        padding: 40px 85px 36px 55px;
        background: #2C2E85;
        border-radius: 15px;
        position: relative;

        cursor: pointer;
        transition-duration: .2s;

        &::after {
            content: '';
            display: block;
            background: url(../img/profitb-tabmob-arrow.svg) no-repeat center center;
            background-size: contain;

            width: 26px;
            height: 12px;
            position: absolute;
            top: 50%;
            right: 48px;
            margin-top: -6px;
            transition-duration: .2s;
        }

        &::before {
            content: '';
            display: block;

            width: 154px;
            height: 40px;
            background: url(../img/profirb-tabmob-triangle-active.svg) no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            pointer-events: none;
            bottom: -39px;
            left: 84px;
            opacity: 0;
            transition-duration: .2s;
        }
    }

    .profitb-controller__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: #FFFFFF;
        position: relative;
        width: 320px;
        max-width: 100%;
    }


    .profitb-controller__number {
        position: absolute;
        left: -14px;
        top: -21px;
        font-weight: 600;
        font-size: 60px;
        line-height: 125%;
        color: #DADAE8;
        opacity: 0.2;
        font-family: $fontG;
    }


    .profitb-tab__inner {display: none;
        overflow: hidden;
        h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            color: #323340;
            width: 563px;
            max-width: 100%;
            &+p{margin-top: 19px;}
        }

        p {
            font-size: 16px;
            line-height: 150%;
            color: #555665;
            width: 563px;
            max-width: 100%;
            &+h3{margin-top: 41px;}
            b{
                font-weight: 500;
            }
        }
    }

    .profitb-tab--active {


        .profitb-tab__inner {

        }

        .profitb-heading {}

        .profitb-p {}

        .profitb-tab-non-desktop-head {
            background: #F26419;

            &::after {
                transform: rotate(180deg);
            }

            &::before {
                opacity: 1;
                bottom: -39px;
            }


            .profitb-controller__text {}

            .profitb-controller__number {}
        }
    }
}

@media screen and (max-width: $phoneMax) {}