.list-on-blue-section {
    margin-top: 88px;
    padding: 78px 0 56px;
    background: #2C2E85;

    .default-h2 {
        color: #FFFFFF;
    }
}

.lob-container {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 135%;
}

.lob-block {
    width: 1074px;
    max-width: 100%;
    margin: 67px auto 0;

    ul {
        list-style: none;
        column-count: 2;
        column-gap: 147px;
    }

    li {
        padding-left: 27px;
        display: inline-block;
        position: relative;
        margin-bottom: 28px;
        color: #ffffff;
        font-size: 16px;
        line-height: 135%;

        &::before {
            position: absolute;
            top: 11px;
            left: 0;
            display: block;
            width: 7px;
            height: 7px;
            content: '';
            border-radius: 50%;
            background: #F26419;
        }
    }
}

//////////////////////////////

.result-section__new_video {
    .rs-block-li.mobile {
        display: none;
    }

    .rs-block-row__left--text {
        padding-right: 50px;
        padding-bottom: 0;
    }

    .rs-ssb-main__item::before {
        padding-top: 75.535655%;
    }

    .rs-block-row__left {
        .rs-block-row__left {
            width: 100%;
        }
    }

    @media screen and (max-width:$tabletMax) {
        .rs-ssb-thumbs-item-inner::before {
            padding-top: 56.25%;
        }

        .rs-ssb-main__item::before {
            padding-top: 56.535655%;
        }

        .video-yt::before {
            padding-top: 56.535655%;
        }

        .rs-block-row__left--text {
            padding-right: 37px;
        }

        .rs-block-title {
            display: none;
        }

        .rs-block-digit.rs-block-digit-1 {
            display: none;
        }

        .rs-block-li.mobile {
            display: flex;
        }

        .rs-block-row__left.rs-block-row__left--text.customized-ul-wrap.customized-ul-wrap--uo.desktop {
            display: none;
        }

    }

    @media screen and (max-width:$phoneMax) {

        .slider-white-next,
        .slider-white-prev {
            display: none !important;
        }

        .rs-ssb-thumbs {
            display: block;
        }

        .container .rs-block {
            padding: 0;
        }
    }
}




.video-slider-affd-wrap {
    margin-top: -2px;
    padding: 0 16px 0 28px;

    .rs-ssb-main__item::before {
        padding-top: 65.9%;
    }
}

.rs-ssb-main--affd-vs {

    .slick-dots {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;


        li {
            cursor: pointer;
            display: block;
            margin: 0 9px;
            width: 6px;
            height: 6px;
            background: #FFFFFF;
            border-radius: 50%;
            position: relative;

            #slick-slide-control22 {
                &:hover {}

                &:active {}

                &:focus {}
            }

            button {
                display: none;
            }

            &::before {
                content: '';
                display: block;
                background: #FFFFFF;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                left: -2px;
                top: -2px;
                position: absolute;
                opacity: 0;
                transition-duration: .2s;
            }

            &.slick-active,
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

.affd-vs-item-name {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 5% 15px 0;
    text-align: center;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    text-align: center;

    color: #FFFFFF;
    z-index: 1;

}