.video-yt {
	position: relative;
	display: block;
	width: 100%;
	cursor: pointer;

	&::before {
		display: block;
		width: 100%;
		padding-top: 56.25%;
		content: '';
	}

	iframe {
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&+.video-yt__preview {
			display: none;
		}
	}

	&--h100 {
		height: 100%;
	}
}

.video-yt__preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.video-yt-btn {
	&::after {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		display: block;
		width: 64px;
		height: 64px;
		margin-top: -32px;
		margin-left: -32px;
		content: '';
		transition-duration: .2s;
		pointer-events: none;
		background: url(../img/play.svg) no-repeat center center;
		background-size: contain;
	}

	&:hover {
		&::after {
			transform: scale(1.1);
		}
	}
}

///////////////Картинка с названием + фансибокс

.component-fancy {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 15px 64px;
	background: #222265;
	cursor: pointer;
	transition-duration: .2s;

	&:hover {opacity: .8;}

	&:active {}

	&:focus {}

	&::before {
		display: block;
		padding-top: calc(50% + 64px * 2 - 15px * 2);
		content: '';
	}

	&::after {
		position: absolute;
		z-index: 2;
		right: 19px;
		bottom: 15px;
		display: block;
		width: 38px;
		height: 38px;
		content: '';
		background: url(../img/lupe2.svg) no-repeat center center;
		background-size: contain;
	}
}


.component-fancy__inner {
	position: absolute;
	top: 17px;
	left: 64px;
	width: calc(100% - 64px * 2);
	height: calc(100% - 30px);
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		max-height: 100%;
		object-fit: contain;
		object-position: center center;
	}
}
/*
a.component-fancy(href="images/optish-result-1.png" data-fancybox="optish-results-1")
	.component-fancy__inner
		img(src="images/optish-result-1.png", alt="")
*/