.top-section--diag {
  .ts-flex__left {
    width: 650px;
    max-width: 100%;
    margin-right: -35px;
    padding-bottom: 117px;

    .ts-text-desktop p {
      max-width: 460px;
    }
  }

  .ts-flex__right {
    margin-right: -10px;

    .ts-pic {
      width: 731px;
      bottom: 0;
    }
  }
}



.we-will-suit-you-section--diag__not-tab-slider {
  @media screen and (min-width:$desktopMin) {
    .wwsy-block-item {
      align-items: flex-start;
      box-sizing: border-box;
      width: auto;
    }

    .wwsy-block-item:first-child {
      width: 380px;
    }

    .wwsy-block-item:nth-child(2) {
      width: 405px;
    }

    .wwsy-block-item:nth-child(3) {
      width: 360px;
    }

    .wwsy-block-item+.wwsy-block-item {
      margin-left: 48px;
    }

    .wwsy-block-item__text {
      padding-right: 50px;
      text-align: left;
      padding-left: 0;
      font-size: 20px;

      p {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }

  .wwsy-block-item__text {
    line-height: 23px;
  }

  .wwsy-block-item__text .ah1 {
    font-size: 20px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
  }
}
