///////////////FOOTER/////////////////////

.site-footer {
  background: #232323;
  padding-top: 47px;
  padding-bottom: 57px;
}

.sf-container {
  display: flex;
  justify-content: space-between;
}

.sf-col-1 {
  width: 256px;
}

.sf-logo {
  width: 123px;

  img {
    max-width: 100%;
  }
}

.sf-copyright {
  font-size: 14px;
  line-height: 150%;
  margin-top: 10px;
  padding-left: 44px;

  color: #828282;
}

.sf-socials-left {
  padding-left: 44px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 49px;

  &__item {
    display: block;
    margin-right: 32px;
    margin-bottom: 15px;
    transition-duration: 0.2s;

    img {
      display: block;
      max-width: 29px;
      max-height: 22px;
      width: 100%;
      height: auto;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {}

    &:focus {}
  }
}

.sf-col-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding-bottom: 17px;
}

.sf-col-2 {
  margin-top: 17px;
  margin-left: 48px;
  padding-left: 56px;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.sf-col-2-menu {
  display: flex;
  flex-direction: column;

  &__item {
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: #828282;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &--active,
    &:hover {
      color: #ffffff;
    }

    &:active {}

    &:focus {}
  }
}

.sf-col-3 {
  margin-top: 17px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.sf-col-3-inner {
  width: 223px;
  margin-left: 17%;
}

.sf-a-btn {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 132%;
  padding: 10px 20px 8px 24px;
  display: flex;
  letter-spacing: -0.1px;
  justify-content: space-between;

  .btn--with-right-arrow::after {
    margin-left: 10px;
  }

  /*&--grey {
		&::after {
			background-color: #828282;
			background-image: url(../img/arrow-right-blue.svg);
		}

		color: #828282;
		border-color: #828282;
	}
*/
  &:hover {}

  &:active {}

  &:focus {}

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.sf-col-4 {
  margin-top: 17px;
  width: 272px;
  margin-right: 32px;
  margin-left: 68px;
}

.sf-col-4-phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  position: relative;

  &::before {
    position: absolute;
    left: -37px;
    top: 3px;
    width: 17px;
    height: 17px;
    content: "";
    display: block;
    background: url(../img/phone.svg) no-repeat center center;
    background-size: contain;
  }

  &:hover {}

  &:active {}

  &:focus {}
}

.sf-col-4-work-time {
  font-size: 14px;
  line-height: 150%;
  color: #828282;
  margin-top: 2px;
}

.sf-col-4-addr {
  font-size: 16px;
  line-height: 150%;
  margin-top: 17px;
  color: #828282;
}

.sf-col-4-mail {
  display: block;
  font-size: 16px;
  line-height: 135%;
  margin-top: 17px;
  text-decoration-line: underline;
  color: #ffffff;

  &:hover {
    text-decoration: none;
  }

  &:active {}

  &:focus {}
}

.sf-col-5 {
  padding: 23px 0 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sf-col-5-social {
  transition-duration: 0.2s;

  img {
    height: 28px;
    width: auto;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {}

  &:focus {}
}

.sf-col-1 {
  order: 1;
}

.sf-col-2 {
  order: 2;
}

.sf-col-3 {
  order: 3;
}

.sf-col-4 {
  order: 4;
}

.sf-col-5 {
  order: 5;
}

.sf-tablet-bottom {
  display: none;
}

///////////////////////////
///////////////////////////
//          FOOTER ADAPTIVE
///////////////////////////
///////////////////////////

@media screen and (min-width: $desktopMin) {

  .sf-col-3-inner {
    display: flex;
    flex-direction: column;

    .sf-polit-wrap {
      display: none;
    }
  }

  .sf-a-btn:nth-child(2) {
    margin-top: 7px;
  }

  .sf-polit-wrap {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 18px;

    a {
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      /* or 21px */

      color: #828282;
    }
  }
}

@media screen and (min-width: $desktopMin) and (max-width: 1085px) {
  .sf-socials-left__item {
    margin-right: 14%;
  }
}

@media screen and (max-width: $tabletMax) {
  .sf-copyright .sf-polit-wrap {
    display: none;
  }

  .site-footer {
    padding-top: 39px;
    padding-bottom: 0;
  }

  .sf-tablet-bottom {
    display: block;
    justify-content: space-between;
    margin-top: 32px;
    padding: 19px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
  }

  .sf-col-1 {
    width: 240px;
  }

  .sf-socials-left {
    margin-top: 58px;
  }

  .sf-col-2 {
    margin-top: 25px;
    margin-left: 0;
    padding-left: 3%;
    border-left: 0;
  }

  .sf-tb-container {
    display: flex;
  }

  .sf-col-3 {
    display: block;
    margin: 0;

    .sf-col-title {
      display: none;
    }
  }

  .sf-col-3-inner {
    padding-left: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: "";
      display: block;
    }

    width: unset;
    margin: 0;

    .btn {
      box-sizing: border-box;
      width: 192px;
    }
  }

  .sf-a-btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }

  .sf-polit-wrap {
    margin-right: 29px;

    a {
      font-size: 16px;
      line-height: 150%;
      color: #828282;
    }
  }

  .sf-col-4 {
    width: 232px;
    margin-top: 25px;
    margin-right: 0;
  }

  .sf-col-4-phone::before {
    display: none;
  }

  .sf-col-4-addr {
    br {
      display: none;
    }
  }

  .sf-col-5 {
    flex-direction: row;
    padding: 0;
  }

  .sf-col-5-social {
    margin-left: 24px;
  }
}

@media screen and (min-width: $tabletMin) {

  .sf-mobile-socials,
  .sf-mobile-copyright {
    display: none;
  }
}

@media screen and (max-width: $phoneMax) {

  ///--
  footer {
    max-width: 100%;
  }

  .container.sf-container {
    flex-direction: column;
    max-width: calc(100% - 39px * 2);
  }

  .sf-col-1 {
    .sf-copyright {
      display: none;
    }

    .sf-socials-left {
      display: none;
    }
  }

  .sf-col-2 {
    display: none;
  }

  .sf-col-4 {
    margin: 0;
    margin-top: 20px;
  }

  .sf-col-4-addr {
    margin-top: 9px;
  }

  .sf-col-4-mail {
    margin-top: 10px;
  }

  .sf-mobile-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(100% - 27px * 2);
    margin: 0 auto;
  }

  .sf-mobile-socials {
    margin: 33px 0 0;

    &-g-1 {
      display: flex;
    }

    &-g-2 {
      display: flex;
    }
  }

  .sf-socials-mob {
    height: 22px;
    margin: 0 12px 24px;

    img {
      display: block;
      width: auto;
      max-height: 100%;
    }
  }

  .sf-tablet-bottom {
    margin-top: 16px;
    padding: 24px 0 0;
  }

  .container.sf-tb-container {
    flex-direction: column;
    max-width: calc(100% - 39px * 2);
  }

  .sf-col-5 {
    display: none;
  }

  .sf-col-3-inner {
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0;
  }

  .sf-col-3-inner .btn {
    width: 223px;
  }

  .sf-a-btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .sf-polit-wrap {
    margin-top: 9px;
    margin-right: 0;
    width: 100%;

    &::before {
      position: absolute;
      left: 0;
      width: 100%;
      content: "";
      display: block;
      height: 1px;
      background: rgba(255, 255, 255, 0.12);
    }

    a {
      padding-top: 25px;
      display: inline-block;
    }
  }

  .sf-mobile-copyright {
    max-width: calc(100% - 39px * 2);
    margin: 0 auto;

    .sf-copyright {
      padding: 7px 0 25px;
    }
  }
}

@media screen and (max-width: 365px) {
  .sf-socials-mob {
    margin: 0 5px 10px;
  }

  .sf-mobile-socials {}
}