.for_company {
  padding-bottom: 112px;

  .client_block--btn {
    margin-bottom: 0;
  }

  &__title_block {
    padding-top: 40px;
    background: #000;

    &--banner {
      display: block;
      width: 100%;
      max-width: 770px;
      margin-right: -90px;
    }

    &--flex {
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &--left {
      padding-top: 33px;
      width: 100%;
      max-width: 530px;
      padding-bottom: 20px;
    }

    &--heading {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 125%;
      /* or 56px */
      color: #ffffff;
      margin-bottom: 30px;
    }

    &--subtitle {
      font-family: Gilroy;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      /* or 30px */
      color: #ffffff;
      margin-bottom: 32px;
    }

    &--description {
      font-family: Pragmatica;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      /* серый на синем */
      color: #828282;

      &+& {
        margin-top: 10px;
      }
    }

    .for_company__title_block--description.mobile {
      display: none;
    }
  }
}

.team_block {
  padding-top: 88px;

  &--flex {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  &--item {
    position: relative;
    background: #ffffff;
    overflow: hidden;
    width: calc(33.333% - 40px / 3);
    margin-right: 20px;
    box-sizing: border-box;
    padding: 24px 51px 28px 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 512px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &--overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: #c7c7d4;
    width: 100%;
    height: 104px;
  }

  &--user {
    position: relative;
    z-index: 1;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;

      &.castom_width {
        width: 120%;
        height: 100%;
      }
    }
  }

  &--name {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    /* or 25px */
    /* vl */
    color: #2c2e85;
    margin-bottom: 6px;
  }

  &--subname {
    font-family: Pragmatica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125%;
    /* or 20px */
    /* светло серый шрифт */
    color: #a0a0b1;
    min-height: 35px;
    padding-bottom: 20px;
  }

  &--description {
    position: relative;
    font-family: Pragmatica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    /* or 22px */
    /* дополнительный шрифт */
    color: #555665;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;

    &:before {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #555665;
      flex-shrink: 0;
      margin-right: 16px;
      margin-top: 7px;
    }
  }

  &--heading {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 125%;
    /* or 37px */
    text-align: center;
    color: #323340;
  }

  &--wrapper {
    flex-grow: 1;
  }
}

.client_block {
  margin-top: 66px;

  &--heading {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 125%;
    /* or 37px */
    text-align: center;
    /* основной шрифт */
    color: #323340;
    margin-bottom: 40px;
  }

  &--content {
    padding-top: 48px;
    background: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 48px 0;
  }

  &--item_wrapper {
    width: 25%;
    height: 123px;

    &:nth-child(4n) {
      .client_block--item {
        border-right: none;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      &.active {
        height: 150px;
      }
    }

    &:nth-child(n + 9) {
      .client_block--item {
        border-bottom: none;
      }
    }

    &:nth-child(4n + 1) {
      box-sizing: border-box;
      padding-left: 56px;

      .client_block--item {
        img {
          margin-left: -40px;
        }
      }
    }

    &:nth-child(4n) {
      box-sizing: border-box;
      padding-right: 56px;

      .client_block--item {
        img {
          margin-right: -40px;
        }
      }
    }

    img {
      margin-top: -26px;
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      height: 184px;

      img {
        margin-top: 0;
      }
    }

    &:nth-child(n + 5) {}

    &:nth-child(9),
    &:nth-child(10),
    &:nth-child(11),
    &:nth-child(12) {
      img {
        margin-top: 24px;
      }
    }
  }

  &--item {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid #dadae8;
    box-sizing: border-box;

    &.active {
      border-bottom: 1px solid #dadae8;
    }
  }

  &--btn {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 72px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 79px;
    margin-top: -20px;

    img {
      margin-top: 7px;
      transition: transform 0.5s;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #fff;
      margin-top: -34px;
      z-index: -1;
    }

    &.active {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: $tabletMax) {
  .for_company__title_block--flex {
    width: 490px;
  }

  .for_company__title_block--heading,
  .for_company__title_block--subtitle,
  .for_company__title_block--description.mobile {

    text-align: left;
  }


  .for_company {
    &__title_block {
      &--flex {
        flex-direction: column;
        padding-bottom: 57px;
        text-align: center;
      }

      .for_company__title_block--description.desktop {
        display: none;
      }

      .for_company__title_block--description.mobile {
        display: block;
      }

      &--heading {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 125%;
        /* or 37px */
        color: #ffffff;
        margin-bottom: 10px;
      }

      &--left {
        padding-top: 7px;
        max-width: 471px;
        margin: 0 auto;
      }

      &--banner {
        margin: 0 auto;
        width: 88%;
        margin-top: 21px;
      }

      &--subtitle {
        margin-bottom: 0;
      }

      &--description {
        margin: 38px auto 0;
        max-width: 539px;
      }
    }
  }

  .team_block {
    padding-top: 80px;

    &--item {
      width: calc(50% - 15px);
      margin-right: 0;
    }

    &--flex {
      justify-content: space-between;
      padding-top: 34px;
    }

    &--overlay {
      height: 80px;
    }

    &--user {
      width: 100px;
      height: 100px;
    }

    &--item {
      padding: 32px 40px 28px 24px;
    }

    &--subname {
      padding-bottom: 24px;
    }
  }
}

@media screen and (max-width: $phoneMax) {
  .team_block {
    &--item {
      width: 100%;
    }

    &--user {
      margin: 0 auto 24px;
    }

    &--name {
      margin: 0 auto 6px;
      text-align: center;
    }

    &--subname {
      margin: 0 auto;
      text-align: center;
    }
  }
}