.top-section__main-page {
  margin-bottom: 0;
  .container {
    overflow: hidden;
  }
  .ts-flex__left {
    padding-top: 122px;
    padding-bottom: 178px;
  }
  .ts-btn {
    margin-top: 61px;
  }
  .ts-flex__right .ts-pic {
    max-width: 971px;
    width: 971px;
    left: -60px;
  }
}
.skills_block {
  background: #36388f;
  &--container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &--item {
    overflow: hidden;
    position: relative;
    width: 33.333%;
    box-sizing: border-box;
    padding: 70px 12px 13px 32px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    mix-blend-mode: lighten;
    transition: all 0.5s;
    filter: grayscale(1);
    min-height: 223px;
    &:before {
      content: "";
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background: linear-gradient(
        90deg,
        #36388f 20.87%,
        rgba(54, 56, 143, 0) 88.75%
      );
      z-index: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.17);
      border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    }
    &:nth-child(3n) {
      &::before {
        border-right: 1px solid rgba(255, 255, 255, 0.17);
      }
    }
    p {
      position: relative;
      font-family: Pragmatica;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */
      /* белый */
      color: #ffffff;
      z-index: 1;
      &:nth-child(1) {
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        transition: all 0.5s;
        opacity: 0;
      }
      padding-right: 40%;
    }
    a {
      position: relative;
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      width: 24px;
      height: 24px;
      transition: all 0.5s;
      cursor: pointer;
      z-index: 10;
    }
    &:hover {
      filter: none;
      a {
        background-color: #f26419;
      }
      p:nth-child(2) {
        opacity: 1;
      }
    }
  }
}
.why_block {
  margin-top: 86px;
  .wwsy-uprotch.wwsy-uprotch--diag {
    margin-top: 40px;
    align-items: stretch;
    .wwsy-uprotch-item {
      width: calc(33.333% - 40px / 3);
      margin-bottom: 20px;
      background: #ffffff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      padding-left: 41px;
      min-height: 236px;
    }
    .wwsy-uprotch-item__number {
      font-size: 60px;
      &:before {
        left: -42px;
        top: 7px;
      }
    }
    .wwsy-uprotch-item__text {
      width: 100%;
      font-family: Pragmatica;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      /* or 20px */
      /* основной шрифт */
      color: #323340;
      margin-top: 31px;
    }
  }
}
.how-we-work-main-section {
  margin-top: 66px;
  .hww-block-item {
    padding-right: 55px;
    padding-bottom: 42px;
    .hww-block-item-desc {
      font-family: Pragmatica;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */

      /* основной шрифт */

      color: #323340;
    }
    &:nth-child(3) {
      .hww-block-item-top__pic {
        width: calc(100% - 206px);
      }
      .hww-block-item-top {
        justify-content: space-between;
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      .hww-block-item-top__text {
        padding-top: 0;
      }
    }
    &:nth-child(4) {
      .hww-block-item-top__pic {
        width: calc(100% - 70px);
      }
    }
    &:nth-child(1) {
      padding-bottom: 77px;
    }
  }
}

.our-results-in-digits-main {
  margin-top: 15px;
  .orind-description {
    margin-top: 6px;
  }
  .orind-item-inner {
    width: 185px;
  }
}

.why-choose-us-section-main {
  margin-top: 88px;
  padding-bottom: 14px;
  .wcu-block {
    align-items: stretch;
    margin: 0;
    margin-top: 62px;
    justify-content: center;
  }
  .wcu-block-item {
    width: 33%;
    margin: 0 62px;
    margin-bottom: 55px;
    &__text {
      b {
        font-family: Pragmatica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}
