.sp-block-item-title-number {
	position: absolute;
	left: 10px;
	transform: translatex(-50%);
	top: -33px;
	font-weight: 600;
	font-size: 80px;
	line-height: 125%;
	color: #DFDFDF;
	font-family: $fontG;
	z-index: -1;

	&--1 {
		left: -1px;
	}
}

/////////////////////////////////////////
.our-results-in-digits {
	margin-top: 86px;
}

.orind-container.container {}

h2.default-h2 {}

.orind-block {
	display: flex;
	margin-top: 37px;
	padding: 74px 0px 68px 0;
	background: #FFFFFF;
}

.orind-item {
	display: flex;
	justify-content: center;
	width: calc(25% - 1px);

	&:not(:nth-child(4n)) {
		border-right: 1px solid #DFDFDF;
	}
}

.orind-item-inner {
	width: 190px;
	max-width: 95%;
}

.orind-top {
	color: #FFE81B;
	font-family: $fontG;
	font-weight: 500;
	font-size: 60px;
	line-height: 53px;
	font-style: normal;
}

span.orind-top__digit {}

span.orind-top__dimension {
	margin-left: 10px;
	font-size: 19px;
}

.orind-description {
	margin-top: 4px;
	color: #555665;
	font-size: 16px;
	line-height: 125%;
}




/////////////////////////////////

.sp-pic-optish-1 {
	padding: 40px 32px 0;
}

.sp-pic-optish-1-cf {
	&::before {
		padding-top: calc(33% + 64px * 2 - 15px * 2);
	}
}

//////////////

.sp-pic-optish-2-cf {

	&::before {
		padding-top: calc(31.4% + 64px * 2 - 15px * 2);
	}
}

@media screen and (min-width:$desktopMin) {
	.we-will-suit-you-section--optish {

		.wwsy-uprotch-item:nth-child(6) {
			.wwsy-uprotch-item__text {
				width: 220px;
				max-width: 120%;
			}
		}
	}
}