.hww-block-item-desc--non-bold {
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

@media screen and (min-width: $desktopMin) {
	.top-section--optish {

	}

	.sp-block--optish-sp-1 {
		.sp-block-item-pic-inner {
			img {}
		}

		.sp-block-item-content {
			padding: 34px 32px 41px;
		}

		.sp-block-item-content__title {
			position: relative;
			z-index: 1;
		}

		.sp-block-item-content__text {
			margin-top: 19px;
			line-height: 150%;
		}

		.sp-block-item-pic::before {
			display: block;
			padding-top: 59%;
		}
	}

	.hww-block--not-mansory {
		.hww-block-item {
			padding-bottom: 42px;

			&--active {
				display: flex;
			}
		}

		.hww-block-item-desc {
			max-width: 449px;
		}
	}

	.wcu-block--optish {
		flex-wrap: wrap;
		width: 950px;
		margin-right: auto;
		margin-bottom: -70px;
		margin-left: auto;

		.wcu-block-item {}




		.wcu-block-item {
			display: flex;
			box-sizing: border-box;
			width: calc(44% - 11px);
			margin: 0 5px;
			margin-bottom: 70px;

		}

		.wcu-block-item__icon {
			min-width: 84px;
			margin-right: 10px;
			margin-right: 23px;
		}

		.wcu-block-item__title {
			margin-top: 0;
		}
	}

	.sp-block--optish-sp-2 {
		flex-wrap: wrap;
		padding-top: 60px;

		.sp-block-item {
			width: calc(50% - 20px);
			margin: 0 10px 20px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
		}

		.sp-block-item-pic {}

		.sp-block-item-pic::before {
			padding-top: 45.9016393443%;
		}

		.sp-block-item-pic-inner {
			img {}
		}


		.sp-block-item-content {
			flex-grow: 1;
			padding: 41px 58px 41px 64px;
			display: flex;
			flex-direction: column;
		}

		.sp-block-item-ul {
			margin-top: 17px;
			flex-grow: 1;
			display: block;

			li:not(:last-child) {
				margin-bottom: 13px;
			}
		}

		.sp-block-item-content__title {}

		ul.sp-block-item-ul {}

		.sp-block-item-content__text {
			line-height: 150%;
			margin-top: 17px;

			b {
				font-weight: 500;
			}
		}
	}

	.cost-and-terms-section--optish {}

	.cat-block--optish {
		.cat-block-title {
			margin-bottom: 40px;
		}

		.cat-block-top-right {
			width: 522px;

			.cat-block-iwt-text__line-2 {
				margin-left: 0;
			}
		}

		.cat-block-left-row .cat-block-icon-with-text:first-child {
			margin-right: 7%;
		}

		.cat-block-top-left {
			padding: 64px 39px 42px 64px;
		}

		.cat-block-iwt-text__line-2 {
			margin-left: -39px;
		}
	}

}

@media screen and (max-width: $tabletMax) {
	.sp-block--optish-sp-1 {
		.sp-block-item-content__title {
			position: relative;
			z-index: 1;
		}

		.sp-block-item-title-number {
			top: -31px;
		}
	}

	.top-section--optish {

	}


	.why-choose-us-section--optish {
		padding-top: 72px;

		.wcu-block-wrap {
			margin-top: 5px;
		}

		.wcu-block-item:not(:last-child) {
			margin-right: 68px;
		}

		.wcu-block-item {
			width: 310px;
			min-width: 310px;
		}

		.mCS-custom-theme.mCSB_horizontal.mCSB_inside>.mCSB_container {
			margin-bottom: 89px;
		}
	}

	.orind-block {
		flex-wrap: wrap;
		margin-top: 39px;
		padding: 59px 0 63px;
	}

	.orind-item {
		width: calc(50% - 1px);

		&:not(:nth-last-child(1)):not(:nth-last-child(2)) {
			margin-bottom: 65px;

		}

		&:not(:nth-child(4n)) {
			border-right: none;
		}

		&:nth-child(2n - 1) {
			border-right: 1px solid #dadae8;

			.orind-item-inner {
				padding-right: 12px;
			}
		}

		&:nth-child(2n) {
			.orind-item-inner {
				padding-left: 12px;
			}
		}
	}


	/////////////////////////////////

	.sp-pic-optish-1 {
		padding: 0;
	}

	.sp-pic-optish-1-cf {
		border-radius: 20px;

		&::before {
			padding-top: calc(25% + 64px * 2 - 15px * 2);
		}
	}

	//////////////

	.sp-pic-optish-2-cf {
		&::before {
			padding-top: calc(32.3% + 64px * 2 - 15px * 2);
		}
	}

}

@media screen and (min-width:$tabletMin) {}


@media screen and (min-width:$tabletMin) and (max-width:$tabletMax) {



	.how-we-work-section--optish {

		.hww-block-mobile-tabs {
			margin-top: 40px;
		}

		.hww-block-item {
			padding: 32px 32px 56px 74px;
		}
	}


	.cat-block--optish {
		.cat-block-top-left .cat-block-iwt-text__line-2 {
			margin-top: 5px;
			color: #fff;
			font-size: 16px;
			line-height: 135%;
			margin-left: -39px;
		}
	}

	.sp-block-wrap--tablet-slider {
		margin-right: 0;
	}

	.sp-block--tablet-slider {
		margin: 0;
		margin-top: 12px;

		.sp-block-item-pic::before {
			padding-top: 44.8%;
		}

		.sp-block-item-pic-inner::before {
			display: block;
			padding-top: 45.68702%;
		}

		.sp-block-item {
			width: unset;
			min-width: unset;
			margin: 0;
		}


		.hww-slick-prev {
			left: 26px;

			svg {
				margin-right: 4px;
			}
		}

		.hww-slick-next {
			right: 26px;

			svg {
				margin-left: 4px;
			}
		}

		.hww-slick-next,
		.hww-slick-prev {
			position: absolute;
			z-index: 1;
			top: calc(28px + 17.3vw);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 37px;
			height: 37px;
			cursor: pointer;
			transition-duration: .2s;
			border-radius: 50%;
			background: #f5f6fb;

			svg {
				width: 12px;
				display: block;
				height: auto;
			}
		}

		.sp-block-item-content {
			padding: 33px 55px 34px 57px;
		}

		.customized-ul-wrap ul {
			margin-top: 17px;
		}

		.customized-ul-wrap li:not(:last-child) {
			margin-bottom: 13px;
		}

		.sp-block-item-content__text {
			line-height: 1.5;
		}
	}


}



@media screen and (max-width:$phoneMax) {

	.top-section--optish {

	}

	.result-section--optish {


		.default-h2 {
			width: 100%;
			text-align: center;
		}

		.sp-block-item-content__text {
			margin-top: 17px;
		}

		.sp-block-item-content {
			padding: 24px 31px 27px;
		}
	}



	.how-we-work-section--optish {


		.default-h2 {
			width: 210px;
		}
	}

	.hww-block-non-mob-hidden {
		max-height: 100%;

	}

	.hww-block--optish {
		.hww-block-item {}

		.hww-block-item-top__pic {
			padding-top: 0;

		}

		.hww-block-item-top__text {}

		.hww-block-item-bottom {
			padding: 21px 0 26px 0;
		}

		.hww-block-item-title {
			margin-top: 0;
		}

		.hww-slick-next,
		.hww-slick-prev {
			background: #ffffff;
		}

		.hww-block-item-desc--non-bold {
			line-height: 140%;
			margin-top: 19px;
		}
	}

	.why-choose-us-section--optish {
		padding-top: 56px;
		padding-bottom: 31px;

		.default-h2 {
			width: 295px;
		}

		.wcu-block-item {
			min-width: unset;
			text-align: center;
		}

		.wcu-block-item:not(:last-child) {
			margin-right: 0;

		}

		.wcu-block-item__title {
			margin-bottom: 19px;
		}
	}

	//////////////////////////
	.orind-block {
		margin-top: 0;
		padding: 43px 0 0;
	}

	.orind-top {

		font-size: 36px;
		line-height: 24px;
	}

	.orind-top__dimension {
		display: block;
	}

	.orind-item:nth-child(2n-1) .orind-item-inner {
		padding-right: 19px;
	}

	.orind-item:nth-child(2n) .orind-item-inner {
		padding-left: 26px;
	}

	span.orind-top__dimension {
		margin-left: 0;
		margin-top: 7px;
		font-size: 20px;
	}

	.orind-description {
		font-size: 15px;
		line-height: 125%;
		color: #555665;
		margin-top: 13px;
	}

	.orind-item:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		margin-bottom: 48px;
	}

	/////////////////////////////


	.solution-package-section--optish {

		.sp-block-wrap {
			margin-top: 25px;
		}
	}

	.sp-block--optish-sp-2 {
		padding-top: 0;

		.hww-slick-next--sp,
		.hww-slick-prev--sp {
			top: 21vw;
		}

		.sp-block-item-content {
			padding: 23px 24px 34px;
		}

		.customized-ul-wrap ul {
			margin-top: 19px;
		}

		.customized-ul-wrap li {
			line-height: 155%;
		}
	}

	.sp-block-wrap--optish-2 {
		transition-duration: .5s;
		height: auto;
		overflow: hidden;
		max-height: 1000px;
		position: relative;
	}

	.mobile-unwrap--optish-sp-2 {
		background: linear-gradient(360deg, #f5f6fb 52%, rgba(255, 255, 255, 0) 100%);
		left: 0;
		width: 100%;

		span {
			border-bottom: 0;
			width: calc(100% - 47px);
			margin-top: 113px;
			margin-left: 24px;
		}
	}

	.optish-sp-2--mobile-hide {
		max-height: 498px;
		;

		border-radius: 0 0 20px 20px;
	}

	.cost-and-terms-section--optish {
		padding-top: 54px;

		.cat-block-top-left {
			padding: 55px 31px 0;
		}
	}

	/////////////////////////////

	.sp-pic-optish-1-cf::before {
		padding-top: calc(31.2% + 64px * 2 - 15px * 2);
	}

	.sp-pic-optish-2-cf::before {
		padding-top: calc(31.3% + 64px * 2 - 15px * 2);
	}
	.wwsy-uprotch .slick-slide .wwsy-uprotch-item__text{
		flex-direction: column;
		display: block;
	}
}

@media screen and (max-width:377px) {}

@media screen and (max-width:335px) {}