.we-will-suit-you-section--optish {
	margin-top: 72px;
}


/////////////////////////////////////////



.sp-block-item-title-number {
	position: absolute;
	left: 10px;
	transform: translatex(-50%);
	top: -33px;
	font-weight: 600;
	font-size: 80px;
	line-height: 125%;
	color: #DADAE8;
	font-family: $fontG;
	z-index: -1;

	&--1 {
		left: -1px;
	}
}

/////////////////////////////////////////
.our-results-in-digits {
	margin-top: 91px;
}

.orind-container.container {}

h2.default-h2 {}

.orind-block {
	display: flex;
	margin-top: 37px;
	padding: 80px 0 67px;
	border-radius: 20px;
	background: #FFFFFF;
}

.orind-item {
	display: flex;
	justify-content: center;
	width: calc(25% - 1px);

	&:not(:nth-child(4n)) {
		border-right: 1px solid #DADAE8;
	}
}

.orind-item-inner {
	width: 190px;
	max-width: 95%;
}

.orind-top {
	color: #2A2FFF;
	font-family: $fontG;
	font-weight: 500;
	font-size: 60px;
	line-height: 53px;
	font-style: normal;
}

span.orind-top__digit {}

span.orind-top__dimension {
	margin-left: 10px;
	font-size: 19px;
}

.orind-description {
	margin-top: 4px;
	color: #555665;
	font-size: 16px;
	line-height: 125%;
}




/////////////////////////////////

.sp-pic-optish-1 {
	padding: 40px 32px 0;
}

.sp-pic-optish-1-cf {
	&::before {
		padding-top: calc(33% + 64px * 2 - 15px * 2);
	}
}

//////////////

.sp-pic-optish-2-cf{
	border-radius: 20px;
	&::before {
		padding-top: calc(31.4% + 64px * 2 - 15px * 2);
	}
}