.papers {
	padding-bottom: 34px;
	background-color: #f5f6fb;

	@media (min-width: 768px) {
		padding-bottom: 143px;
	}

	&__title {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		line-height: 38px;
		color: #323340;
		padding-top: 62px;
		padding-bottom: 25px;

		@media (min-width: 768px) {
			padding-top: 103px;
			padding-bottom: 55px;
			font-size: 45px;
			line-height: 24px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 20px 0;

		@media (min-width: 1024px) {
			flex-direction: row;
			margin: 0 -13.5px;
		}
	}
}

.papers-item {
	display: block;
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	box-sizing: border-box;
	transition: box-shadow 0.3s ease;
	cursor: pointer;
	margin-bottom: 27px;
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 30px rgba(14, 23, 31, 0.15);

	@media (min-width: 1024px) {
		width: calc(50% - 27px);
		margin: 0 13.5px 27px;
		box-shadow: none;
	}

	&:hover {
		box-shadow: 0 0 30px rgba(14, 23, 31, 0.15);

		.papers-item__read img {
			transform: translateX(5px);
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		height: 140px;
		padding: 20px;
		background: no-repeat center / cover;

		@media (min-width: 420px) {
			height: 180px;
		}

		@media (min-width: 500px) {
			height: 220px;
		}

		@media (min-width: 570px) {
			height: 300px;
		}

		@media (min-width: 768px) {
			height: 330px;
			padding: 32px;
		}

		@media (min-width: 900px) {
			height: 400px;
			padding: 32px;
		}

		@media (min-width: 1024px) {
			height: 200px;
		}

		@media (min-width: 1280px) {
			height: 256px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(to top,#352c5b 15%,transparent);
		}
	}

	&__top-content {
		position: relative;
		color: #fff;
		line-height: 36px;
		font-weight: 500;
		font-family: 'Gilroy';
	}

	&__topic {
		font-size: 16px;

		@media (min-width: 768px) {
			font-size: 18px;
		}
	}

	&__title {
		font-size: 26px;
		line-height: 28px;

		@media (min-width: 768px) {
			font-size: 32px;
			line-height: 36px;
		}
	}
	
	&__bottom {
		padding: 20px;

		@media (min-width: 768px) {
			padding: 28px 37px 102px 32px;
		}
	}

	&__desc {
		font-size: 16px;
		line-height: 24px;
		color: #323340;
	}

	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;

		@media (min-width: 768px) {
			flex-direction: row;
			position: absolute;
			bottom: 34px;
			width: calc(100% - 69px);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #c7c7d5;
	}

	&__read {
		width: 138px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
		border-radius: 20px;
		background-color: #f26419;
		font-size: 18px;
		line-height: 24px;
		color: #fff;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		@media (min-width: 768px) {
			margin-bottom: 0;
		}

		img {
			margin-top: 3px;
			margin-left: 9px;
			transition: transform 0.3s ease;
		}

		&--services {
			max-width: 100%;
			width: 200px;
			margin: 40px auto 0;

			&::before {
				display: none;
			}

			&:hover {
				img {
					transform: translateX(5px);
				}
			}

			img {
				transition: transform 0.3s ease;
			}
		}
	}

	&__views {
		display: flex;
		align-items: center;
		margin-right: 24px;

		img {
			margin-right: 7px;
		}
	}
}
