.what-stage {
	&-section {
		padding-top: 80px;
		background-color: #f3f3f3;

		@media screen and (max-width: $tabletMax) {
			padding-top: 150px;
		}

		@media screen and (max-width: 700px) {
			padding-top: 112px;
			padding-bottom: 40px;
		}
	}
}

.different-section {
	padding-top: 88px;
	padding-bottom: 88px;
	background-color: #f8f8f8;

	@media screen and (max-width: $tabletMax) {
		padding: 49px 0 59px;
	}
}

.project-author-section {
	height: 790px;
	display: flex;
	width: 100%;

	@media screen and (max-width: $tabletMax) {
		height: auto;
	}
}

.steps-section {
	padding-top: 88px;
	padding-bottom: 88px;
	background-color: #e5e5e5;

	@media screen and (max-width: $tabletMax) {
		padding: 49px 0 59px;
	}
}

.rules-section {
	padding-top: 88px;
	padding-bottom: 94px;
	background-color: #f3f3f3;

	@media screen and (max-width: $tabletMax) {
		padding: 49px 0 59px;
	}

	@media screen and (max-width: 700px) {
		padding: 48px 0;
	}

	.ts-btn-mobile {
		@media screen and (max-width: $tabletMax) {
			position: relative;
			margin: 41px auto 0;
			transform: none;
			left: -15px;
			bottom: auto;
			&.btn--triangle-arrow svg path:first-child {
				stroke: none;
			}
		}
	}
}

.warranty {
	&-section {
		background-color: #232323;
		width: 100%;

		@media screen and (max-width: $tabletMax) {
			padding-top: 49px;
		}
	}

	&-flex {
		display: flex;
		width: 100%;

		max-width: 1920px;
		margin: 0 auto;

		@media screen and (max-width: $tabletMax) {
			flex-direction: column-reverse;
			align-items: center;
			text-align: center;
			max-width: calc(100% - 39px * 2);
			margin: auto;
		}

		@media screen and (max-width: 700px) {
			max-width: calc(100% - 15px * 2);
			align-items: flex-start;
			text-align: left;
		}

		&__left {
			padding-left: 54px;
			flex-shrink: 1;
			display: flex;
			align-items: flex-end;

			@media screen and (max-width: 1200px) {
				width: 50%;
				flex-shrink: 0;
			}

			@media screen and (max-width: $tabletMax) {
				width: 100%;
				text-align: center;
				padding-left: 0;
				justify-content: center;
			}

			@media screen and (max-width: 700px) {
				margin-top: 40px;
			}

			img {
				width: 100%;
				max-width: 906px;

				@media screen and (max-width: $tabletMax) {
					max-width: 500px;
				}
			}
		}

		&__right {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			flex-shrink: 0;
			padding: 60px 50px 60px 87px;

			@media screen and (max-width: 1200px) {
				width: 50%;
				flex-shrink: 1;
			}

			@media screen and (max-width: $tabletMax) {
				width: 100%;
				text-align: center;
				align-items: center;
				padding: 0;
			}

			@media screen and (max-width: 700px) {
				align-items: stretch;
				text-align: left;
			}
		}
	}

	&__subtitle {
		color: #feb900;
		font-family: Gilroy, sans-serif;
		font-weight: bold;
		font-size: 20px;
		line-height: 135%;
		text-transform: uppercase;
		margin-top: 38px;

		@media screen and (max-width: $tabletMax) {
			width: 100%;
		}

		@media screen and (max-width: 700px) {
			font-size: 16px;
			line-height: 135%;
		}
	}

	&__text {
		font-family: Gilroy, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 135%;
		color: #ffffff;
		max-width: 504px;
		margin-top: 20px;

		@media screen and (max-width: $tabletMax) {
			max-width: 100%;
		}

		@media screen and (max-width: 700px) {
			font-weight: 500;
			font-size: 15px;
			line-height: 135%;
			margin-top: 10px;
		}
	}
}

.ts-so-flex__right {
	.ts-btn-mobile {
		letter-spacing: 0.8px;
	}
}

.clients {
	padding-top: 88px;
	padding-bottom: 76px;
	background-color: #232323;
	box-sizing: border-box;

	@media screen and (max-width: $tabletMax) {
		padding: 49px 0 59px;
	}

	&-slider {
		position: relative;
		&-control {
			margin-top: 72px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			height: 25px;
			width: 229px;
			margin: 72px auto 0;

			@media screen and (max-width: 700px) {
				position: absolute;
				bottom: 39px;
				left: 50%;
				transform: translateX(-50%);
				width: 300px;
			}
		}

		&-dots {
			display: flex;

			@media screen and (max-width: 700px) {
				display: none;
			}

			.slick-dots {
				display: flex;
				align-items: center;
				list-style: none;

				li {
					width: 9px;
					height: 9px;
					background-color: #fff;
					border-radius: 50%;
					cursor: pointer;

					&.slick-active {
						background-color: #feb900;
					}

					&:not(:last-child) {
						margin-right: 24px;
					}
				}

				button {
					display: none;
				}
			}
		}

		&-button {
			&-prev,
			&-next {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 25px;
				height: 25px;
				border: none;
				background-color: transparent;
				cursor: pointer;

				svg {
					path {
						transition: 0.4s;
					}
				}

				&:hover {
					@media screen and (min-width: 992px) {
						svg {
							path {
								stroke: #a0a0b1;
							}
						}
					}
				}
			}

			&-prev {
				transform: rotate(180deg);
				margin-right: 30px;
			}

			&-next {
				margin-left: 30px;
			}
		}
	}

	&-slides {
		display: flex;
		justify-content: center;
		.slick-track {
			display: flex !important;
		}

		.slick-slide {
			height: inherit !important;
		}
	}

	&-slide {
		position: relative;
		background-color: #fff;
		color: inherit;
		max-width: 610px;
		min-height: 487px;
		cursor: pointer;
		margin-left: 10px;
		margin-right: 10px;

		@media screen and (max-width: 700px) {
			max-width: 100%;
			margin-right: 0;
			margin-left: 0;
		}

		&:not(:last-child) {
			margin-right: 20px;

			@media screen and (max-width: 700px) {
				margin-right: 0;
			}
		}

		&-footer {
			display: none;

			@media screen and (max-width: 700px) {
				display: flex;
				justify-content: center;
				margin-top: auto;
				position: absolute;
				bottom: 0;
				width: 100%;
				border-top: 1px solid #dfdfdf;
				padding: 16px 0;

				img {
					width: 75px;
					height: 63px;
					object-fit: contain;
				}
			}
		}

		&__top {
			display: flex;
			justify-content: space-between;
			padding: 24px 0;
			border-bottom: 1px solid #dfdfdf;

			&-right {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 171px;
				flex-shrink: 0;

				border-left: 1px solid #dfdfdf;

				@media screen and (max-width: 1550px) {
					width: 30%;
				}

				@media screen and (max-width: 700px) {
					display: none;
				}

				@media screen and (max-width: 500px) {
					display: none;
				}

				img {
					width: 75px;
					height: 63px;
					object-fit: contain;

					@media screen and (max-width: 1500px) {
						width: 55%;
						height: auto;
					}
				}
			}
		}

		&__body {
			padding: 59px 40px 50px;
			position: relative;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			max-height: 295px;
			overflow: hidden;

			@media screen and (max-width: 700px) {
				max-height: 250px;
			}

			@media screen and (max-width: 500px) {
				padding: 30px 20px;
			}

			@media screen and (max-width: 350px) {
				max-height: 200px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 32px;
				left: 40px;
				width: 30px;
				height: 20px;
				background: url("../../images/structure-optimization/icons/quote.png")
					no-repeat center / cover;

				@media screen and (max-width: 500px) {
					top: 12px;
					left: 20px;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100px;
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 1) 94%
				);
			}

			img {
				width: 30px;
				height: 20px;
			}

			p {
				font-style: italic;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;
				margin-top: 11px;
			}
		}

		&__client {
			display: flex;
			padding-left: 40px;
			padding-right: 20px;

			@media screen and (max-width: 550px) {
				padding-left: 24px;
				// flex-direction: column;
			}

			img {
				width: 91px;
				height: 91px;
				align-self: center;
				object-fit: cover;
				overflow: hidden;
				border-radius: 50%;
				flex-shrink: 0;

				@media screen and (max-width: 1500px) {
					width: 71px;
					height: 71px;
				}
				@media screen and (max-width: 1150px) {
					width: 51px;
					height: 51px;
				}

				@media screen and (max-width: 550px) {
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				margin-left: 24px;
				padding-top: 10px;
				max-width: 270px;

				&-name {
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
					color: #252525;
				}

				&-rank {
					margin-top: 10px;
					font-weight: 400;
					font-size: 16px;
					line-height: 125%;
					color: #5c5c5c;
				}
			}
		}
	}
}

.ws-block {
	padding-top: 17px;
	margin: 0 auto;
	max-width: 1194px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 30px;

	@media screen and (max-width: 700px) {
		padding-left: 0;
		padding-top: 7px;
	}

	.ws-block__item {
		@media screen and (max-width: 700px) {
			border: 1px solid #dfdfdf;

			&:not(:last-child) {
				border-bottom: none;
			}
		}
	}
	.ans-item:not(:last-child) {
		border-bottom: none;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-family: Gilroy, sans-serif;
		position: relative;
		margin-top: 30px;
		padding: 24px 37px;
		min-height: 220px;
		box-sizing: border-box;

		.ans-item-answer {
			@media screen and (min-width: 701px) {
				display: block;
				padding: 0;
				background-color: inherit;
				position: static;
			}
		}

		@media screen and (max-width: 700px) {
			margin-top: 0;
		}

		@media screen and (max-width: 700px) {
			padding: 0;
			border: 1px solid #dfdfdf;
			min-height: 0;
		}

		&:nth-child(odd) {
			width: 53%;
			max-width: 635px;

			@media screen and (max-width: 768px) {
				width: 100%;
				max-width: 100%;
			}
		}
		&:nth-child(even) {
			width: 47%;
			max-width: 564px;

			@media screen and (max-width: 768px) {
				width: 100%;
				max-width: 100%;
			}
		}

		&:nth-last-child(-n + 2) {
			min-height: 263px;

			@media screen and (max-width: 700px) {
				min-height: 0;
			}
		}

		&-header {
			display: none;
			align-items: center;
			background-color: #f3f3f3;
			width: 100%;
			min-height: 64px;
			padding: 0;

			&.ans-item-question--opened {
				@media screen and (max-width: 700px) {
					border-bottom: 1px solid #dfdfdf;
				}
			}

			&:hover {
				background-color: #f3f3f3;
			}

			@media screen and (max-width: 700px) {
				display: flex;
			}

			&-title {
				font-family: Gilroy, sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 15px;
				line-height: 135%;
				display: flex;
				align-items: center;
				color: #232323;
				margin-left: 16px;
				margin-right: auto;
			}

			&-num {
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: bold;
				font-size: 20px;
				line-height: 135%;
				color: #feb900;
				font-family: Gilroy, sans-serif;
				height: 100%;
				width: 40px;
				border-right: 1px solid #dfdfdf;
				flex-shrink: 0;
			}

			svg {
				margin-right: 16px;
				flex-shrink: 0;
			}
		}

		&-body {
			@media screen and (max-width: 700px) {
				background-color: #fff;
				padding: 16px;
				width: 100%;
				box-sizing: border-box;
			}

			&::before {
				display: none;
			}
		}

		&::after {
			content: "";
			position: absolute;
			left: -30px;
			right: 0;
			top: 0;
			height: 1px;
			width: calc(100% + 30px);
			background-color: #dfdfdf;

			@media screen and (max-width: 700px) {
				display: none;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: -30px;
			left: 0;
			bottom: 0;
			height: calc(100% + 30px);
			width: 1px;
			background-color: #dfdfdf;

			@media screen and (max-width: 700px) {
				display: none;
			}
		}

		&-title {
			font-weight: 600;
			font-size: 20px;
			line-height: 135%;
			br {
				@media screen and (max-width: $tabletMax) {
					display: none;
				}
			}

			@media screen and (max-width: 700px) {
				display: none;
			}
		}

		&-num {
			font-weight: bold;
			font-size: 20px;
			line-height: 135%;
			color: #feb900;
			font-family: Gilroy, sans-serif;
			position: absolute;
			top: -28px;
			left: -28px;

			@media screen and (max-width: 700px) {
				display: none;
			}
		}

		&-text {
			font-family: Gilroy, sans-serif;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			margin-top: 18px;
			max-width: 473px;

			@media screen and (max-width: 700px) {
				margin: 0;
			}
		}
	}
}

.ds-slick-prev,
.ds-slick-next {
	position: absolute;
	bottom: -55px;
	z-index: 10;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ds-slick-prev {
	left: calc(50% - 110px);

	transform: rotate(90deg);
}
.ds-slick-next {
	right: calc(50% - 110px);

	transform: rotate(90deg);

	svg {
		transform: scaleY(-1);
	}
}

.ds-block {
	display: flex;
	flex-wrap: wrap;

	&-mobile-counter {
		display: none;

		@media screen and (max-width: 700px) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: 24px;
			color: #5c5c5c;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
		}

		&__max {
			margin-top: -7px;
			margin-left: 2px;
			font-size: 13px;
		}
	}

	&__item {
		width: 33.333%;
		min-height: 406px;
		padding: 48px 0;
		box-sizing: border-box;

		@media screen and (max-width: $tabletMax) {
			width: 50%;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
		}

		&:nth-child(odd) {
			background-color: #fff;
		}
		&:nth-child(even) {
			background-color: #f3f3f3;
		}
		&:last-child {
			background-color: #feb900;
		}

		&--last {
			display: flex;
			align-items: center;
		}

		&-header {
			width: 100%;
			height: 44px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-left {
				background-color: #feb900;
				width: 100%;
				max-width: 116px;
				display: flex;
				justify-content: flex-end;
				padding: 6px;
			}

			&-right {
				position: relative;
				font-family: Gilroy, sans-serif;
				font-weight: bold;
				font-size: 20px;
				line-height: 150%;
				color: #ffe81b;
				height: 44px;
				width: 100%;
				max-width: 45px;
				display: flex;
				align-items: center;

				&::after {
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					width: 10px;
					height: 100%;
					background-color: #ffe81b;
				}
			}
		}

		&-text {
			margin-top: 48px;
			padding: 0 57px;
			font-family: Gilroy, sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			color: #5c5c5c;

			&--last {
				font-family: Gilroy, sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 25px;
				line-height: 150%;
				color: #232323;
				margin-top: 0;
			}
		}
	}
}
.ts-so-pic-wrapper {
	overflow: hidden;
	position: absolute;
	width: 527px;

    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 54px 0 0 0;
    bottom: 0;

	@media screen and (max-width: 1400px) {
		width: 424px;
		
	}
	
	@media screen and (max-width: 1025px) {
		position: relative;
		left: 0;
		margin: 0;
		bottom: 0;
		transform: translate(0, 0);
	}

	@media screen and (max-width: 500px) {
		width: 100%;
	}
	@media screen and (max-width: 400px) {
		min-height: 384px;
		width: 100%;
	

	}

	img {
		object-fit: contain;
		width: 100%;
		left: -50px;
		top: 15px;
		
		@media screen and (max-width: 400px) {
			position: absolute;
			min-height: 384px;
			width: 120%;
		}
	}
}

.pa-pic {
	overflow: hidden;
	position: relative;
	min-height: 418px;
	width: auto;
	transform: translate(0,0);
	left: 0;
	top: 0;

	img {
		position: static;
		object-fit: contain;
		width: 100%;

		@media screen and (max-width: 400px) {
			position: absolute;
			width: 107%;
			left: 0;
			top: 30px;
		}
	}
}
.so-info {
	&-section {
		min-height: 790px;
		background-color: #232323;
		display: flex;

		@media screen and (max-width: $tabletMax) {
			padding-top: 49px;
			min-height: 0;
		}
	}

	&-flex {
		display: flex;
		height: 100%;

		@media screen and (max-width: $tabletMax) {
			flex-direction: column;
		}

		&__left {
			width: 50%;
			width: 620px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media screen and (max-width: $tabletMax) {
				width: 100%;
				align-items: flex-start;
				text-align: left;
				padding-bottom: 30px;
			}
		}

		&__right {
			position: relative;
			width: 50%;

			@media screen and (max-width: $tabletMax) {
				width: 100%;
				display: flex;
				justify-content: center;
			}

			.ts-pic {
				@media screen and (min-width: 1026px) {
					top: 50%;
					left: 50%;
					transform: translate(-40%, -50%);
					margin-top: 0;
				}

				@media screen and (max-width: 700px) {
					margin-bottom: 37px;
				}
			}
		}
	}

	&__text {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #fff;

		@media screen and (max-width: $tabletMax) {
			font-size: 24px;
		}

		@media screen and (max-width: 700px) {
			font-size: 18px;
			line-height: 150%;
		}

		&:not(:first-child) {
			margin-top: 33px;
		}

		&--yellow {
			color: #feb900;
		}
	}
}

.pa {
	&-flex {
		width: 100%;
		display: flex;
		height: 100%;

		@media screen and (max-width: $tabletMax) {
			flex-direction: column;
			padding-bottom: 39px;
		}

		@media screen and (max-width: 700px) {
			padding-bottom: 0;
		}

		&__left {
			position: relative;
			height: 100%;
			width: 50%;
			background-color: #000000;
			box-sizing: border-box;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-bottom: 62px;

			@media screen and (max-width: $tabletMax) {
				width: 100%;
				padding: 64px 0;
				justify-content: space-between;
				padding-left: 139px;
				padding-bottom: 0;
			}
			@media screen and (max-width: 768px) {
				padding-left: 39px;
			}
			@media screen and (max-width: 700px) {
				padding-bottom: 0;
			}


			@media screen and (max-width: 550px) {
				padding-left: 0;
				flex-direction: column-reverse;
				align-items: flex-start;
			}

			&::after {
				content: "";
				position: absolute;
				right: -38px;
				top: 23.8%;
				border: 22px solid transparent;
				border-left: 17px solid #000000;

				@media screen and (max-width: $tabletMax) {
					display: none;
				}
			}

			span {
				font-family: Gilroy, sans-serif;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				text-transform: uppercase;
				color: #828282;
			}

			&-block {
				width: 374px;
				position: relative;
				z-index: 10;
				box-sizing: border-box;

				@media screen and (max-width: 1200px) {
					width: 100%;
					max-width: 250px;
				}
				@media screen and (max-width: $tabletMax) {
					max-width: 400px;
					padding-bottom: 64px;
				}

				@media screen and (max-width: 768px) {
					width: 100%;
					max-width: 250px;
				}

				@media screen and (max-width: 700px) {
					max-width: calc(100% - 15px * 2);
				}

				@media screen and (max-width: 550px) {
					margin: auto;
					display: flex;
					flex-direction: column;
					padding-left: 38px;
					padding-bottom: 0;
				}

				h4 {
					font-family: Gilroy, sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 56px;
					line-height: 125%;
					color: #ffffff;
					margin-top: 17px;

					@media screen and (max-width: 1200px) {
						font-size: 40px;
						max-width: 250px;
					}

					@media screen and (max-width: 768px) {
						font-size: 36px;
					}

					@media screen and (max-width: 700px) {
						font-size: 40px;
						line-height: 125%;
						margin-top: 8px;
					}
				}
				&-tag {
					background-color: #feb900;
					height: 72px;
					display: flex;
					align-items: center;
					padding-left: 56px;
					margin-top: 139px;
					transition: 0.3s;

					&:hover {
						background-color: rgba(255, 232, 27, 0.9);
					}

					@media screen and (max-width: 768px) {
						padding-left: 20px;
					}

					@media screen and (max-width: 700px) {
						display: none;
					}

					span {
						font-family: $fontP;
						font-weight: 500;
						font-size: 16px;
						line-height: 135%;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						color: #232323;
						display: inline-block;
						max-width: 222px;
					}
				}
			}
		}

		&__right {
			width: 50%;
			padding-top: 50px;
			padding-left: 96px;
			box-sizing: border-box;
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;

			@media screen and (max-width: $tabletMax) {
				width: 100%;
				padding: 40px 0 0;
				max-width: calc(100% - 39px * 2);
				margin: auto;
			}

			@media screen and (max-width: 700px) {
				max-width: calc(100% - 15px * 2);
			}

			.ts-btn-mobile {
				bottom: 0;
				display: none;
				

				@media screen and (max-width: 700px) {
					display: flex;
				}
			}

			ul {
				max-width: 510px;
				box-sizing: border-box;
				list-style: none;

				@media screen and (max-width: $tabletMax) {
					width: 100%;
					max-width: 100%;
				}

				@media screen and (max-width: 700px) {
					padding: 0 17px 100px;
				}

				li {
					font-family: Gilroy, sans-serif;
					font-weight: 600;
					font-size: 20px;
					line-height: 150%;
					color: #5c5c5c;
					display: flex;
					align-items: center;
					position: relative;
					padding-left: 23px;

					@media screen and (max-width: 700px) {
						font-weight: 500;
						font-size: 15px;
						line-height: 135%;
					}

					&:not(:first-child) {
						margin-top: 20px;
					}

					&::before {
						content: "";
						position: absolute;
						left: 0;
						top: 10px;
						width: 7px;
						height: 7px;
						flex-shrink: 0;
						border-radius: 50%;
						background-color: #feb900;

						@media screen and (max-width: 700px) {
							font-weight: 500;
							font-size: 15px;
							line-height: 135%;
							background-color: #5c5c5c;
							top: 5px;
						}
					}
				}
			}
		}
	}
}

.steps {
	&-mobile-counter {
		display: none;

		@media screen and (max-width: 700px) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin-top: 24px;
			color: #5c5c5c;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
		}

		&__max {
			margin-top: -7px;
			margin-left: 2px;
			font-size: 13px;
		}
	}
	&-cards {
		display: flex;
		flex-direction: column;
		margin-top: 48px;
	}

	&-card {
		box-sizing: border-box;
		position: relative;
		display: flex;
		align-items: center;
		padding: 32px 21px 39px 16px;
		background-color: #fff;
		overflow: hidden;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}

		@media screen and (max-width: 700px) {
			padding: 32px 24px 69px 16px;
			align-items: flex-start;
		}

		&:not(:first-child) {
			margin-top: 32px;
		}

		&__backdrop {
			width: 260px;
			font-family: Gilroy, sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 231px;
			line-height: 125%;
			text-align: left;
			color: #f3f3f3;
			position: absolute;
			right: 25px;
			bottom: -60%;
			z-index: 0;

			@media screen and (max-width: 768px) {
				bottom: -70px;
				font-size: 150px;
			}
			@media screen and (max-width: 700px) {
				top: -38px;
				right: -15px;
				font-size: 223px;
				z-index: 0;
				text-align: right;
				right: 0;
			}
		}

		img {
			width: 213px;
			height: 146px;
			margin-right: 32px;
			flex-shrink: 0;
			position: relative;
			z-index: 1;
		}

		&__content {
			ul {
				list-style: none;
				margin-top: 15px;
				max-width: 881px;

				li {
					display: flex;
					position: relative;
					padding-left: 20px;
					font-weight: normal;
					font-size: 16px;
					line-height: 135%;
					color: #5c5c5c;

					&:not(:first-child) {
						margin-top: 10px;
					}

					&::before {
						content: "";
						position: absolute;
						left: 0;
						top: 10px;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background-color: #5c5c5c;
					}
				}
			}
		}

		&__title {
			font-family: Gilroy, sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 135%;
			color: #232323;

			@media screen and (max-width: 768px) {
				text-align: center;
				margin-top: 30px;
			}
			@media screen and (max-width: 700px) {
				max-width: 200px;
				text-align: left;
				margin-top: 30px;
				font-size: 18px;
			}
		}
	}
}

.rs-flex {
	margin-top: 56px;
	display: flex;

	@media screen and (max-width: $tabletMax) {
		flex-direction: column;
		margin-top: 15px;
	}

	@media screen and (max-width: 700px) {
		margin-top: 7px;
		width: 100%;
	}

	&__indicator {
		display: none;

		@media screen and (max-width: 700px) {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 24px;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border: 1px solid #232323;
			border-radius: 3px;
			box-sizing: border-box;
		}

		&::after,
		&::before {
			content: "";
			width: 12px;
			height: 2px;
			background-color: #232323;
		}

		&::after {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 2px;
			height: 12px;
			transform: translate(-50%, -50%);
			background-color: #232323;
		}
	}

	.rs-item {
		@media screen and (max-width: 700px) {
			padding: 0;
		}

		&-header {
			pointer-events: none;

			@media screen and (max-width: 700px) {
				padding: 16px 54px 16px 16px;
				background-color: #feb900;
				pointer-events: all;

				&:hover {
					background-color: #feb900;
				}
			}
		}

		&-content {
			display: flex;
			flex-direction: column;

			&::before {
				display: none;
			}

			@media screen and (max-width: 700px) {
				padding: 24px 24px 56px 16px;
				display: none;
			}
		}

		&:not(:last-child) {
			border-bottom: none;
		}
	}

	ul {
		list-style: none;

		li {
			display: flex;
			position: relative;
			padding-left: 25px;
			font-size: 16px;
			line-height: 150%;
			color: #232323;

			@media screen and (max-width: 700px) {
				font-size: 15px;
				line-height: 135%;
			}

			&:not(:first-child) {
				margin-top: 16px;
			}

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 7px;
				width: 7px;
				height: 7px;
				background-color: #feb900;
				border-radius: 50%;
			}
		}
	}

	&__left {
		width: 50%;
		max-width: 610px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		min-height: 528px;
		padding-left: 40px;
		padding-right: 70px;
		box-sizing: border-box;
		margin-right: 20px;

		@media screen and (max-width: $tabletMax) {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			min-height: 0;
			padding: 40px;
		}

		ul {
			margin-top: 30px;

			@media screen and (max-width: 700px) {
				margin-top: 0;
			}
		}
	}

	&__right {
		box-sizing: border-box;
		max-width: 610px;

		@media screen and (max-width: $tabletMax) {
			width: 100%;
			max-width: 100%;
			margin-top: 20px;
		}

		@media screen and (max-width: 700px) {
			margin-top: 4px;
		}

		ul {
			margin-top: 10px;

			@media screen and (max-width: 700px) {
				margin-top: 0;
			}
		}

		&-top,
		&-bottom {
			padding: 40px;
			background-color: #fff;
			box-sizing: border-box;
		}

		&-bottom {
			margin-top: 20px;
			min-height: 310px;

			@media screen and (max-width: 700px) {
				min-height: 0;
				margin-top: 4px;
			}
		}
	}

	&__title {
		position: relative;
		font-family: Gilroy, sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 135%;
		max-width: 407px;

		@media screen and (max-width: 700px) {
			font-size: 16px;
			line-height: 135%;
			max-width: 100%;
		}

		&.rs-item--opened {
			.rs-flex__indicator {
				&::after {
					display: none;
				}
			}
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: 150%;
		color: #828282;
		margin-top: 16px;

		@media screen and (max-width: 700px) {
			display: none;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
		color: #232323;
		margin-top: 20px;
		max-width: 477px;
		font-weight: normal;

		@media screen and (max-width: 700px) {
			margin-top: 0;
		}
	}
}

.rs__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
