.top-section--uo-page{
	.ts-flex__left{
		padding-top: 82px;
		width: 550px;
		padding-bottom: 96px;
	}
	.ts-flex__right{
		width: calc(100% - 550px);
	}
	.ts-heading {
		margin-bottom: 39px;
	}
	.ts-btn {
		margin-top: 59px;
	}

}
