@media screen and (min-width: $desktopMin) {
	.top-section--upr-ot {
		overflow-x: hidden;
	}

	.sp-block--uprotch {
		flex-wrap: wrap;

		.sp-block-item {}
	}

	.wcu-block--uprotch {
		flex-wrap: wrap;
		margin-left: -5px;
		margin-right: 5px;

		.wcu-block-item {
			width: calc(30.45% - 10px);
			margin: 0 5px;
			display: flex;
			box-sizing: border-box;
			margin-bottom: 22px;

		}

		.wcu-block-item__icon {
			min-width: 84px;
			margin-right: 10px;
			margin-right: 23px;
		}

		.wcu-block-item__title {
			margin-top: 0;
		}
	}

	//////////////////////////
	.hww-block-item--fw {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		background: #FFFFFF;
		border-radius: 20px;
		padding: 40px 64px 56px 64px;





		.hww-block-item-top__text {
			padding-top: 0;
			width: unset;
			text-align: left
		}

		.hww-block-item-step {}

		.hww-block-item-duration {
			justify-content: flex-start;
			margin-left: -27px;
		}


		.hww-block-item-title {
			margin-top: 31px;
		}

		.hww-block-item-desc {}

		ul {
			margin-top: 19px;
		}

	}

	.hww-block-item-fw-left {
		padding-right: 25px;
		width: 50%;
		min-width: 50%;
		box-sizing: border-box;
	}

	.hww-block-item-fw-pic {
		img {
			max-width: 100%;
		}
	}

	.hww-block-item-fw-right {
		padding-left: 74px;
		width: 50%;
		min-width: 50%;
		box-sizing: border-box;
	}

	///////////////////////////////////

	.wwsy-uprotch--tablet-mobile,
	.wwsy-uprotch-mobile-counter {
		display: none;
	}

	.wwsy-uprotch {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 36px;
	}

	.wwsy-uprotch-item {
		width: 25%;
		min-height: 252px;
		padding: 48px 20px 20px 48px;
		box-sizing: border-box;
	}

	.wwsy-uprotch-item:nth-child(1) {
		border-radius: 20px 0 0 0;
	}

	.wwsy-uprotch-item:nth-child(4) {
		border-radius: 0 20px 0 0;
	}

	.wwsy-uprotch-item:nth-last-child(1) {
		border-radius: 0 0 20px 0;
	}

	.wwsy-uprotch-item:nth-last-child(4) {
		border-radius: 0 0 0 20px;
	}

	.wwsy-uprotch-item:nth-child(8n) {
		background: #DCDAEA;
	}

	.wwsy-uprotch-item:nth-child(8n-7) {
		background: #FFFFFF;
	}

	.wwsy-uprotch-item:nth-child(8n-1),
	.wwsy-uprotch-item:nth-child(8n-4) {
		background: #E6E5F1;
	}

	.wwsy-uprotch-item:nth-child(8n-2),
	.wwsy-uprotch-item:nth-child(8n-5) {
		background: #F0F0F8;
	}

	.wwsy-uprotch-item:nth-child(8n-3),
	.wwsy-uprotch-item:nth-child(8n-6) {
		background: #F9F9FC;
	}


	.wwsy-uprotch-item::before {
		content: '';
		display: block;
		background: url(../img/chmark.svg) no-repeat center center;
		background-size: contain;
		width: 27px;
		height: 19px;
	}

	.wwsy-uprotch-item__text {
		width: 204px;
		max-width: 100%;
		font-size: 16px;
		line-height: 150%;
		margin-top: 24px;
		b{
			font-weight: 500;
		}
	}

	//////////////////////////

	.hww-block-item-fw-content-mobile {
		display: none;
	}

}

@media screen and (max-width: $tabletMax) {
	.top-section--upr-ot {
		.ts-flex__left {
			padding-top: 51px;
			width: 100%;
			box-sizing: border-box;
			padding-bottom: 13px;
		}

		.ts-heading {
			width: 550px;
			max-width: 100%;
			margin: 0 auto;
		}

		.ts-text-mobile {
			margin-top: 17px;
			font-size: 18px;
			line-height: 135%;
		}


		.ts-pic {
			position: static;
			margin-top: 0;
		}

		.ts-flex__right {
			width: 461px;
			max-width: 100%;
			margin-bottom: -88px;
		}

		.ts-btn {
			margin-top: 40px;
		}
	}

	.result-section--uprot {
		padding-top: 170px;

		.rs-block-row {
			display: block;
		}
	}

	.rs-synchro-slider-block--uprotch {
		margin-top: 22px;
	}

	.rs-ssb-thumbs {

		.slider-white-next,
		.slider-white-prev {
			margin-top: -18.5px;
			width: 37px;
		}
	}

	.rs-triple-ptd {
		margin-top: 39px;
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;

		.slider-white-next,
		.slider-white-prev {
			margin-top: -18.5px;
			width: 37px;
			top: 16vw;
		}

		.rs-triple-ptd-item {
			width: unset;
			margin: 0;
		}

		.rs-multi-pic-flex-item::before {
			padding-top: 43.4%;
		}
	}

	.rs-triple-ptd-item {
		background: #F5F6FB;
		padding-bottom: 20px;

		.rs-multi-pic-flex-item-inner {
			padding: 0px 61px;
		}

		.rs-multi-pic-flex-item-img-wrap::before {
			padding-top: 34.8%;
		}

		.rs-multi-pic-flex-item-text {
			padding-bottom: 23px;
		}

		.rs-multi-pic-flex-item-img-wrap::before {
			padding-top: 40.8%;
		}

		.rs-multi-pic-flex-item::after {
			width: 64px;
			height: 64px;
			margin-left: -32px;
		}
	}

	.rs-triple-ptd-item-title,
	.rs-triple-ptd-item-description {
		padding: 0 40px;

	}

	.rs-triple-ptd-item-title {
		margin-top: 27px;
	}

	.rs-triple-ptd-item-description {
		margin-top: 8px;
	}

	.rs-triple-ptd--uprotch {
		padding-bottom:31px;
		margin-bottom: 0px;
	}

	.wwsy-uprotch {
		display: none;
	}

	.wwsy-uprotch-items-group {
		display: flex !important;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 36px;
	}

	.wwsy-uprotch-item {
		width: 50%;
		min-height: 265px;
		padding: 56px 30px 20px 48px;
		box-sizing: border-box;
	}

	.wwsy-uprotch-item::before {
		content: '';
		display: block;
		background: url(../img/chmark.svg) no-repeat center center;
		background-size: contain;
		width: 27px;
		height: 19px;
	}

	.wwsy-uprotch-item__text {
		width: 204px;
		max-width: 100%;
		font-size: 16px;
		line-height: 150%;
		margin-top: 24px;
	}

	.wwsy-uprotch-arrow-prev,
	.wwsy-uprotch-arrow-next {
		position: absolute;
		bottom: -63px;
		cursor: pointer;
	}

	.wwsy-uprotch-arrow-prev {
		left: calc(50% - 123px);
	}

	.wwsy-uprotch-arrow-next {
		right: calc(50% - 123px);
	}

	.wwsy-uprotch-mobile-counter {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 36px;
		color: #A0A0B1;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
	}

	.wwsy-uprotch-mobile-counter__current {}

	.wwsy-uprotch-mobile-counter__slash {}

	.wwsy-uprotch-mobile-counter__max {
		margin-top: -7px;
		margin-left: 2px;
		font-size: 13px;
	}


	.how-we-work-section--uprotch {
		margin-top: 76px;
	}

	.hww-block-item--fw {}

	.hww-block-item-fw-content-desktop {
		display: none;
	}

	.how-we-work-section--uprotch {
		padding-bottom: 61px;
	}

	.cat-block--uprotch .cat-block-sub-title {
		margin-bottom: 35px;
	}

	.cat-block--uprotch .cat-block-top-right {
		.cat-block-title {
			margin-bottom: 30px;
		}

		.cat-block-sub-title {
			display: none;
		}
	}
}


@media screen and (min-width:$tabletMin) {
	.mobile-unwrap {
		display: none;
	}
}
@media screen and (max-width:$tabletMax){
	.hww-block-item-fw-pic img {
		padding: 0 !important;
	}
}
@media screen and (min-width:$tabletMin) and (max-width:$tabletMax) {

	.hww-block-item--fw {
		box-sizing: border-box;
		padding: 32px 40px 56px 64px;
	}

	.hww-block-item-fw-left {
		display: flex;
		justify-content: space-between;

	}

	.hww-block-item-fw-pic {
		width: calc(100% - 140px);

		img {
			max-width: 100%;
			width: 364px;
			height: auto;
		}
	}

	.hww-block-item-fw-right {}

	////////////////////////////////////


	.wwsy-uprotch-item:nth-child(1) {
		border-radius: 20px 0 0 0;
	}

	.wwsy-uprotch-item:nth-child(2) {
		border-radius: 0 20px 0 0;
	}

	.wwsy-uprotch-item:nth-last-child(1) {
		border-radius: 0 0 20px 0;
	}

	.wwsy-uprotch-item:nth-last-child(2) {
		border-radius: 0 0 0 20px;
	}


	.wwsy-uprotch-item:nth-child(1) {
		background: #FFFFFF;
	}

	.wwsy-uprotch-item:nth-child(2),
	.wwsy-uprotch-item:nth-child(3) {
		background: #F9F9FC;
	}


	.wwsy-uprotch-item:nth-child(4) {
		background: #F0F0F8;
	}

}


@media screen and (max-width:$phoneMax) {
	.top-section--upr-ot .ts-flex__left {
		padding-top: 42px;
	}

	.top-section--upr-ot .ts-text-mobile {
		font-size: 16px;

		p:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	.top-section--upr-ot .ts-pic {
		bottom: 0;
		left: -17px;
		width: 95%;
		max-width: 100%;
	}

	.top-section--upr-ot .ts-btn {
		margin-top: 31px;
	}

	.top-section--upr-ot .ts-flex__right {
		margin-bottom: -79px;
	}

	.result-section--uprot {
		padding-top: 145px;
	}

	.rs-ssb-thumbs {
		display: none;
	}

	.rs-ssb-main__item::before {
		content: '';
		display: block;
		padding-top: 82.2%;
	}

	.rs-triple-ptd {
		margin-top: 29px;
	}

	.rs-triple-ptd .rs-multi-pic-flex-item::before {
		padding-top: 58.3%;
	}

	.rs-triple-ptd-item .rs-multi-pic-flex-item-img-wrap::before {
		padding-top: 56.7%;
	}
	.rs-triple-ptd-item .rs-multi-pic-flex-item::after{
		width: 57px;
		height: 57px;
		top: 52%;
		margin-left: -28px;
	}
	.rs-triple-ptd-item .rs-multi-pic-flex-item-inner {
		padding: 0 52px;
	}

	.rs-triple-ptd .slider-white-next,
	.rs-triple-ptd .slider-white-prev {
		margin-top: -18.5px;
		width: 29px;
		top: 27vw;
	}

	.rs-triple-ptd-item-title {
		margin-top: 25px;
		font-size: 18px;
		line-height: 135%;
	}
	.rs-triple-ptd-item-description {
		margin-top: 11px;
	}
	.rs-triple-ptd-item-description,
	.rs-triple-ptd-item-title {
		padding: 0 24px;
	}


	.rs-triple-ptd--uprotch {
		padding-bottom: 35px;
		margin-bottom: 35px;
	}

	.rs-block-row-2--uprotch .rs-block-title {
		width: 285px;
	}

	.rs-block-row-2--uprotch {
		.rs-block-digit-2 {
			top: -26px;
			left: 242px;
		}
	}


	.mobile-unwrap {
		position: absolute;
		bottom: 0;
		left: -15px;
		width: calc(100% + 30px);
		height: 160px;
		transition-duration: .5s;
		opacity: 1;
		background: linear-gradient(360deg, #fff 26%, rgba(255, 255, 255, 0) 100%);

		span {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: calc(100% - 30px);
			margin-top: 129px;
			margin-right: 15px;
			margin-left: 15px;
			padding-bottom: 10px;
			cursor: pointer;
			color: #2A2FFF;
			border-bottom: 1px solid #DADAE8;
			font-size: 16px;
			line-height: 125%;

			&::after {
				display: block;
				width: 18px;
				height: 8px;
				content: '';
				background: url(../img/unwrap-bottom-blue-arrow.svg) no-repeat center center;
				background-size: cover;
			}
		}

		&--dn {
			display: none;
		}
	}
	.customized-ul-wrap.customized-ul-wrap--uo li:not(:last-child) {
		margin-bottom: 18px;
	}

	.result-section--uprot {    padding-top: 144px;
		padding-bottom: 8px;

		.rs-block-row {
			position: relative;
			display: flex;
			flex-direction: column;
			height: auto;
			transition-duration: .5s;
			overflow: hidden;
			max-height: 1500px
		}

		.rs-block-row-1 {

			.rs-block-row__right {
				order: 99;
			}
		}

		.rs-block-row-2--uprotch {
			margin-top: 0;
			padding-top: 15px;
		}

		.rs-block-row__right {
			order: -1;
		}

		.rs-block-row-mobile-hidden {
			max-height: 257px;
		}

		.rs-block-row-3 {
			padding-top: 42px;
		}
	}

	.rs-block-digit-3--uprotch {
		display: block;
		left: 242px;
		top: -24px;
	}

	//////////////////////
	.we-will-suit-you-section--uprotch{
		background: none;
		padding-top: 27px;
	}
	.wwsy-uprotch-items-group {
		flex-direction: column;
	}

	.wwsy-uprotch-item {
		padding: 0;
		min-height: 119px;
		width: 100%;
		display: flex;
		background: #F5F6FB;
		padding: 31px 24px 25px 24px;

		&:first-child {
			border-radius: 20px 20px 0 0;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #DADAE8;
		}

	}

	.wwsy-uprotch-item__text {
		margin-top: 0;
		flex-grow: 1;
		font-size: 15px;
		line-height: 135%;
	}

	.wwsy-uprotch-item::before {
		margin-right: 16px;
		min-width: 27px;
		margin-top: 5px;
	}

	.wwsy-uprotch-mobile-counter {
		margin-top: 26px;
	}

	.wwsy-uprotch-arrow-next,
	.wwsy-uprotch-arrow-prev {
		bottom: -52px;
	}

	//////////////////////

	.hww-block-item--fw {
		width: 100%;
		padding: 0;
		border-radius: 0;

		ul {

			margin-top: 19px;
		}
	}

	.hww-block-item-title {
		margin-top: 21px;
	}

	.hww-block-item-fw-left {
		display: flex;
		flex-direction: column-reverse;

		.hww-block-item-fw-pic {
			position: relative;
			width: 100%;
			margin-top: 19px;

			&::before {
				display: block;
				padding-top: 63.8%;
				content: '';
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}

		.hww-block-item-fw-content-mobile {
			order: 0;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			width: 100%;
			padding-top: 0;
		}
	}

	.hww-block-item-step {
		margin-right: 10px;
		font-size: 22px;
		line-height: 1;
	}

	.hww-block-item-duration {
		line-height: 1;

		&::before {
			display: inline;
			width: unset;
			height: unset;
			margin: 0;
			content: '(';
			background: none;
		}

		&::after {
			content: ')';

		}
	}

	.how-we-work-section--uprotch {
		margin-top: 0;
		padding-top: 11px;
		padding-bottom: 4px;

		.default-h2 {
			width: 210px;
			margin: 0 auto;
		}

	}

	.why-choose-us-section--uprotch {
		padding-top: 58px;

		.default-h2 {
			width: 266px;
			max-width: 100%;
		}

		.wcu-block-item__title,
		.wcu-block-item__text {
			text-align: center;
		}
	}

	.why-choose-us-section--uprotch {
		padding-bottom: 30px;
	}

	////////////////////////
	.cost-and-terms-section--uprotch {
		padding-top: 38px;
		margin-top: -14px;
	}

	.cat-block--uprotch .cat-block-title {
		margin-bottom: 8px;
	}

	.cat-block--uprotch .cat-block-sub-title {
		margin-bottom: 28px;
	}
}

@media screen and (max-width:377px) {
	.top-section--upr-ot .ts-flex__right {
		margin-bottom: -100px;
	}
}
@media screen and (max-width:335px) {

	.rs-block-digit-3--uprotch,
	.rs-block-row-2--uprotch .rs-block-digit-2 {
		left: auto;
		right: 0;
	}
}
