.top-section--upr-ot {
	.ts-flex__left {
		padding-top: 82px;
		width: 550px;
		padding-bottom: 96px;
	}

	.ts-flex__right {
		width: calc(100% - 550px);
	}

	.ts-heading {
		margin-bottom: 39px;
	}

	.ts-btn {
		margin-top: 59px;
	}

	.ts-pic {
		bottom: 0;
		left: -17px;
		width: 780px;
		max-width: 113%;
	}
}


//////////////////////////
.result-section--uprot {
	padding-top: 50px;
}

.rs-block-row__right {}

.rs-synchro-slider-block {}

.rs-ssb-main {
	width: 100%;

}

.rs-ssb-main__item {
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: 59.535655058%;
	}

	.video-yt {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		pointer-events: all;

		&::after {
			content: '';
			display: block;
			width: 64px;
			height: 64px;
			background: url(../img/play.svg) no-repeat center center;
			background-size: contain;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -32px;
			margin-top: -32px;
			z-index: 1;
			transition-duration: .2s;
			pointer-events: none;
		}

		&:hover {
			&::after {
				transform: scale(1.1);
			}
		}

		&.video-yt-has-iframe {
			&::after {
				display: none;
			}
		}
	}

	img {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		object-position: center center;
		object-fit: cover;
	}
}

.rs-ssb-thumbs {
	width: 100%;
	margin-top: 2px;

	.slick-list {
		margin: 0 0 0 -1px;
	}
}

.rs-ssb-thumbs-item {
	padding: 0 1px;
	position: relative;
	cursor: pointer;

	&--video {
		&::after {
			content: '';
			display: block;
			width: 39px;
			height: 39px;
			background: url(../img/play.svg) no-repeat center center;
			background-size: contain;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -19.5px;
			margin-top: -19.5px;
			z-index: 1;
		}
	}
}

.rs-ssb-thumbs-item-inner {
	width: 100%;
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: 71.2%;
	}

	img {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		object-position: center center;
		object-fit: cover;
	}

}

.slider-white-prev,
.slider-white-next {
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 29px;
	margin-top: -14.5px;
	transition-duration: .2s;

	svg {
		width: 100%;
		height: auto;
	}

	&:hover {
		opacity: .7;
	}
}

.slider-white-prev {
	left: 16px;
}

.slider-white-next {
	right: 16px;
}


/////////////////////
.rs-triple-ptd {
	margin: 38px -23px 0;
	display: flex;

	&--uprotch {

		border-bottom: 1px solid #DADAE8;
		padding-bottom: 43px;
		margin-bottom: 24px;
	}
}

.rs-triple-ptd-item {
	margin: 0 23px;
	width: calc(100% - 46px);

	.rs-multi-pic-flex-item {
		display: block;
		width: 100%;
		margin: 0;
	}

	.rs-multi-pic-flex-item::before {
		padding-top: 58%;
	}

	.rs-multi-pic-flex-item-inner {
		padding: 0 40px;
	}

	.rs-multi-pic-flex-item-text {
		font-size: 14px;
		line-height: 1;
		padding-bottom: 16px;
	}

	.rs-multi-pic-flex-item-img-wrap::before {
		padding-top: 56.8%;
	}

	.rs-multi-pic-flex-item::after {
		width: 54px;
		height: 54px;
		margin-left: -27px;
		top: 49%;
	}
}

.rs-triple-ptd-item-title {
	font-family: $fontG;
	font-weight: 500;
	font-size: 20px;
	line-height: 135%;
	color: #323340;
	margin-top: 33px;
}

.rs-triple-ptd-item-description {
	font-size: 16px;
	line-height: 150%;
	color: #323340;
	margin-top: 14px;

	p {
		margin-bottom: 7px;
	}
}


.rs-block-row-2--uprotch {}



/////////////////////
.how-we-work-section--uprotch {
	padding-bottom: 88px;
}


///////////////
.why-choose-us-section--uprotch {

	padding-bottom: 46px;

}


.cat-block--uprotch {
	.cat-block-title {
		margin-bottom: 2px;
	}

	.cat-block-sub-title {
		font-size: 16px;
		line-height: 135%;
		margin-bottom: 28px;
		color: #9D9EBF;
	}

}

.customized-ul-wrap.customized-ul-wrap--uo li:not(:last-child) {
    margin-bottom: 13px;
}
